template(name='home')
    img.ui.large.centered.image(src="{{c.url 'mmm_logo_small' width=400 height=400}}")
    .ui.center.aligned.large.header Mini Money Management
    .ui.center.aligned.small.header Teaching Responsibility  |  Influencing Young Minds  |  Teaching Financial Literacy to the Youth of the World

    //- +home_slider
    .ui.vertical.stripe.segment
        .ui.middle.aligned.stackable.grid.container
            .ui.center.aligned.header MMM's mission is to empower K-5 members with money management mindset and skills, so that they can make effective financial decisions for themselves, their families, and their communities
            .row
                .eight.wide.column
                    .ui.inline.header 
                        |stats
                    if is_admin
                        .ui.icon.button.recalc_stats
                            i.refresh.icon
                    div
                    .ui.large.list
                        .item 
                            //- i.users.icon
                            //- +ismall name='groups'
                            |#{hs.user_count} users
                        .item 
                            //- i.user.shield.icon
                            //- +ismall name='leader'
                            |#{hs.leader_count} leaders
                        .item 
                            //- +ismall name='group'
                            |#{hs.group_count} groups
                        //- .item 
                        //-     |#{hs.donor_count} donors
                        //- .item $#{hs.credit_count} money raised
                        .item 
                            //- +ismall name='donate'
                            |#{hs.debit_count} debits
                        .item 
                            //- +ismall name='donate'
                            |#{hs.credit_count} credits
                        //- .item #{hs.product_count} products in marketplace

                .eight.wide.right.floated.column
                    .ui.small.header sponsored by
                    with home_sponsor
                        a(href="https://www.transamerica.com/individual/" target="_window" title='visit homepage')
                            img.ui.rounded.image(src="{{c.url image width=400 height=400}}")
                    .ui.hidden.divider
                    a.ui.small.compact.button(href="/sponsorship")
                        |become a sponsor
            .row
                .eight.wide.column
                    p
                        |we believe that members, regardless of background, deserve preparation for real-world financial challenges
                    //- p
                    //-     |MMM’s mission is to empower K-5 leaders and members with money management mindset and skills, so that they can make effective financial decisions for themselves, their families and their communities. 
                    //- p
                        //- |minimoney is a group economy app that integrates seamlessly into the group to empower members with real-world financial literacy
                    a.ui.huge.fluid.center.aligned.button(href='/choose_user_type') sign up
                    //- p
                    //-     | Yes that&apos;s right, you thought it was the stuff of dreams, but even bananas can be bioengineered.
                .eight.wide.right.floated.column
                    p
                        |minimoney is an integrated, elementary group-economy app that is engaging for members and low-effort for leaders while simulating real-world financial challenges
                    //- .ui.small.center.aligned.header a group culture and incentive tool
        .ui.divider
        .ui.stackable.grid
            .four.column.center.aligned.row
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='shopping-cart'
                        |member marketplace
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='credit-card'
                        |credit card account
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='qr-code'
                        |qr code money
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='ticket-purchase'
                        |buying and selling assets
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='invoice'
                        |automated bills
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='check-book'
                        |digital checkbooks and wire order
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='money-box'
                        |savings accounts
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='debt'
                        |loans
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='duration-finance'
                        |interest
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='group-task'
                        |group accountability
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='seesaw'
                        |encourage good behavior
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='bank-building'
                        |simulated centralized bank
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='earth-planet'
                        |companys and diversity
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='total-sales-1'
                        |teach financial literacy
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='line-chart'
                        |results
                .column
                    .ui.icon.header
                        i.icon 
                            +i name='friends'
                        |proven model
    .ui.vertical.stripe.quote.segment
        .ui.equal.width.stackable.internally.celled.grid
            .center.aligned.row
                .column
                    //- h3 &quot;What a Company&quot;
                    h4.f7 &quot;Please get this going!!!  I. Am. So. Excited!!! This would be extremely important and super beneficial to have in any group.&quot;

                    //- p That is what they all say about us
                .column
                    h4.f7 &quot;I think it is really important because my members have absolutely no idea about real life situations in regards to money and that makes me nervous for them.&quot;
                    //- p
                    //- img.ui.avatar.image(src='assets/images/avatar/nan.jpg')
                    //- b Nan
                    //- |  Chief Fun Officer Acme Toys
    .ui.vertical.stripe.segment
        .ui.stackable.padded.grid
            .eight.wide.column
                h3.ui.header problem
                p
                    |millenials have an average of $28,000 in debt with 25% being credit card debt
                p
                    |the Council for Economic Education released national financial literacy standards for grades K-12, recently adopted by Colorado
                p
                    |there are limited curriculum and other resources available to leaders to achieve these standards
                p
                    |the curriculum available uses an old-fashioned way of teaching which typically includes 20 hours of class time
            .eight.wide.column
                h3.ui.header solution
                p
                    |mini money management is an experiential learning resource for leaders and members to use
                p
                    |it meets all the financial literacy standards in Elementary companys (K-5)
                p
                    |it is designed to be used  in the normal course of the company day  to provide  real-life money management experiences for the members
  
      
//- template(name='footer')      
//-     .ui.vertical.footer.segment
//-         .ui.container
//-             .ui.stackable.divided.equal.height.stackable.grid
//-                 .three.wide.column
//-                     h4.ui.header About
//-                     .ui.link.list
//-                         a.item(href='#') Sitemap
//-                         a.item(href='#') Contact Us
//-                         a.item(href='#') Religious Ceremonies
//-                         a.item(href='#') Gazebo Plans
//-                 .three.wide.column
//-                     h4.ui.header Services
//-                     .ui.link.list
//-                     a.item(href='#') Banana Pre-Order
//-                     a.item(href='#') DNA FAQ
//-                     a.item(href='#') How To Access
//-                     a.item(href='#') Favorite X-Men
//-                 .seven.wide.column
//-                     h4.ui.header Footer Header
//-                     p
//-                     | Extra space for a call to action inside the footer that could help re-engage users.
