template(name='nav')
    .ui.attached.borderless.topnav.menu
        if is_loading
            .item
                i.big.loading.notched.circle.icon
        if currentUser
            a.compact.item(href='/grid' class="{{isActivePath '/grid'}}") 
                img.ui.tiny.compact.image(src="{{c.url 'mmm_logo_small' height=150 }}" title='Home')
            a.item(href='/schools' title='schools')
                +ismall name='school'
                span.mobile.hidden &nbsp; schools
            a.item(href='/classrooms' title='classrooms')
                +ismall name='class'
                span.mobile.hidden &nbsp; classrooms
            //- a.item(href='/teachers' title='teachers')
            //-     +ismall name='teacher'
            //-     //- |teachers
            //- a.item(href='/students' title='students') 
            //-     +ismall name='students'
            //-     span.mobile.hidden &nbsp; students
        
        else
            a.compact.item(href='/' class="{{isActivePath '/'}}") 
                img.ui.tiny.compact.image(src="{{c.url 'mmm_logo_small' height=200 }}" title='Home')
            //- |Home
        //- a.item(href='/schools' title='schools') 
        //-     +ismall name='school'
        //-     schools
        //- a.item(href='/classroom/i4mdNbN8ykJcr6w9q/dashboard' title='classrooms')
        //-     +ismall name='dashboard'
        unless currentUser
            a.ui.item(href='/p/about')
                |about
            a.item(href='/classrooms' title='classrooms')
                +ismall name='class'
                span.mobile.hidden &nbsp; classrooms
            
            a.item(href='/schools')
                +ismall name='school'
                span.mobile.hidden &nbsp; schools
            a.item.set_reference(href='/m/reference')
                +ismall name='university'
                span.mobile.hidden &nbsp; reference
            //- a.ui.item(href='/donations')
            //-     |donations
            //- a.ui.item(href='/teachers')
            //-     +ismall name='teacher'
            //-     span.mobile.hidden &nbsp; teachers
            //- a.ui.item(href='/p/parents')
            //-     |parents
        .right.menu
            a.icon.item.set_reference(href='/m/reference' title='reference')
                +ismall name='university'
            a.icon.item.set_tool(href='/m/tool' title='tool')
                +ismall name='calculator'

            unless currentUser
                .item
                    a.ui.button(href='/login' title='login') log in
                .item
                    a.ui.teal.button sign up
            if currentUser
                if is_admin
                    a.item(href='/admin' title='admin')
                        //- +i name='user-shield'
                        i.shield.icon
                        |admin
                if is_dev
                    a.icon.item.set_models(href="/m/model")
                        i.database.icon
                unless logging_out
                    a.item(href="/chat")
                        i.chat.outline.large.icon
                    //- a.item(href="/notifications")
                    //-     i.bell.grey.large.outline.icon
                    //- a.item(href="/mail")
                    //-     //- +i name='envelope'
                    //-     i.envelope.grey.large.outline.icon
                    a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title=user_nav_button_title)
                        if currentUser.profile_image_id
                            img.ui.avatar.inline.image(src="{{c.url currentUser.profile_image_id width=100 height=100 gravity='face' crop='fill'}}")
                        else
                            +ismall name='user-male'
                        span.mobile.hidden #{currentUser.name} #{currentUser.credit}
                    a#logout.item(href='#' title='log out')
                        i.sign.out.icon
                if logging_out
                    .item
                        i.loading.circle.notch.icon


template(name='footer')
    .ui.stackable.secondary.padded.grid.segment
        .row
            .three.wide.column
                img.ui.tiny.inline.image(src="{{c.url 'bcorp' }}")
                img.ui.small.image(src="{{c.url 'stripe_badge' }}")
            .three.wide.column
                a.ui.button(href='/donate') donate
                .ui.link.large.list
                    a.item(href='/m/blog') blog
                    a.item(href='/p/about') about
                    a.item(href="/p/terms") terms of service
                    a.item(href='/p/privacy') privacy policy
                    a.item(href='/stats') stats
                    a.item(href='/team') our team
                    a.item(href='/contact') contact
            .three.wide.column
                .ui.link.large.list
                    a.item(href='/p/classrooms') classrooms
                    a.item(href='/p/investors') investors
                    a.item(href='/p/teachers') teachers
                    a.item(href="/p/parents") parents
                    a.item(href='/p/students') students
                    a.item(href='/p/schools') schools
                    a.item(href='/p/administrators') administrators
                    a.item(href='/p/donors') donors
                +add_button label='bug' model='bug' icon='bug'
                if is_dev    
                    with current_user
                        +role_switcher
            .seven.wide.column
                //- unless currentUser
                //-     a.ui.big.button(href='/login')
                //-         i.sign.in.icon
                //-         |login
                
                +footer_chat
                if is_admin
                    with currentUser
                        +role_switcher
        .centered.row
            .seven.wide.column
                .ui.header 
                    i.copyright.outline.icon
                    | Mini Money Managment 2019

            
                
template(name='footer_chat')
    .ui.grey.inline.header 
        +i name='chat'
        |chat
    .ui.list.scroll
        each chat_messages
            .item(title="by #{author.name} #{when}")
                if author
                    img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text}
                //- small #{when}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.large.input
        i.plus.blue.icon
        input.new_footer_chat_message(type='text' placeholder='add message')





template(name='my_latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        +ismall name='rss'
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        +ismall name='rss'
        |all activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body} 
                .ui.basic.label #{log_type}
                small #{when}


template(name='role_switcher')
    .ui.inline.center.aligned.small.header 
        |#{username} role switcher
    //- if is_eric
    //-     +multi_doc key='roles' label='roles' ref_model='role' direct=true
    //-     div
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //- else if currentUser
    //-     with currentUser
    //- +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- if is_admin
        //- +multi_doc_edit key='current_roles' label='current roles' ref_model='role' direct=true
    //- +user_array_element_toggle key='current_roles' value='admin' user=currentUser
    //- +user_array_element_toggle key='current_roles' value='member' user=currentUser
    //- +user_array_element_toggle key='current_roles' value='staff' user=currentUser
    +user_array_element_toggle key='roles' value='student' user=currentUser
    +user_array_element_toggle key='roles' value='teacher' user=currentUser
    +user_array_element_toggle key='roles' value='parent' user=currentUser
