template(name='nav')
    .ui.attached.borderless.topnav.menu
        if is_loading
            .item
                i.large.loading.notched.circle.icon
        a.compact.item(href='/' class="{{isActivePath '/'}}") 
            img.ui.tiny.compact.image(src="{{c.url 'mmm_logo_small' height=200 }}" title='Home')
        a.ui.item(href='/p/about')
            |our work
        //- a.item(href='/p/partners')
        //-     //- +ismall name='test-passed'
        //-     span.mobile.hidden &nbsp; Community Partners
        a.item(href='/p/team')
            //- +ismall name='question'
            span.mobile.hidden &nbsp; team
        a.item(href='/contact')
            //- +ismall name='treasure-chest'
            span.mobile.hidden &nbsp; contact
            
        .right.menu
            unless currentUser
                .item
                    a.ui.button(href='/login') log In
                .item
                    a.ui.teal.button(href='/choose_user_type') sign up
            if currentUser
                if is_dev
                    a.icon.item.set_models(href="/m/model")
                        i.large.grey.database.icon
                unless logging_out
                    a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title=user_nav_button_title)
                        if currentUser.profile_image_id
                            img.ui.avatar.inline.image(src="{{c.url currentUser.profile_image_id width=100 height=100 gravity='face' crop='fill'}}")
                        else
                            +ismall name='user-male'
                        span.mobile.hidden #{currentUser.name} #{currentUser.credit}
                    a#logout.item(href='#' title='log out')
                        i.sign.out.icon
                if logging_out
                    .item
                        i.loading.circle.notch.icon


template(name='footer')
    .ui.stackable.secondary.padded.grid.segment
        .row
            .three.wide.column
                //- .ui.link.large.list
                //-     a.icon.item.set_reference(href='/m/reference')
                //-         +ismall name='university'
                //-         |reference
                //-     a.icon.item.set_tool(href='/m/tool')
                //-         +ismall name='calculator'
                //-         |tools

                //- img.ui.tiny.inline.image(src="{{c.url 'bcorp' }}")
                //- img.ui.small.image(src="{{c.url 'stripe_badge' }}")
                //- img.ui.small.image(src="{{c.url 'builtin' }}")
            .four.wide.column
                a.ui.fluid.button(href='/donate')
                    +ismall name='donate'
                    |donate
                if is_admin
                    a.ui.button(href='/admin' title='admin')
                        i.shield.icon
                        |admin
                .ui.link.large.list
                    //- a.item.capitalize(href='/m/blog') 
                    //-     //- +ismall name='blog'
                    //-     |blog
                    a.item.capitalize(href='/p/about')
                        //- +ismall name='info'
                        |about
                    a.item.capitalize(href="/p/terms") 
                        //- +ismall name='invoice'
                        |terms of service
                    a.item.capitalize(href='/p/privacy') 
                        //- +ismall name='lock'
                        |privacy policy
                    //- a.item.capitalize(href='/stats') 
                    //-     //- +ismall name='line-chart'
                    //-     |stats
                    a.item.capitalize(href='/team')
                        //- +ismall name='groups'
                        | our team
                    a.item.capitalize(href='/contact')
                        //- +ismall name='phone'
                        | contact
                        
            //- .three.wide.column
            //-     .ui.link.large.list
            //-         a.item.capitalize(href='/p/groups') 
            //-             //- +ismall name='group'
            //-             |groups
            //-         a.item.capitalize(href='/p/investors') 
            //-             //- +ismall name='money'
            //-             |investors
            //-         a.item.capitalize(href='/p/leaders') 
            //-             //- +ismall name='leader'
            //-             |leaders
            //-         a.item.capitalize(href="/p/parents") 
            //-             //- +ismall name='children'
            //-             |parents
            //-         a.item.capitalize(href='/p/members') 
            //-             //- +ismall name='members'
            //-             |members
            //-         a.item.capitalize(href='/p/companys') 
            //-             //- +ismall name='company'
            //-             |companys
            //-         a.item.capitalize(href='/p/administrators') 
            //-             //- +ismall name='user-shield'
            //-             |administrators
            //-         a.item.capitalize(href='/p/donors') 
            //-             //- +ismall name='donate'
            //-             |donors
            //-     //- +add_button label='bug' model='bug' icon='bug'
            .seven.wide.column
                unless currentUser
                    a.ui.big.button(href='/login')
                        i.sign.in.icon
                        |login
                +footer_chat
                if is_admin
                    with currentUser
                        +role_switcher
                .ui.grey.header 
                    i.copyright.outline.icon
                    | Mini Money Management 2019

            
                
template(name='footer_chat')
    .ui.grey.header 
        +i name='chat' classes='ui inline mini image'
        |chat
    .ui.list.scroll
        each chat_messages
            .item(title="by #{author.name} #{when}")
                if author
                    img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text}
                //- small #{when}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.large.input
        i.plus.blue.icon
        input.new_footer_chat_message(type='text' placeholder='add message')





template(name='my_latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        +ismall name='rss'
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        +ismall name='rss'
        |all activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body} 
                .ui.basic.label #{log_type}
                small #{when}


template(name='role_switcher')
    .ui.inline.center.aligned.small.header 
        |#{username} role switcher
    //- if is_eric
    //-     +multi_doc key='roles' label='roles' ref_model='role' direct=true
    //-     div
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //- else if currentUser
    //-     with currentUser
    //- +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- if is_admin
        //- +multi_doc_edit key='current_roles' label='current roles' ref_model='role' direct=true
    //- +user_array_element_toggle key='current_roles' value='admin' user=currentUser
    //- +user_array_element_toggle key='current_roles' value='member' user=currentUser
    //- +user_array_element_toggle key='current_roles' value='staff' user=currentUser
    +user_array_element_toggle key='roles' value='member' user=currentUser
    +user_array_element_toggle key='roles' value='leader' user=currentUser
    +user_array_element_toggle key='roles' value='parent' user=currentUser
