template(name='nav')
    .ui.attached.borderless.large.menu
        a.compact.item(href='/' class="{{isActivePath '/'}}") 
            img.ui.tiny.compact.image(src="{{c.url 'mmlogo' height=200 }}" title='Home')
            //- |Home
        //- a.item(href='/schools' title='schools') 
        //-     +i name='school'
            //- schools
        a.item(href='/classroom/i4mdNbN8ykJcr6w9q/dashboard' title='classrooms')
            +i name='dashboard'
        //- a.item(href='/classrooms' title='classrooms')
        //-     +i name='class'
            //- |classrooms
        //- a.item(href='/teachers' title='teachers')
        //-     +i name='teacher'
        //-     //- |teachers
        a.item(href='/students' title='students') 
            +i name='students'
            //- |students
        a.item(href='/shop' title='shop') 
            +i name='shop'
            //- |shop
        a.item(href='/jobs' title='jobs') 
            +i name='find-matching-job'
        a.item(href='/loans' title='loans') 
            +i name='debt'
            //- |shop
        //- a.item(href='/admin' title='admin')
        //-     +i name='user-shield'
            //- |admin
        .right.menu
            unless currentUser
                .item
                    a.ui.button(href='/login' title='login') log in
                .item
                    a.ui.teal.button sign up
            if currentUser
                unless logging_out
                    a.item(href="/notifications")
                        i.bell.grey.large.outline.icon
                    a.item(href="/mail")
                        //- +i name='envelope'
                        i.envelope.grey.large.outline.icon
                    a.item(href="/user/#{currentUser.username}" class=member_nav_button_class title=member_nav_button_title)
                        if currentUser.profile_image_id
                            img.ui.avatar.inline.image(src="{{c.url currentUser.profile_image_id width=100 height=100 gravity='face' crop='fill'}}")
                        else
                            +i name='user-male'
                        span.mobile.hidden #{currentUser.name} #{currentUser.credit}
                if logging_out
                    .item
                        i.loading.circle.notch.icon
                else
                    a#logout.item(href='#' title='log out')
                        i.sign.out.icon


template(name='footer')
    .ui.stackable.secondary.padded.grid
        .eight.wide.column
            .ui.link.big.list
                a.item(href='/blog') blog
                a.item(href='/about') about
                a.item(href="/terms_of_service") terms of service
                a.item(href='/privacy') privacy policy
                a.item(href='/investors') investors
            +add_button label='bug' model='bug' icon='bug'
            if is_dev    
                with current_user
                    +role_switcher
        .eight.wide.column
            //- unless currentUser
            //-     a.ui.big.button(href='/login')
            //-         i.sign.in.icon
            //-         |login
            +footer_chat
            if is_eric
                with currentUser
                    +role_switcher

            
                
template(name='footer_chat')
    .ui.grey.inline.header 
        +i name='chat'
        |chat
    .ui.list.scroll
        each chat_messages
            .item(title="by #{author.name} #{when}")
                if author
                    img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text}
                //- small #{when}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.large.input
        i.plus.blue.icon
        input.new_footer_chat_message(type='text' placeholder='add message')





template(name='my_latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        +i name='rss'
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        +i name='rss'
        |all activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body} 
                .ui.basic.label #{log_type}
                small #{when}


template(name='role_switcher')
    .ui.inline.center.aligned.small.header 
        |#{username} role switcher
    if is_eric
        +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        div
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //- else if currentUser
    //-     with currentUser
    //- +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- if is_admin
    //-     //- +multi_doc_edit key='current_roles' label='current roles' ref_model='role' direct=true
    //-     +user_array_element_toggle key='current_roles' value='admin' user=currentUser
    //-     +user_array_element_toggle key='current_roles' value='member' user=currentUser
    //-     +user_array_element_toggle key='current_roles' value='staff' user=currentUser
    //-     //- +user_array_element_toggle key='roles' value='student' user=currentUser
    //-     //- +user_array_element_toggle key='roles' value='owner' user=currentUser
