template(name='nav')
    unless is_frontdesk
        //- #topnav.topnav.ui.attached.borderless.menu
        .ui.stackable.grid
            .sixteen.wide.center.aligned.column
                if is_loading
                    i.big.spinning.grey.yin.yang.icon.cancel
                a.ui.icon.circular.button(href='/' class="{{isActivePath '/'}}")
                    //- +i name='home' classes='ui mini inline image'
                    i.home.large.icon
                //- if is_member
                //-     each role_models
                //-         a.set_model(href="/m/#{slug}" class="{{isActivePath '/m/model'}}" title=title)
                //-             +i name=icon classes='ui mini inline image'
                if is_dev
                    a.ui.icon.circular.button(href='/members' class="{{isActivePath '/members'}}")
                        +i name='groups' classes='ui mini inline image'
                if is_staff
                    a.ui.button(href='/staff' class="{{isActivePath '/staff'}}")
                        +i name='user shield' classes='ui mini inline image'
                        | staff
                //- if is_dev
                //-     a.ui.icon.circular.button(href='/m/model' class="{{isActivePath '/m/model'}}" title='model delta view')
                //-         +i name='database' classes='ui mini inline image'
                if currentUser
                    unless logging_out
                        if is_member
                            //- a.ui.button(href="/member/#{currentUser.username}/finance" class="{{isActiveRoute regex='member_finance'}}" title='credits')
                            //-     i.coins.grey.icon
                            a.ui.button(href="/member/#{currentUser.username}/dashboard" class=member_nav_button_class title=member_nav_button_title)
                                if currentUser.profile_image_id
                                    img.ui.avatar.inline.image(src="{{c.url currentUser.profile_image_id width=100 height=100 gravity='face' crop='fill'}}")
                                else
                                    i.user.icon
                                    //- +i name='user' classes='ui mini inline image'
                                span.mobile.hidden #{currentUser.name}
                                    |{{int currentUser.credit}}
                        else
                            a.ui.button(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='user_profile'}}")
                                if currentUser.profile_photo
                                    img.ui.avatar.inline.image(src="{{c.url currentUser.profile_photo width=100 height=100 gravity='face' crop='fill'}}")
                                else
                                    i.user.icon
                                    //- +i name='user' classes='ui mini inline image'
                                span.mobile.hidden #{currentUser.name}
                    if logging_out
                        .ui.button
                            i.loading.circle.notch.icon
                    else
                        a#logout.ui.mobile.hidden.icon.circular.button(href='#' title='log out')
                            i.sign.out.icon
                else
                    unless currentUser
                        a.ui.button(href='/login' title='login') 
                            i.sign.in.icon
                            //- +i name='internal' classes='ui mini inline image'
                            |login


template(name='footer')
    .ui.stackable.grid
        .eight.wide.column
            //- +add_button label='bug' model='bug' icon='bug'
            if is_dev    
                with current_user
                    +role_switcher
        .eight.wide.column
            unless currentUser
                a.ui.big.button(href='/login')
                    i.sign.in.icon
                    |login
            //- +footer_chat
            if is_eric
                with currentUser
                    +role_switcher

            
                
template(name='footer_chat')
    .ui.grey.inline.header 
        //- i.outline.comments.icon
        +i name='chat'
        |chat
    .ui.list.scroll
        each chat_messages
            .item(title="by #{author.name} #{when}")
                if author
                    img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text}
                //- small #{when}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.large.input
        i.plus.blue.icon
        input.new_footer_chat_message(type='text' placeholder='add message')





template(name='my_latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        +i name='rss'
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}


template(name='latest_activity')
    .ui.grey.header 
        //- i.grey.rss.icon
        +i name='rss'
        |all activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body} 
                .ui.basic.label #{log_type}
                small #{when}


template(name='role_switcher')
    .ui.inline.center.aligned.small.header 
        |#{username} role switcher
    if is_eric
        +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        div
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //- else if currentUser
    //-     with currentUser
    //- +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- if is_admin
    //-     //- +multi_doc_edit key='current_roles' label='current roles' ref_model='role' direct=true
    //-     +user_array_element_toggle key='current_roles' value='admin' user=currentUser
    //-     +user_array_element_toggle key='current_roles' value='member' user=currentUser
    //-     +user_array_element_toggle key='current_roles' value='staff' user=currentUser
    //-     //- +user_array_element_toggle key='roles' value='resident' user=currentUser
    //-     //- +user_array_element_toggle key='roles' value='owner' user=currentUser
