template(name='rental_view_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid
            //- img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
            .row
                .four.wide.column
                    .ui.large.center.aligned.header #{title}
                    img.ui.centered.rounded.small.image(src="{{c.url image width=400 height=400 crop='fit'}}")
                    if can_edit
                        a.ui.fluid.button(href="/rental/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    .ui.large.vertical.fluid.menu
                        a.item(href="/rental/#{_id}/view" class="{{isActiveRoute 'rental_info'}}")
                            +ismall name='info'
                            |info
                        a.item(href="/rental/#{_id}/transactions" class="{{isActiveRoute 'rental_transactions'}}")
                            +ismall name='invoice'
                            |transactions
                        a.item(href="/rental/#{_id}/reservations" class="{{isActiveRoute 'rental_reservations'}}")
                            +ismall name='clock'
                            |reservations
                        a.item(href="/rental/#{_id}/chat" class="{{isActiveRoute 'rental_chat'}}")
                            +ismall name='chat'
                            |chat
                        a.item(href="/rental/#{_id}/calendar" class="{{isActiveRoute 'rental_calendar'}}")
                            +ismall name='calendar'
                            |calendar
                        //- a.item(href="/rental/#{_id}/tasks" class="{{isActiveRoute 'rental_tasks'}}")
                        //-     +ismall name='tasks'           
                        //-     |tasks
                        a.item(href="/rental/#{_id}/finance" class="{{isActiveRoute 'rental_finance'}}")
                            +ismall name='money'
                            |finance
                        a.item(href="/rental/#{_id}/stats" class="{{isActiveRoute 'rental_stats'}}")
                            +ismall name='line-chart'
                            |stats
                        a.item(href="/rental/#{_id}/ownership" class="{{isActiveRoute 'product_ownership'}}")
                            +ismall name='pie-chart'           
                            |ownership
                        //- a.item(href="/rental/#{_id}/projections" class="{{isActiveRoute 'rental_projections'}}")
                        //-     |projections
                        a.item(href="/rental/#{_id}/ads" class="{{isActiveRoute 'rental_ads'}}")
                            +ismall name='open-in-window'
                            |ads
                    .ui.header added by #{_author_username}
                    |#{when}
                    with _author_id
                        +user_card
                    +array_view key='tags' icon='tags' direct=true title='tags'
                    +array_view key='location_tags' icon='marker' direct=true title='location tags'
                    //- +text_view key='location' icon='marker' label='location description' direct=true

                    +number_view key='inventory' label='inventory' icon='move-by-trolley' direct=true
                    //- +dollar_price_view key='dollar_price' icon='money' label='dollar price' direct=true
                    if date_available
                        +date_view key='date_available' label='date available' icon='calendar' direct=true
                    if time_available
                        +time_view key='time_available' label='time available' icon='clock' direct=true
                    +product_adspace
                    .ui.header 
                        |reviews
                .eight.wide.column
                    +yield
                .four.wide.column
                    +rental_status
                    .ui.header cost
                    if hourly_dollars
                        .ui.header $#{hourly_dollars}/hr
                    if daily_dollars
                        .ui.header $#{daily_dollars}/day
                    if hourly_karma
                        .ui.header 
                            +i name='yin-yang' 
                            |#{hourly_karma}/day
                    if daily_karma
                        .ui.header 
                            +i name='yin-yang' 
                            |#{daily_karma}/day
        
                    .ui.header #{views} views
                    .ui.header $#{past_earnings} past earnings 
                    .ui.header $#{future_earnings} future earnings 
                    .ui.header #{future_reservations} future reservations
                    .ui.header #{past_reservations} past reservations
                    div
                    +product_location
                    .ui.header available_inventory #{inventory_available}
                    if for_sale
                        unless sold_out
                            .ui.big.green.fluid.button.add_to_cart 
                                |+ cart
                        else 
                            .ui.big.disabled.button
                                |sold out
                    +voting_full     
                    .ui.basic.segment
                        .ui.small.header
                            |delivery instructions
                        |#{delivery_instructions}      
                    .ui.header
                        +ismall name='delivery'
                        |delivery
                    +boolean_view key='pickup_delivery' label='pickup' direct=true
                    +boolean_view key='home_dropoff_delivery' label='home dropoff' direct=true
                    +boolean_view key='building_dropoff_delivery' label='building dropoff' direct=true
                    +boolean_view key='healthclub_drop_off_delivery' label='health club drop off' direct=true
                    .ui.header
                        +i name='money'
                        |pricing
                    +boolean_view key='cash_accepted' label='cash accepted' direct=true
                    +boolean_view key='prepay' label='prepayment required' direct=true
                    +boolean_view key='security_deposit_required' label='security deposit required' direct=true
                    if security_deposit_required
                        +number_view key='security_deposit_amount' label='security deposit amount' icon='dollar'
                    .ui.header pricing planning determination
                    +boolean_view key='friend_discount' label='friend discount' direct=true
                    if friend_discount
                        +number_view key='security_deposit_amount' label='security deposit amount' icon='dollar'
                    .ui.header
                        +i name='lock'
                        | privacy
                    .ui.small.header
                        +i name='eye'
                        |visibility
                    +boolean_view key='visible_to_friends' label='friends' direct=true
                    +boolean_view key='visible_to_building' label='building' direct=true
                    +boolean_view key='visible_to_residents' label='residents' direct=true
                    +boolean_view key='visible_to_public' label='public' direct=true
                    .ui.divider
                    +boolean_view key='published' label='published' direct=true
    +footer


template(name='rental_view_info')  
    with current_doc 
        h1.ui.header 
            //- i.info.icon
            +i name='info'
            |info
        //- h1.ui.header #{title}
        +image_view key='image' label='image' direct=true
        +html_view key='description' label='content' icon='content' direct=true
        +array_view key='tags' label='tags' icon='tags' direct=true
        +array_view key='location_tags' label='location tags' icon='marker' direct=true
        div
        +single_user_view key='resident' label='resident' direct=true
        div 
        +text_view key='contact_info' label='contact info' icon='info' direct=true
        +link_view key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true


            
                  
template(name='rental_view_audience')
    h1.ui.header 
        +i name='groups'
        |audience
    .ui.header visibility
    +boolean_view key='visible_to_friends' label='friends' direct=true
    +boolean_view key='visible_to_building' label='building' direct=true
    +boolean_view key='visible_to_residents' label='residents' direct=true
    +boolean_view key='visible_to_public' label='public' direct=true

    
template(name='rental_view_ownership')
    h1.ui.header 
        +i name='pie-chart'
        |ownership
    .ui.button.sell_shares sell shares
    .ui.button.recalculate_ownership recalculate ownership
    .ui.header #{ownership}
    .ui.header 
        | ownership
    .content
        .ui.label author #{_author_username}
        if is_dev
            +text_edit key='_author_username' direct=true
            +single_user_edit key='_author_username' direct=true
        .make_author_owner.ui.button make author owner
        .ui.list
            each ownership
                .item user id: #{_user_id} #{percent}
        .ui.list
            each stock_certificates
                .item #{_author_username} #{ownership_percent}
        .ui.header your ownership
        if has_ownership
            |#{my_ownership} %
            #offer_ownership.ui.button offer ownership
        .ui.header offers
        .ui.header transactions
    
    
template(name='rental_view_tasks')
    h1.ui.header 
        +i name='tasks'
        |rental tasks
    .ui.header visibility
    +boolean_view key='visible_to_friends' label='friends' direct=true
    +boolean_view key='visible_to_building' label='building' direct=true
    +boolean_view key='visible_to_residents' label='residents' direct=true
    +boolean_view key='visible_to_public' label='public' direct=true



template(name='rental_view_ads')
    h1.ui.header 
        +i name='open-in-window'
        |ads
        +product_adspace
    
    
    
    
template(name='rental_view_chat')
    h1.ui.header 
        +i name='chat'
        |chat
    +comments
    
    
    
    
    
template(name='rental_view_stats')
    h1.ui.header 
        +i name='line-chart'
        |stats
    i.circular.link.refresh.icon.refresh_rental_finance_stats
    .ui.header #{views} views
    .ui.small.header total earnings
    .ui.small.header rental ranking #reservations
    .ui.small.header rental ranking $ earned
    .ui.small.header # different renters
    .ui.small.header avg rental time
    .ui.small.header avg daily earnings
    .ui.small.header avg weekly earnings
    .ui.small.header avg monthly earnings
    .ui.small.header biggest renter
    .ui.small.header predicted payback duration 
    .ui.small.header predicted payback date 
    



template(name='rental_view_finance')
    .ui.inline.large.header 
        +i name='money'
        |rental finance
    i.circular.link.refresh.icon.refresh_rental_finance_stats
    .ui.stackable.grid
        .two.column.row
            .column
                +number_view key='hourly_dollars' label='hourly rate ($)' icon='money' direct=true
                +number_view key='daily_dollars' label='daily rate ($)' icon='money' direct=true
            .column
                +number_view key='hourly_karma' label='hourly rate (karma)' icon='yin-yang' direct=true
                +number_view key='daily_karma' label='daily rate (karma)' icon='yin-yang' direct=true
    div
    +boolean_view key='variable_price' label='variable price' icon='change' direct=true tooltip='allow system to increase/decrease price based on performance and popularity'
    if variable_price
        +number_view key='min_variable_price' label='minimum variable price' icon='online-request' tooltip='baseline price' direct=true
    div
    +boolean_view key='negotiable_price' label='negotiable price' icon='collaboration' tooltip='allow people to make bids' direct=true
    div
    +number_view key='retail_value' label='original retail value' icon='estimate' unit='$' tooltip='general info, helpful to renters to decide, also for price recommendations, and sorting' direct=true
    .ui.header 
        +i name='online-payment-'
        |payment options
    +boolean_view key='cash_accepted' label='cash accepted' icon='cash' direct=true
    +boolean_view key='venmo_accepted' label='venmo accepted' icon='venmo' direct=true
    +boolean_view key='prepay' label='prepayment required' icon='pay-wall' direct=true
    +boolean_view key='security_deposit_required' label='security deposit required' icon='card-security' direct=true
    if security_deposit_required
        +number_view key='security_deposit_amount' label='security deposit amount' icon='card-security' direct=true
    div
    +boolean_view key='friend_discount' label='friend discount' icon='friends--v2' direct=true
    if friend_discount
        +number_view key='friend_discount_amount' label='security deposit amount' icon='dollar' direct=true
        
    .ui.small.header total earnings
    .ui.small.header upcoming earnings
    .ui.small.header initial cost
    .ui.small.header maintenance costs/payments





template(name='rental_status')
    if available 
        .ui.green.label available
    else 
        .ui.basic.label unavailable
        
template(name='reserve_button')
    .ui.big.green.fluid.button.new_reservation 
        |reserve
        +i name='play'
