template(name='kiosk_rental_view')
    with current_doc
        .ui.padded.grid
            .eight.wide.column
                if is_frontdesk
                    a.ui.fluid.big.button(href="/healthclub")
                        i.left.chevron.large.icon
                        |back
                else 
                    a.ui.fluid.big.button(href="/m/rental")
                        i.left.chevron.large.icon
                        //- i.store.large.icon
                        +ismall name='rental'
                        |rentals 
                h1.ui.center.aligned.header #{title}
                +image_view key='image' direct=true
                //- i.tags.icon
                +ismall name='tags'
                each tags
                    .ui.basic.label #{this}
                //- if is_admin
                //-     a.ui.large.fluid.button(href="/rental/#{_id}/view/info") 
                //-         i.external.icon
                //-         |full view
                if is_admin
                    a.ui.large.button(href="/rental/#{_id}/edit")
                        //- i.blue.pencil.icon
                        +i name='pencil'
                        |edit rental
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +single_user_edit key='resident' label='resident' direct=true
                    +text_edit key='contact_info' label='contact info' icon='info' direct=true
                    +link_edit key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true

            .eight.wide.column
                .ui.inline.large.header $#{hourly_rate}
                .ui.inline.header /hour
                .ui.dividing.header or
                .ui.inline.large.header #{hourly_karma}k
                .ui.inline.header /hour
                div
                .ui.inline.large.header $#{daily_rate}
                .ui.inline.header /day
                div
                .ui.inline.header #{views}
                .ui.small.inline.header views
                div
                if available 
                    i.green.large.checkmark.icon
                    |available
                else 
                    .ui.header 
                        +i name='cancel-2--v2'
                        //- i.large.ban.icon
                        |available in 2 hours
                div 
                |!{description}
                +rental_reservations
                +rental_transactions
                div
                +number_view key='retail_value' label='original retail value' tooltip='general info, helpful to renters to decide, also for price recommendations, and sorting' direct=true
                .ui.header
                    +i name='money' 
                    |payment options
                if cash_accepted
                    .ui.basic.label
                        i.green.money.icon 
                        |cash accepted
                if prepay
                    .ui.basic.label prepayment required
                if security_deposit_required
                    .ui.basic.label $#{security_deposit_amount} security depoist required
                if is_admin
                    +number_edit key='hourly_rate' label='hourly rate' direct=true
                    +number_edit key='daily_rate' label='daily rate' direct=true
                    //- div
                    //- +boolean_edit key='variable_price' label='variable price' direct=true tooltip='allow system to increase/decrease price based on performance and popularity'
                    //- div
                    //- +boolean_edit key='negotiable_price' label='negotiable price' tooltip='allow people to make bids' direct=true
                    div
                    +number_edit key='retail_value' label='original retail value' tooltip='general info, helpful to renters to decide, also for price recommendations, and sorting' direct=true
                    .ui.header 
                        |pricing
                    +boolean_edit key='cash_accepted' label='cash accepted' direct=true
                    div
                    +boolean_edit key='prepay' label='prepayment required' direct=true
                    div
                    +boolean_edit key='security_deposit_required' label='security deposit required' direct=true
                    if security_deposit_required
                        +number_edit key='security_deposit_amount' label='security deposit amount' icon='dollar' direct=true
                    div
                    +boolean_edit key='friend_discount' label='friend discount' direct=true
                    if friend_discount
                        +number_edit key='friend_discount_amount' label='security deposit amount' icon='dollar' direct=true

                if friend_discount
                    .ui.basic.label #{friend_discount_amount} friend discount
                if is_admin
                    +text_edit key='location' direct=true
                else 
                    .ui.header 
                        +i name='marker'
                        //- i.marker.icon(title='location')
                        small location
                        |#{location}
                +array_view key='availability_tags' label='availability tags' icon='clock' direct=true
                if is_admin
                    +multi_doc_view key='available_days' label='available days' ref_model='day_of_week' direct=true
                else 
                    +multi_doc_view key='available_days' label='available days' ref_model='day_of_week' direct=true
                .ui.header
                    +i name='delivery-handcart'
                    |delivery
                if pickup_delivery
                    .ui.basic.large.label 
                        +i name='delivery'
                        |pickup
                if is_admin
                    +boolean_edit key='delivery' label='delivery' direct=true
                    if delivery_cost
                        +number_edit key='delivery_cost' label='delivery_cost' icon='dollar' direct=true
                else 
                    if delivery
                        .ui.basic.large.label
                            +i name='delivery'
                            |delivery 
                        if delivery_cost
                            .ui.big.basic.label $#{delivery_cost} delivery cost 
                    if healthclub_drop_off_delivery
                        .ui.big.basic.label 
                            i.warehouse.icon
                            |healthclub dropoff/pickup
                    
                +comments
                .ui.big.fluid.green.button.new_reservation
                    .ui.inverted.inline.header
                        |reserve
                        i.right.chevron.icon
                +kiosk_send_message                    
