template(name='reservation_slot_view')
    .ui.stackable.padded.grid
        .eight.wide.column
            .ui.header reservation slot view
            with reservation_rental
                +reservation_rental_template
        .eight.wide.column
            with reservation
                .ui.segment
                    .ui.header reservation
                    .ui.header #{date}
                    .ui.header #{rental_id}
                    +author_info
                    if is_author
                        +remove_button
                    .ui.header #{_author_username}
                    .ui.header #{when}
                    +textarea_edit key='notes' direct=true
                    unless confirmed
                        .ui.green.button.confirm_delivery confirm_delivery
                    if confirmed
                        .ui.button.cancel_reservation cancel reservation
                        unless delivery_started
                            .ui.big.green.button.mark_delivery_started 
                                i.clock.icon
                                |mark delivery started
                        if delivery_started
                            .ui.header delivery started {{long_date delivery_started_timestamp}}
                            unless delivery_ended
                                .ui.big.button.mark_delivered 
                                    i.checkmark.icon
                                    |mark delivery delivered
                            else 
                                .ui.header delivery ended {{long_date delivery_ended_timestamp}}
                                unless reservation_ended
                                    .ui.big.green.button.mark_complete 
                                        i.checkmark.icon
                                        |mark reservation complete
                                else
                                    .ui.header reservation ended {{long_date reservation_ended_timestamp}}
            with reservation_slot
                .ui.header #{date}
                //- .ui.header rental id:#{rental_id}
                .ui.header parent slot:#{parent_slot}
            unless reservation
                .ui.header no reservation 
                .ui.green.button.new_reservation new reservation
            +comments
        //- .eight.wide.column
        //-     if is_author
        //-         .ui.header author


template(name='reservation_rental_template')
    .ui.segment
        a.ui.header(href="/shop/#{_id}/info") 
            i.left.chevron.icon
            |#{title}
        img.ui.centered.rounded.image(src="{{c.url picture width=300 height=200 crop='fit'}}")
        each tags
            .ui.large.label #{this}
        |!{description}
        
template(name='reservations_small')
    div
    .ui.inline.header
        +i name='invoice'
        //- i.clock.grey.icon
        |reservations
    div
    i.circular.refresh.link.icon.refresh_res_stats
    .ui.small.inline.header total #{res_stat.total_count}
    .ui.small.inline.header current #{res_stat.current_count}
    .ui.link.list.smallscroll
        each reservations 
            a.item(href="/reservation/#{_id}/view") 
                .header #{rental.title}
                .description #{_author_username} #{when}
            
            

    
template(name='reservation_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        |viewing reservation
                    if can_edit
                        a.ui.big.fluid.button(href="/reservation/#{_id}/edit" title='edit reservation')
                            +i name='pencil'
                            |edit
                    with rental
                        +image_view key='image' label='image' direct=true
                .eight.wide.column 
                    a.ui.header(href="/rental/#{rental._id}/view") rental: #{rental.title} $#{rental.hourly_rate}/hr
                    .ui.small.header start date #{start_date}
                    .ui.small.header start time #{start_time}
                    +date_view key='start_date' label='start date' direct=true
                    +time_view key='start_time' label='start time' direct=true
                    +number_view key='minute_duration' label='minute duration' direct=true
                    +number_view key='hour_duration' label='hour duration' direct=true
                    .ui.header estimated cost #{hour_duration}*#{rental.hourly_rate} = $#{estimated_cost}
                    if submitted
                        .ui.green.header submitted {{ from_now submitted_timestamp }}
                    +reservation_events
                .four.wide.column
                    .ui.header staff checkout assessment
                    .ui.header staff checkin assessment






template(name='reservation_events')
    .ui.header
        i.rss.icon
        |reservation events
    .ui.bulleted.list
        each log_events
            .item #{text} #{when}

    
    
