template(name='build_world')
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.column
                .ui.center.aligned.basic.segment
                    img.ui.rounded.small.centered.inline.image(src="{{c.url 'mmmlogo' width=400 height=400}}")
                    .ui.header
                        +i name='earth-planet'
                        | build world
                .ui.fluid.big.button.build_classroom
                    +i name='classroom' classes='ui inline image'
                    |classroom
                .ui.fluid.big.button.build_after_school
                    +i name='clock' classes='ui inline image'
                    |after school
                .ui.fluid.big.button.build_home
                    +i name='home' classes='ui inline image'
                    |home


template(name='build_classroom_info')
    with current_doc
        .ui.padded.stackable.grid
            .centered.row
                .sixteen.wide.column
                    .ui.center.aligned.basic.segment
                        .ui.header 
                            +i name='classroom'
                            |build '#{title}' classroom
                    .ui.four.steps
                        .active.step
                            i.info.icon
                            .content
                                .title info
                        a.step(href="/build_classroom/#{_id}/finance")
                            i.grey.money.icon
                            .content
                                .title finance
                        a.step(href="/build_classroom/#{_id}/students")
                            i.users.grey.icon
                            .content
                                .title students
                        a.step(href="/classroom/#{_id}/dashboard")
                            i.dashboard.icon
                            .content
                                .title dashboard
                
                    
            .centered.row
                .seven.wide.center.aligned.column
                    .ui.center.aligned.header 
                        +i name='info'
                        |info
                    .spacer
                    +text_edit key='title' direct=true
                    .spacer
                    +text_edit key='company_name' label='company name' direct=true
                    .spacer
                    +image_edit key='classroom_image_id' label='image' direct=true
                    //- .spacer
                    //- +textarea_edit key='description' label='description' direct=true
                    //- .spacer
                    //- +array_edit key='tags' label='tags' icon='tags' direct=true

template(name='build_classroom_finance')
    with current_doc
        .ui.padded.stackable.grid
            .centered.row
                .sixteen.wide.column
                    .ui.center.aligned.basic.segment
                        .ui.header 
                            +i name='classroom'
                            |build '#{title}' classroom
                    .ui.four.steps
                        a.step(href="/build_classroom/#{_id}/info")
                            i.green.info.icon
                            .content
                                .title info
                        .active.step
                            i.money.icon
                            .content
                                .title finance
                        a.step(href="/build_classroom/#{_id}/students")
                            i.users.grey.icon
                            .content
                                .title students
                        a.step(href="/classroom/#{_id}/dashboard")
                            i.dashboard.icon
                            .content
                                .title dashboard
                    
                    
            .centered.row
                .seven.wide.center.aligned.column
                    .ui.center.aligned.header 
                        +i name='request-money'
                        |income
                    .spacer
                    +number_edit key='salary_amount' label='salary amount' icon='housekeeper-male' direct=true
                    .spacer
                    +number_edit key='bonus_amount' label='bonus amount' icon='trust' direct=true
                    .spacer
                    +number_edit key='overtime_amount' label='overtime amount' icon='clock' direct=true
                .seven.wide.center.aligned.column
                    .ui.center.aligned.header 
                        +i name='initiate-money-transfer'
                        |expenses
                    .spacer
                    +number_edit key='desk_rental_amount' label='desk rental amount' icon='table' direct=true
                    .spacer
                    +number_edit key='fines_amount' label='fines amount' icon='foul' direct=true
                    .spacer
                    +number_edit key='janitor_base_amount' label='janitor base fee' icon='housekeeper-male' direct=true
                    .spacer
                    +number_edit key='janitor_extra_amount' label='janitor extra fee' icon='housekeeper-male' direct=true
                    .spacer
                    +number_edit key='lunch_base_amount' label='lunch base amount' icon='food' direct=true
                    .spacer
                    +number_edit key='lunch_extra_amount' label='lunch extra amount' icon='food' direct=true
                        
template(name='build_classroom_students')
    with current_doc
        .ui.padded.stackable.grid
            .centered.row
                .sixteen.wide.column
                    .ui.center.aligned.basic.segment
                        .ui.header 
                            +i name='classroom'
                            |build '#{title}' classroom
                    .ui.four.steps
                        a.step(href="/build_classroom/#{_id}/info")
                            i.green.info.icon
                            .content
                                .title info
                        a.step(href="/build_classroom/#{_id}/finance")
                            i.money.green.icon
                            .content
                                .title finance
                        .active.step
                            i.users.icon
                            .content
                                .title students
                        a.step(href="/classroom/#{_id}/dashboard")
                            i.dashboard.icon
                            .content
                                .title dashboard
                    
            .centered.row
                .seven.wide.center.aligned.column
                    .ui.center.aligned.header 
                        +i name='students'
                        |students
                    //- .ui.header students
                    //- .ui.large.list
                    //-     each classroom_students
                    //-         .item #{first_name} #{last_name}
                    //-             i.remove.grey.link.icon.remove_student
                    .ui.header student selector
                    +student_selector
