template(name='build_classroom')
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.column
                .ui.center.aligned.basic.segment
                    img.ui.rounded.small.centered.inline.image(src="{{c.url 'mmmlogo' width=400 height=400}}")
                    .ui.header
                        +i name='earth-planet'
                        | build classroom
                .ui.fluid.big.button.build_classroom
                    +i name='classroom' classes='ui inline image'
                    |classroom
                .ui.fluid.big.disabled.button.build_after_school
                    +i name='clock' classes='ui inline image'
                    |after school
                .ui.fluid.big.disabled.button.build_home
                    +i name='home' classes='ui inline image'
                    |home


template(name='build_classroom_info')
    with current_doc
        .ui.padded.stackable.grid
            .centered.row
                .sixteen.wide.column
                    .ui.center.aligned.basic.segment
                        .ui.inline.header
                            //- +i name='classroom'
                            |building
                        if teacher_name
                            .ui.inline.header #{teacher_name}'s' #{title}
                        .ui.small.inline.header
                            //- +i name='classroom'
                            |classroom
                    .ui.four.steps
                        .active.step
                            i.info.icon
                            .content
                                .title info
                        a.step(href="/build_classroom/#{_id}/finance")
                            i.grey.money.icon
                            .content
                                .title finance
                        a.step(href="/build_classroom/#{_id}/students")
                            i.users.grey.icon
                            .content
                                .title students
                        a.step(href="/classroom/#{_id}/students")
                            i.dashboard.icon
                            .content
                                .title dashboard
                
                    
            .centered.row
                .seven.wide.column
                    //- .ui.center.aligned.header 
                    //-     +i name='info'
                    //-     |info
                    .spacer
                    +text_edit key='teacher_name' label='Teacher Name' placeholder='enter your name' tooltip='examples: john smith' direct=true
                    .spacer
                    +text_edit key='title' label='Classroom Name'  tooltip='examples: Acme students, Inc' placeholder='enter your classroom name' direct=true
                    .spacer
                    .ui.small.grey.inline.header Grade
                    
                    //- +number_edit key='grade_level' tooltip='for customized experience' label='Grade Level' direct=true
                    +key_value_edit key='grade_level' value=1 label='1st' icon=''
                    +key_value_edit key='grade_level' value=2 label='2nd' icon=''
                    +key_value_edit key='grade_level' value=3 label='3rd' icon=''
                    +key_value_edit key='grade_level' value=4 label='4th' icon=''
                    +key_value_edit key='grade_level' value=5 label='5th' icon=''
                    //- +key_value_edit key='grade_level' value=6 label='6th' icon=''

                    .spacer
                    +image_edit key='image_id' tooltip='this is the image that shows up in the classroom profile' label='Class Image' direct=true
                    .spacer
                    a.ui.fluid.large.basic.button(href="/build_classroom/#{_id}/finance")
                        i.green.checkmark.icon
                        |Save
                        //- i.right.chevron.icon
                    //- .spacer
                    //- +textarea_edit key='description' label='description' direct=true
                    //- .spacer
                    //- +array_edit key='tags' label='tags' icon='tags' direct=true

template(name='build_classroom_finance')
    with current_doc
        .ui.padded.stackable.grid
            .centered.row
                .sixteen.wide.column
                    .ui.center.aligned.basic.segment
                        .ui.small.inline.header
                            //- +i name='classroom'
                            |building
                        .ui.inline.header #{teacher_name}'s #{school_name}
                        .ui.small.inline.header
                            +i name='classroom'
                            |classroom
                    .ui.four.steps
                        a.step(href="/build_classroom/#{_id}/info")
                            i.green.info.icon
                            .content
                                .title info
                        .active.step
                            i.money.icon
                            .content
                                .title finance
                        a.step(href="/build_classroom/#{_id}/students")
                            i.users.grey.icon
                            .content
                                .title students
                        a.step(href="/classroom/#{_id}/students")
                            i.dashboard.icon
                            .content
                                .title dashboard
            .centered.row
                .seven.wide.column
                    //- .ui.button.generate_transaction_types
                    //-     |generate
                    //- .ui.center.aligned.header 
                    //-     +i name='request-money'
                    //-     |income
                    +classroom_edit_credits        
                    //- each credits
                    //-     div
                    //-     .ui.inline.small.header 
                    //-         +i name=icon
                    //-         |#{title}
                    //-         +number_edit key='amount' direct=true no_header=true classes='large'
                    //-     +remove_button
                .seven.wide.column
                    //- .ui.center.aligned.header 
                    //-     +i name='initiate-money-transfer'
                    //-     |expenses
                    //- .spacer
                    +classroom_edit_debits        
                    //- each debits
                    //-     div
                    //-     .ui.inline.small.header 
                    //-         +i name=icon
                    //-         |#{title}
                    //-         +number_edit key='amount' direct=true no_header=true classes='large'
                    //-     +remove_button
            .centered.row
                .seven.wide.column
                    a.ui.fluid.large.basic.button(href="/build_classroom/#{_id}/students")
                        i.green.checkmark.icon
                        |Save
            
                        
template(name='build_classroom_students')
    with current_doc
        .ui.padded.stackable.grid
            .centered.row
                .sixteen.wide.column
                    .ui.center.aligned.basic.segment
                        .ui.small.inline.header
                            //- +i name='classroom'
                            |building
                        .ui.inline.header #{teacher_name}'s #{school_name}
                        .ui.small.inline.header
                            //- +i name='classroom'
                            |classroom
                    .ui.four.steps
                        a.step(href="/build_classroom/#{_id}/info")
                            i.green.info.icon
                            .content
                                .title info
                        a.step(href="/build_classroom/#{_id}/finance")
                            i.money.green.icon
                            .content
                                .title finance
                        .active.step
                            i.users.icon
                            .content
                                .title students
                        a.step(href="/classroom/#{_id}/students")
                            i.dashboard.icon
                            .content
                                .title dashboard
                    
            .centered.row
                .twelve.wide.column
                    //- .ui.center.aligned.header 
                    //-     +i name='students'
                    //-     |students
                    //- .ui.header students
                    //- .ui.large.list
                    //-     each classroom_students
                    //-         .item #{first_name} #{last_name}
                    //-             i.remove.grey.link.icon.remove_student
                    .ui.center.aligned.header 
                        +i name='students'
                        |student selector
                    +student_selector
                    .spacer
                    a.ui.fluid.large.basic.button(href="/classroom/#{_id}/students")
                        i.green.checkmark.icon
                        |Save
