template(name='build_group')
    .ui.padded.stackable.grid
        .centered.row
            .ten.wide.column
                .ui.center.aligned.basic.segment
                    img.ui.rounded.small.centered.inline.image(src="{{c.url 'mmmlogo' width=400 height=400}}")
                    .ui.header
                        +i name='earth-planet'
                        | build group
                .ui.fluid.big.button.build_group
                    +i name='group' classes='ui inline image'
                    |group
                .ui.fluid.big.disabled.button.build_after_company
                    +i name='clock' classes='ui inline image'
                    |after company
                .ui.fluid.big.disabled.button.build_home
                    +i name='home' classes='ui inline image'
                    |home


template(name='build_group_info')
    with current_doc
        .ui.padded.stackable.grid
            .centered.row
                .sixteen.wide.column
                    .ui.center.aligned.basic.segment
                        .ui.small.inline.header
                            //- +i name='group'
                            |building
                        .ui.inline.header #{leader_name}'s #{company_name}
                        .ui.small.inline.header
                            //- +i name='group'
                            |group
                    .ui.four.small.steps
                        .active.step
                            i.info.icon
                            .content
                                .title info
                        a.step(href="/build_group/#{_id}/finance")
                            i.grey.money.icon
                            .content
                                .title finance
                        a.step(href="/build_group/#{_id}/members")
                            i.users.grey.icon
                            .content
                                .title members
                        a.step(href="/group/#{_id}/members")
                            i.dashboard.icon
                            .content
                                .title dashboard
                
                    
            .centered.row
                .seven.wide.column
                    //- .ui.center.aligned.header 
                    //-     +i name='info'
                    //-     |info
                    .spacer
                    +text_edit key='leader_name' label='leader Name' placeholder='enter your name' tooltip='examples: john smith' direct=true
                    .spacer
                    +text_edit key='company_name' label='company name'  tooltip='examples: Acme members, Inc' placeholder='enter your group name' direct=true
                    .spacer
                    +image_edit key='group_image_id' tooltip='this is the image that shows up in the group profile' label='image' direct=true
                    .spacer
                    a.ui.fluid.large.basic.button(href="/build_group/#{_id}/finance")
                        i.green.checkmark.icon
                        |Save
                        //- i.right.chevron.icon
                    //- .spacer
                    //- +textarea_edit key='description' label='description' direct=true
                    //- .spacer
                    //- +array_edit key='tags' label='tags' icon='tags' direct=true

template(name='build_group_finance')
    with current_doc
        .ui.padded.stackable.grid
            .centered.row
                .sixteen.wide.column
                    .ui.center.aligned.basic.segment
                        .ui.small.inline.header
                            //- +i name='group'
                            |building
                        .ui.inline.header #{leader_name}'s #{company_name}
                        .ui.small.inline.header
                            //- +i name='group'
                            |group
                    .ui.four.small.steps
                        a.step(href="/build_group/#{_id}/info")
                            i.green.info.icon
                            .content
                                .title info
                        .active.step
                            i.money.icon
                            .content
                                .title finance
                        a.step(href="/build_group/#{_id}/members")
                            i.users.grey.icon
                            .content
                                .title members
                        a.step(href="/group/#{_id}/members")
                            i.dashboard.icon
                            .content
                                .title dashboard
                    
                    
            .centered.row
                .seven.wide.center.aligned.column
                    .ui.center.aligned.header 
                        +i name='request-money'
                        |income
                    .spacer
                    +number_edit key='salary_amount' label='salary amount' icon='housekeeper-male' direct=true
                    .spacer
                    +number_edit key='bonus_amount' label='bonus amount' icon='trust' direct=true
                    .spacer
                    +number_edit key='overtime_amount' label='overtime amount' icon='clock' direct=true
                .seven.wide.center.aligned.column
                    .ui.center.aligned.header 
                        +i name='initiate-money-transfer'
                        |expenses
                    .spacer
                    +number_edit key='desk_rental_amount' label='desk rental amount' icon='table' direct=true
                    .spacer
                    +number_edit key='fines_amount' label='fines amount' icon='foul' direct=true
                    .spacer
                    +number_edit key='janitor_base_amount' label='janitor base fee' icon='housekeeper-male' direct=true
                    .spacer
                    +number_edit key='janitor_extra_amount' label='janitor extra fee' icon='housekeeper-male' direct=true
                    .spacer
                    +number_edit key='lunch_base_amount' label='lunch base amount' icon='food' direct=true
                    .spacer
                    +number_edit key='lunch_extra_amount' label='lunch extra amount' icon='food' direct=true
                    .spacer
                    a.ui.fluid.large.basic.button(href="/build_group/#{_id}/members")
                        i.green.checkmark.icon
                        |Save
            
                        
template(name='build_group_members')
    with current_doc
        .ui.padded.stackable.grid
            .centered.row
                .sixteen.wide.column
                    .ui.center.aligned.basic.segment
                        .ui.small.inline.header
                            //- +i name='group'
                            |building
                        .ui.inline.header #{leader_name}'s #{company_name}
                        .ui.small.inline.header
                            //- +i name='group'
                            |group
                    .ui.four.small.steps
                        a.step(href="/build_group/#{_id}/info")
                            i.green.info.icon
                            .content
                                .title info
                        a.step(href="/build_group/#{_id}/finance")
                            i.money.green.icon
                            .content
                                .title finance
                        .active.step
                            i.users.icon
                            .content
                                .title members
                        a.step(href="/group/#{_id}/members")
                            i.dashboard.icon
                            .content
                                .title dashboard
                    
            .centered.row
                .seven.wide.center.aligned.column
                    //- .ui.center.aligned.header 
                    //-     +i name='members'
                    //-     |members
                    //- .ui.header members
                    //- .ui.large.list
                    //-     each group_members
                    //-         .item #{first_name} #{last_name}
                    //-             i.remove.grey.link.icon.remove_member
                    .ui.header member selector
                    +member_selector
                    .spacer
                    a.ui.fluid.large.basic.button(href="/group/#{_id}/members")
                        i.green.checkmark.icon
                        |Save
