template(name='login')
    .ui.padded.stackable.grid
        .centered.row
            .eight.wide.column
                .ui.center.aligned.basic.segment
                    a.ui.button(href="/")
                        i.chevron.left.icon
                        i.home.icon
                        |Home
                    img.ui.rounded.small.centered.inline.image(src="{{c.url 'mmmlogo' width=400 height=400}}")
                    .ui.inline.large.header Login
                div
                if message
                    h4.ui.center.aligned.header #{message}
                .ui.inline.small.header 
                    +i name='user-male'
                    |Username
                .ui.fluid.large.input(class=login_class)
                    input.username(type='text')
                .ui.inline.small.header 
                    +i name='password'
                    | Password
                .ui.fluid.large.input(class=login_class)
                    input.password(type='password')
                //- if username
                if logging_in
                    .ui.fluid.big.button.enter(title="login #{username}" class=enter_class)
                        //- i.sign.in.alternate.icon
                        +i name='internal' classes='ui mini inline image'
                        |Login
                        strong #{username}
                        //- i.right.chevron.icon
                else
                    if username
                        .ui.center.aligned.basic.segment
                            .ui.header no '#{username}' user
                            a.ui.button(href='/choose_user_type')
                                //- i.user.plus.icon
                                +i name='enter-2' classes='ui mini inline image'                    
                                | Register
                .ui.center.aligned.basic.segment    
                    a.ui.button(href='/forgot_password')
                        +i name='forgot-password' classes='ui mini inline image'                    
                        //- i.refresh.icon
                        |Forgot Password
                    a.ui.button(href='/choose_user_type') 
                        +i name='add-user-male' classes='ui mini inline image'                    
                        //- i.user.plus.icon
                        |Register
                    //- .ui.center.aligned.inline.header see the front desk to register an account
