template(name='bounties')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    +i name='bounty-passed'
                    |bounties
                .ui.icon.button.add_bounty(title='add bounty')
                    i.plus.icon
                +bounty_cloud
            .twelve.wide.column
                .ui.stackable.five.cards
                    each bounties
                        +bounty_card

template(name='bounty_card')
    //- .ui.card    
    a.ui.card(href="/bounty/#{_id}/view")
        img.ui.fluid.image(src="{{c.url bounty_image_id width=400 height=200 crop='fill'}}")
        .content
            a.ui.header(href="/bounty/#{_id}/view") #{title}
            each tags
                .ui.basic.label #{this}
    
template(name='bounty_cloud')
    div
    //- #cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    //- i.grey.tags.icon
    //- .ui.inline.header tags
    if selected_bounty_tags
        #clear_tags.ui.active.icon.circular.button
            i.remove.icon
        each selected_bounty_tags
            .unselect_bounty_tag.ui.active.circular.button
                strong #{this}
    each all_bounty_tags
        .ui.compact.circular.button.select_bounty_tag(class=cloud_tag_class) 
            strong #{this.name}


                    


template(name='bounty_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}' bounty
                    a.ui.big.fluid.button(href="/bounty/#{_id}/view" title='save')
                        i.checkmark.large.green.icon
                        |save
                    +remove_button
                    div
                    +number_edit key='total_amount' label='total amount' direct=true
                    div
                    +number_edit key='amount_per_answer' label='amount per answer' direct=true
                    //- +image_edit key='image_id' icon='image' label='image' direct=true
                    //- +array_edit key='tags' label='tags' icon='tags' direct=true
                .ten.wide.column 
                    +textarea_edit key='description' label='description' icon='content' direct=true
                





template(name='bounty_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.button(href="/bounties")
                        i.chevron.left.icon
                        +i name='treasure-chest' classes='ui inline mini image'
                        |bounty
                    .ui.header bounty view 
                    a.ui.fluid.button(href="/bounty/#{_id}/edit")
                        i.pencil.icon
                        |edit
                    .ui.header 
                        i.tags.grey.icon
                        |tags
                    each tags
                        .ui.basic.label #{this}
                .six.wide.column
                    .ui.header #{description}
                    div
                    +number_view key='total_amount' label='total amount' direct=true
                    div
                    +number_view key='amount_per_answer' label='amount per answer' direct=true
                    div
                    +comments
                .six.wide.column
                    .ui.header question
                    +question_widget

template(name='question_widget')
    with parent_question 
        a.ui.small.header(href="/question/#{_id}/view") #{title}


template(name='bounty_stats')
    //- .ui.accordion
    //-     .title
    .ui.header.refresh_bounty_stats
        i.line.chart.icon
        |stats
    //- i.dropdown.icon
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_bounty_hours}hrs total
        .item #{average_bounty_cost}c / #{average_bounty_duration}hrs avg bounty
        //- .item bounty ranking # reservations
        //- .item bounty ranking $ earned
        //- .item # different renters
        //- .item avg daily earnings
        //- .item avg weekly earnings
        //- .item avg monthly earnings
        //- .item biggest renter
        //- .item predicted payback duration 
        //- .item predicted payback date 

    //-     //- .ui.header res slot exists
    //-     +reservation_slot_template
    //- else
    //-     if is_product_author
    //-         .ui.button.new_slot
    //-             |new slot
        
template(name='bounties_view_template')
    .ui.header bounty view template
