template(name='classroom_view_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid
            .row
                .three.wide.column
                    //- a.ui.fluid.button(href="/classrooms")
                    //-     i.chevron.left.grey.icon
                    //-     i.school.icon
                    //-     //- +i name='classroom' classes='ui inline mini image'
                    //-     |classrooms
                    //- .ui.center.aligned.huge.header
                    //-     | #{title}
                    img.ui.centered.rounded.small.image(src="{{c.url image_id gravity='face' crop='fit'}}")
                    .ui.big.fluid.vertical.pointing.menu
                        a.item(href="/classroom/#{current_doc._id}/students" class="{{isActiveRoute regex='classroom_students'}}")
                            | Dashboard
                            i.dashboard.icon
                                //- +ismall name='dashboard'
                            //- i.dashboard.grey.icon    
                    .ui.vertical.big.fluid.pointing.large.menu
                        a.item(href="/classroom/#{current_doc._id}/lunch_small" class="{{isActiveRoute regex='classroom_lunch'}}")
                            | Lunch
                            i.food.icon
                                //- +ismall name='food'    
                        //- //- a.item(href="/classroom/#{_id}/dashboard" class="{{isActiveRoute regex='classroom_dashboard'}}")
                        //- //-     i.home.grey.icon
                        //- //-     | home
                        a.item(href="/classroom/#{current_doc._id}/reports" class="{{isActiveRoute regex='classroom_reports'}}")
                            | Reports
                            i.line.chart.icon
                        //- a.item(href="/classroom/#{current_doc._id}/loans" class="{{isActiveRoute regex='classroom_loans'}}")
                        //-     | Loans
                        //-     i.icon
                        //-         +ismall name='debt'    
                        a.item(href="/classroom/#{_id}/feed" class="{{isActiveRoute regex='classroom_feed'}}")
                            i.list.icon
                                //- +ismall name='list'    
                            | Feed
                        a.item(href="/classroom/#{current_doc._id}/files" class="{{isActiveRoute regex='classroom_files'}}")
                            | Files
                            i.file.icon
                                //- +ismall name='file'    
                        //- each enabled_features
                        //-     a.item(href="/classroom/#{current_doc._id}/f/#{slug}")
                        //-         |#{title}
                        //-         i.grey.icon(class=icon)
                    //- .ui.header
                    //-     small teacher
                    //-     | #{teacher_name}
                    //- if can_edit
                    a.ui.fluid.large.button(href="/classroom/#{_id}/edit/info")
                        i.pencil.icon
                        | Edit
                .thirteen.wide.column
                    +yield
    +footer



template(name='classroom_dashboard')
    .ui.stackable.grid
        .row
            .eight.wide.column
                +classroom_info
                +classroom_school
                +classroom_students_small
            .eight.wide.column
                +classroom_feed


template(name='classroom_school')
    .ui.header school
    with school_classroom
        a.ui.large.button(href="/school/#{_id}") 
            .ui.header #{title}
        //- +school_card


template(name='classroom_students_small')   
    .ui.segment 
        .ui.grey.header
            i.users.icon
            | Students
        .ui.large.list
            each classroom_students
                .item
                    img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    .content
                        .header 
                            |#{name}

template(name='classroom_shop')
    .ui.center.aligned.header
        i.cart.icon
        | Shop
    each products 
        .ui.header #{title}
    //- +shop

template(name='classroom_info')
    .ui.segment 
        .ui.header 
            i.blue.info.icon
            | Info
        if description
            p #{description}
        if teacher_name
            .ui.small.inline.header #{teacher_name}
        if school_name
            .ui.small.inline.header #{school_name}
        //- if tags.length
        //-     each tags
        //-         .ui.label #{this}
        //- .ui.list
        //-     .item #{phone}    
        //-     .item #{address}    
        //-     .item #{link}    
        //-     .item #{email}    
        //-     .item #{contact}    
        //-     .item
        //-         each location_tags
        //-             |#{this}



template(name='classroom_files')
    .ui.center.aligned.header
        +i name='file'
        |Files
    .ui.large.linked.list
        each classroom_files
            .item 
                a.ui.grey.small.header(href=link target='_window' title='click to download')
                    |#{title}
                //- a.ui.header(href=link target='_window') #{label}
                //- a.ui.small.header(href=link target='_window') #{link}

    //- +big_link_view key='link2' label='link2' direct=true
    //- +big_link_view key='link3' label='link3' direct=true
    //- +big_link_view key='link4' label='link4' direct=true
    //- +big_link_view key='link5' label='link5' direct=true
    //- +big_link_view key='link6' label='link6' direct=true
    //- +big_link_view key='link7' label='link7' direct=true






template(name='classroom_credits')
    .ui.center.aligned.header 
        i.money.icon
        |Classroom Loans
    +loans



template(name='classroom_students')
    .ui.center.aligned.header 
        //- i.dashboard.grey.icon
        +i name='dashboard' classes='ui inline image'
        | Classroom Dashboard
    with current_doc
        .ui.fluid.accordion 
            .active.title 
                .ui.header
                    | Classroom Actions
                    i.dropdown.icon
            .active.content
                .ui.two.column.grid
                    .column
                        .ui.small.header 
                            i.refresh.grey.inline.icon
                            |Automatic
                        each automatic_credits
                            .ui.disabled.button(class=bulk_action_class) #{title}
                                span.ui.green.text +#{amount}
                                |#{day}
                        each automatic_debits
                            .ui.disabled.button(class=bulk_action_class) #{title}
                                span.ui.red.text -#{amount}
                                |#{day}
                    .column
                        .ui.small.header
                            i.hand.point.up.outline.grey.inline.icon
                            | Manual
                        each manual_classroom_credits
                            .ui.button.credit_classroom(class=bulk_action_class) #{title}
                                span.ui.green.text +#{amount}
                        each manual_classroom_debits
                            .ui.button.debit_classroom(class=bulk_action_class) #{title}
                                span.ui.red.text -#{amount}
    .ui.accordion
        each classroom_students
            .title
                img.ui.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                .ui.inline.header
                    i.dropdown.icon
                    |#{first_name} #{last_name} 
                .ui.compact.green.button.add_bonus
                    i.plus.icon
                    | bonus
                .ui.compact.red.button.add_fine
                    i.minus.icon
                    | fine
                .ui.inline.header.full_right $#{credit}
                //- .ui.icon.circular.button.
            //- .ui.item
            //- .image
            .content
                a.ui.basic.green.large.right.floated.button(href="/classroom/#{current_doc._id}/student/#{_id}")
                    | View Profile
                    i.right.chevron.icon
                .description
                    .ui.two.column.stackable.grid
                        .column
                            each student_credit_types
                                +student_credit_button
                        .column
                            each student_debit_types
                                +student_debit_button


template(name='student_credit_button')
    .ui.button.credit_student 
        |#{title}
        span.ui.green.text
            |+#{amount}

template(name='student_debit_button')
    .ui.button.debit_student 
        |#{title}
        span.ui.red.text
            |-#{amount}



template(name='classroom_reports')
    .ui.center.aligned.header 
        i.line.chart.icon
        |Reports
    with current_doc
        +classroom_stats
        .ui.stackable.padded.grid
            .row
                //- .four.wide.column
                //-     a.ui.big.button(href="/classroom/#{_id}/view" title='save')
                //-         i.chevron.left.icon
                //-         |classroom
                //- .twelve.wide.column
                //- .ui.large.header 
                //-     i.line.chart.icon
                //-     |student reports
                table.ui.celled.very.basic.table
                    thead
                        tr
                            th student
                            //- th week 1
                            //- th week 2
                            //- th week 3
                            //- th week 4
                            th credit
                    tbody
                        each classroom_students
                            tr
                                td 
                                    a.ui.header(href="/classroom/#{current_doc._id}/student/#{_id}") 
                                        img.ui.rounded.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                                        |#{first_name} #{last_name}
                                //- td 
                                //-     .ui.green.header +1
                                //-     .ui.red.header -3
                                //- td 
                                //-     .ui.green.header +1
                                //-     .ui.red.header -3
                                //- td 
                                //-     .ui.green.header +1
                                //-     .ui.red.header -3
                                //- td 
                                //-     .ui.green.header +1
                                //-     .ui.red.header -3
                                td.credit_view
                                    .ui.header.credit_view 
                                        .ui.header.credit_view $#{credit}


template(name='classroom_student')
    with current_student 
        .ui.small.grey.inline.header 
            |Viewing Student
        .ui.inline.header
            |#{name}
        .ui.inline.grey.header(title='current balance') $#{credit}
        .spacer
            //- small @#{username}
        //- if calculating
        //-     i.loading.refresh.icon
        //- else 
        //-     i.circular.refresh.link.icon.recalc_student_stats(title='recalculate')
        div
        .ui.grid      
            .two.column.row
                .column
                    //- .ui.segment
                    .ui.header 
                        //- +i name='money-bag'
                        strong $#{ssd.total_credit_amount}
                        small total weekly income
                        //- .ui.header
                        //-     //- +ismall name='hashtag'
                        //-     i.hashtag.inline.icon
                        //-     strong #{ssd.credit_count}
                        //-     small credits
                .column
                    //- .ui.segment
                    .ui.header
                        //- +i name='shopping-cart-loaded'
                        strong $#{ssd.total_debit_amount}
                        small total weekly expenses
                        //- .ui.header
                        //-     i.hashtag.inline.icon
                        //-     //- +ismall name='hashtag'
                        //-     strong #{ssd.debit_count}
                        //-     small debits
                //- .column
                //-     .ui.segment
                //-         .ui.small.header
                //-             +i name='economic-improvement'
                //-             |growth from last week
            .two.column.row
                .column
                    .ui.segment
                        .ui.header 
                            +i name='deposit' classes='ui inline mini image'
                            |weekly credits
                        //- .ui.bulleted.list
                        //-     each user_credits
                        //-         .item 
                        //-             |#{amount}
                        //-             if icon
                        //-                 +i name=icon
                        //-             strong #{text}
                        //-             small #{when}
                        .ui.feed.mediumscroll
                            each user_credits
                                +transaction_event_item        
                .column
                    .ui.segment
                        .ui.header 
                            +i name='withdrawal' classes='ui inline mini image'
                            |weekly debits
                        .ui.feed.mediumscroll
                            each user_debits
                                +transaction_event_item
                                
template(name='transaction_event_item')
    .event 
        .label
            if is_credit
                i.green.plus.icon
            else 
                i.red.minus.icon
        .content
            .summary
                a.user(href="/classroom/#{current_doc._id}/student/#{target_user._id}")
                    |#{target_user.name}
                |#{text}
                .date #{when}
            .meta
                //- +voting_small
                //- a.view(title='view full')
                //-     i.right.chevron.icon 
                a.remove
                    i.undo.large.icon
                //- if is_dev
                //-     +remove_button
                +event_comment
                
                
template(name='event_comment')   
    a.note(title='create note')
        i.comment.large.icon 
    if is_commenting
        .ui.form 
            textarea.note_area(rows='3') #{note}
    else if note 
        |#{note}




template(name='classroom_feed')
    .ui.center.aligned.header 
        //- +i name='list'
        i.list.icon
        | Feed
    if is_admin 
        .ui.button.remove_all_events
            i.shield.icon
            |remove all events
    .ui.stackable.grid
        .twelve.wide.column
            .ui.small.feed.scrolling
                each classroom_events
                    .event 
                        .label
                            img.ui.avatar.image(src="{{c.url target_user.profile_image_id height=100 gravity='face' crop='fill'}}")
                            if is_credit
                                i.green.plus.icon
                                //- +i name='deposit' classes='ui inline mini image'
                            if is_debit
                                i.red.minus.icon
                                //- +i name='withdrawal' classes='ui inline mini image'
                            else if icon
                                +i name=icon
                        .content
                            .summary
                                a.user(href="/classroom/#{current_doc._id}/student/#{target_user._id}")
                                    |#{target_user.name}
                                |#{text}
                                .date #{when}
                            .meta
                                //- +voting_small
                                a.remove
                                    i.large.undo.icon
                                +event_comment
                                //- if is_dev
                                //-     +remove_button
        .four.wide.column 
            .ui.disabled.button.view_debits
                |View Debits
            .ui.disabled.button.view_credits
                |View Credits



template(name='classroom_stats')
    .ui.two.column.grid
        .column
            //- .ui.header.refresh_classroom_stats
            //-     //- +ismall name='line-chart'
            //-     i.line.chart.icon
            //-     |stats
            div
            .ui.green.inline.header $#{csd.classroom_balance}
            | balance
            div
            .ui.green.inline.header $#{csd.total_credit_amount}
            | income
            div
            .ui.red.inline.header $#{csd.total_debit_amount}
            | expenses
        .column
            .ui.list
                .item #{views} views
                .item #{csd.student_count} students
                .item #{csd.credit_count} total credits
                .item #{csd.debit_count} total debits
                .item $#{csd.average_credit_per_student} credit/student
                .item $#{csd.average_debit_per_student} debit/student
