template(name='my_classrooms')
    .ui.stackable.padded.grid
        .row
            .twelve.wide.column
                .ui.inline.header 
                    i.school.icon
                    |Your Classrooms
                if is_teacher
                    .ui.icon.button.add_classroom(title='add classroom')
                        //- +i name='plus' classes='ui mini inline image'
                        i.green.large.plus.icon
                        //- |add classroom
        .row
            .sixteen.wide.column
                .ui.stackable.four.cards
                    each classrooms
                        +classroom_card

template(name='classrooms')
    .ui.stackable.padded.grid
        .row
            .twelve.wide.column
                .ui.inline.header 
                    +i name='classroom'
                    |Classrooms
                if currentUser
                    .ui.icon.button.add_classroom(title='add classroom')
                        //- +i name='plus' classes='ui mini inline image'
                        i.green.large.plus.icon
                        //- |add classroom
        .row
            .sixteen.wide.column
                .ui.stackable.four.cards
                    each classrooms
                        +classroom_card

template(name='classroom_card')
    .ui.card
        a(href="/classroom/#{_id}")
            img.ui.fluid.image(src="{{c.url classroom_image_id crop='lpad'}}")
            //- img.ui.fluid.image(src="{{c.url classroom_image_id crop='lpad'}}")
        .content
            a.ui.header(href="/classroom/#{_id}" title='balance') #{title}
            .ui.green.inline.header $#{csd.classroom_balance}
            .ui.green.inline.small.header(title='income') ($#{csd.total_credit_amount}
            .ui.red.inline.small.header(title='expenses') / -$#{csd.total_debit_amount})
            a.ui.header(href="/classroom/#{_id}")
                |view 
                i.right.chevron.icon

                    
template(name='classroom_view_layout')
    +teacher_nav
    with current_doc
        .ui.stackable.padded.grid
            .row
                .three.wide.column
                    a.ui.fluid.button(href="/my_classrooms")
                        i.chevron.left.grey.icon
                        i.school.icon
                        //- +i name='classroom' classes='ui inline mini image'
                        |classrooms
                    +image_view key='classroom_image_id' label='image' direct=true
                    .ui.header
                        | #{title}
                    .ui.big.fluid.vertical.secondary.menu
                        a.item(href="/classroom/#{_id}/students" class="{{isActiveRoute regex='classroom_students'}}")
                            i.dashboard.grey.icon
                            | dashboard
                        a.item(href="/classroom/#{_id}/feed" class="{{isActiveRoute regex='classroom_feed'}}")
                            i.list.grey.icon
                            |feed
                        a.item(href="/classroom/#{_id}/reports" class="{{isActiveRoute regex='classroom_reports'}}")
                            i.line.chart.grey.icon
                            | reports
                        a.item(href="/classroom/#{_id}/stats" class="{{isActiveRoute regex='classroom_stats'}}")
                            i.pie.chart.grey.icon
                            | stats
                        a.item(href="/classroom/#{_id}/lunch" class="{{isActiveRoute regex='classroom_lunch'}}")
                            i.food.grey.icon
                            | lunch
                        a.item(href="/classroom/#{_id}/loans" class="{{isActiveRoute regex='classroom_loans'}}")
                            i.money.grey.icon
                            | loans
                        a.disabled.item(href="/classroom/#{_id}/shop" class="{{isActiveRoute regex='classroom_shop'}}")
                            i.shop.grey.icon
                            | shop
                        a.disabled.item(href="/classroom/#{_id}/services" class="{{isActiveRoute regex='classroom_services'}}")
                            i.wrench.grey.icon
                            | services
                        //- a.disabled.item(href="/classroom/#{_id}/stock" class="{{isActiveRoute regex='classroom_services'}}")
                        //-     i.pie.chart.icon
                        //-     | stock
                    .ui.header
                        small teacher
                        | #{teacher_name}
                    a.ui.fluid.button(href="/classroom/#{_id}/edit")
                        i.pencil.icon
                        | edit
                .thirteen.wide.column
                    //- a.ui.button(href="/classroom/#{_id}/feed" class="{{isActiveRoute regex='classroom_feed'}}")
                    //-     +ismall name='rss'
                    //-     | feed
                    //- a.ui.button(href="/classroom/#{_id}/stats" class="{{isActiveRoute regex='classroom_stats'}}")
                    //-     +ismall name='line-chart'
                    //-     | stats
                    +yield
    //- +teacher_footer

template(name='classroom_stock')
    .ui.header
        i.line.chart.icon
        | classroom stock
    .ui.two.column.stackable.grid
        .row
            .column
                .ui.header total shares
                .ui.header share price
                .ui.header stock price
                .ui.button buy stock

template(name='classroom_jobs')
    .ui.header 
        i.business.icon
        |classroom jobs
    +jobs

template(name='classroom_loans')
    .ui.header 
        i.money.icon
        |classroom loans
    +loans

template(name='classroom_shop')        
    .ui.header 
        i.money.icon
        |classroom shop
    +shop

template(name='classroom_grades')        
    .ui.header 
        |grades


template(name='classroom_lunch')        
    .ui.padded.stackable.grid
        .sixteen.wide.column
            .ui.center.aligned.large.header 
                //- +i name='food'
                i.food.icon
                |lunch
            .ui.four.stackable.cards
                each classroom_students
                    unless lunch_chosen
                        .ui.card
                            img.ui.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                            .content
                                .ui.header #{name}
                                .ui.huge.labeled.icon.fluid.basic.button.choose_home
                                    i.home.icon
                                    //- +i name='home' classes='ui inline mini image'
                                    |home 
                                    span.ui.red.text -3c
                                .spacer
                                .ui.huge.labeled.icon.fluid.basic.button.choose_cafeteria
                                    i.food.icon
                                    //- +i name='food' classes='ui inline mini image'
                                    |cafeteria
                                    span.ui.red.text -5c
            .ui.center.aligned.large.button.back_to_classroom
                i.chevron.left.icon
                |classroom





template(name='classroom_credits')
    .ui.header 
        i.money.icon
        |classroom loans
    +loans

template(name='classroom_debits')   
    .ui.header 
        i.money.icon
        |classroom loans
     
    +shop



    

template(name='classroom_students')
    .ui.large.header 
        i.dashboard.icon
        |classroom dashboard
    with current_doc
        .ui.two.column.grid
            .column
                .ui.small.header 
                    i.calendar.grey.inline.icon
                    i.retweet.grey.inline.icon
                    |weekly automatic actions
                each weekly_automatic_credits
                    .ui.button.trigger(class=bulk_action_class) #{title}
                        span.ui.green.text +#{amount}
                each weekly_automatic_debits
                    .ui.button.trigger(class=bulk_action_class) #{title}
                        span.ui.green.text +#{amount}
            .column
                .ui.small.header 
                    i.clock.grey.inline.icon
                    i.retweet.grey.inline.icon
                    |daily automatic actions
                each daily_automatic_credits
                    .ui.button.trigger(class=bulk_action_class) #{title}
                        span.ui.green.text +#{amount}
                each daily_automatic_debits
                    .ui.button.trigger(class=bulk_action_class) #{title}
                        span.ui.green.text +#{amount}
            
        .ui.two.column.grid
            .column
                .ui.small.header 
                    i.calendar.grey.inline.icon
                    i.hand.point.up.outline.grey.inline.icon
                    |weekly manual actions
                //- .ui.button.pay_salary disperse weekly paycheck
                //-     span.ui.green.text +#{salary_amount}
                each weekly_manual_credits
                    .ui.button.trigger(class=bulk_action_class) #{title}
                        span.ui.green.text +#{amount}
                each weekly_manual_debits
                    .ui.button.trigger(class=bulk_action_class) #{title}
                        span.ui.red.text -#{amount}
            .column
                .ui.small.header
                    i.clock.grey.inline.icon
                    i.hand.point.up.outline.grey.inline.icon
                    | daily manual actions
                each daily_manual_credits
                    .ui.button.trigger(class=bulk_action_class) #{title}
                        span.ui.green.text +#{amount}
                each daily_manual_debits
                    .ui.button.trigger(class=bulk_action_class) #{title}
                        span.ui.red.text -#{amount}
                //- 
                //- each daily_actions
                //-     .ui.button #{title}
                //- .ui.button.charge_rent charge daily rent 
                //-     span.ui.red.text -#{desk_rental_amount}
                //- .ui.button.charge_janitor_base charge daily janitor fee 
                //-     span.ui.red.text -#{janitor_base_amount}
                //- .ui.button.charge_janitor_extra charge daily janitor extra fee 
                //-     span.ui.red.text -#{janitor_extra_amount}
    .ui.large.accordion
        each classroom_students
            .title
                img.ui.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                .ui.inline.header
                    i.dropdown.icon
                    |#{first_name} #{last_name} 
                .ui.small.inline.header #{credit}c
                i.green.plus.circle.big.link.icon.add_bonus
                i.red.minus.circle.big.link.icon.add_fine
                //- .ui.icon.circular.button.
            //- .ui.item
            //- .image
            .content
                a.ui.basic.green.large.right.floated.button(href="/user/#{username}")
                    |view profile
                    i.right.chevron.icon
                .description
                    .ui.two.column.stackable.grid
                        .column
                            .ui.button bonus
                            .ui.button overtime
                            each individual_credit_types
                                +class_credit_button
                        .column
                            each classroom_debit_types
                                +class_debit_button
                //- .extra.content.smallscroll
                //-     .ui.list
                //-         each student_events
                //-             .item #{text} #{when}
                //-                 +remove_button
                                
            //- .ui.item
            //-     .image
            //-         img.ui.mini.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
            //-     .content
            //-         a.header(href="/user/#{username}")
            //-             |#{first_name} #{last_name} 
            //-         .ui.small.header #{credit}c
            //-         .description
            //-             each individual_credit_types
            //-                 +class_credit_button
            //-             each classroom_debit_types
            //-                 +class_debit_button
            //-     .extra.content.smallscroll
            //-         .ui.list
            //-             each student_events
            //-                 .item #{text} #{when}
            //-                     +remove_button
            //- 
                                        
template(name='class_credit_button')
    .ui.button.credit_student 
        i.green.plus.icon
        |#{amount}
        |#{title}
    
template(name='class_debit_button')
    .ui.button.debit_student 
        i.red.minus.icon
        |#{amount}
        |#{title}


    
template(name='classroom_reports')
    with current_doc
        .ui.stackable.padded.grid
            .row
                //- .four.wide.column
                //-     a.ui.big.button(href="/classroom/#{_id}/view" title='save')
                //-         i.chevron.left.icon
                //-         |classroom
                //- .twelve.wide.column
                .ui.large.header 
                    i.line.chart.icon
                    |student reports
                table.ui.celled.very.basic.table
                    thead
                        tr
                            th student
                            th week 1
                            th week 2
                            th week 3
                            th week 4
                            th credit
                    tbody
                        each classroom_students
                            tr
                                td 
                                    a.ui.header(href="/user/#{username}") 
                                        img.ui.rounded.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                                        |#{first_name} #{last_name}
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td.credit_view
                                    .ui.header.credit_view 
                                        .ui.large.header.credit_view $#{credit}




template(name='classroom_feed')
    .ui.header 
        +i name='rss'
        |feed
    .ui.feed.scrolling
        each classroom_events
            .event 
                .label
                    img.ui.avatar.image(src="{{c.url target_user.profile_image_id height=100 gravity='face' crop='fill'}}")
                    if is_credit
                        +i name='deposit' classes='ui inline mini image'
                    if is_debit
                        +i name='withdrawal' classes='ui inline mini image'
                    else if icon
                        +i name=icon
                .content
                    .summary
                        a.user(href="/user/#{target_user.username}")
                            |#{target_user.name}
                        |#{text}
                        .date #{when}
                    .meta
                        +voting_small
                        //- a.like
                        //-     i.like.icon 
                        //-     |4 likes
                        a.remove
                            i.undo.icon
                        //- if is_dev
                        //-     +remove_button



template(name='classroom_stats')
    .ui.header.refresh_classroom_stats
        +i name='line-chart'
        |stats
        div
        .ui.green.inline.header $#{csd.classroom_balance}
        | balance
        div
        .ui.green.inline.header $#{csd.total_credit_amount}
        | income
        div
        .ui.red.inline.header -$#{csd.total_debit_amount}
        | expenses
    .ui.big.list
        .item #{views} views
        .item #{csd.student_count} students
        .item #{csd.credit_count} total credits
        .item #{csd.debit_count} total debits
        .item $#{csd.average_credit_per_student} credit/student
        .item $#{csd.average_debit_per_student} debit/student
        
