template(name='classroom_edit_layout')
    +teacher_nav
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        small editing 
                        div
                        strong '#{title}' 
                        div
                        small classroom
                    a.ui.huge.icon.fluid.button(href="/classroom/#{_id}/students" title='save')
                        i.checkmark.green.icon
                        //- |Save
                    //- if is_admin
                    .ui.vertical.huge.fluid.pointing.menu
                        a.item(href="/classroom/#{_id}/edit/info" class="{{isActiveRoute regex='classroom_edit_info'}}") 
                            |info
                            i.info.icon
                        a.item(href="/classroom/#{_id}/edit/students" class="{{isActiveRoute regex='classroom_edit_students'}}") 
                            |students
                            i.users.icon
                        a.item(href="/classroom/#{_id}/edit/income" class="{{isActiveRoute regex='classroom_edit_income'}}")
                            |income
                            i.down.chevron.icon
                        a.item(href="/classroom/#{_id}/edit/expenses" class="{{isActiveRoute regex='classroom_edit_expenses'}}")
                            |expenses
                            i.chevron.up.icon
                        //- a.disabled.item(href="/classroom/#{_id}/edit/goals" class="{{isActiveRoute regex='classroom_edit_goals'}}")
                        //-     |goals
                        //-     i.target.icon
                        //- a.disabled.item(href="/classroom/#{_id}/edit/loans" class="{{isActiveRoute regex='classroom_edit_loans'}}")
                        //-     |loans
                        //-     i.money.icon
                        //- a.disabled.item(href="/classroom/#{_id}/edit/shop" class="{{isActiveRoute regex='classroom_edit_shop'}}")
                        //-     |shop
                        //-     i.shop.icon
                        //- a.disabled.item(href="/classroom/#{_id}/edit/stock" class="{{isActiveRoute regex='classroom_edit_stock'}}")
                        //-     |stock
                        //-     i.line.chart.icon 
                .twelve.wide.column
                    +yield
                                    
template(name='classroom_edit_info')
    .ui.header 
        i.info.icon
        |info
    +text_edit key='title' direct=true
    +text_edit key='company_name' label='company name' direct=true
    +image_edit key='classroom_image_id' label='image' direct=true
    +textarea_edit key='description' label='description' direct=true
    +array_edit key='tags' label='tags' icon='tags' direct=true
    if is_admin
        +teacher_selector

    +remove_button
                                    
template(name='classroom_edit_students')                                    
    .ui.large.header 
        i.users.icon
        |students
    //- if adding_student
    //-     .ui.header adding student
    //-     .ui.large.form
    //-         .field
    //-             input#first_name(type='text' placeholder='first name' autocomplete='off')
    //-         .field
    //-             input#last_name(type='text' placeholder='last name' autocomplete='off')
    //-         //- .field
    //-         //-     |Username
    //-         //-     input#username(type='text')
    //-     .ui.fluid.green.huge.button.create_student
    //-         |create student
    //- unless adding_student
    //-     .ui.icon.button.set_adding_student(title='add student')
    //-         i.plus.large.green.icon
    +student_selector

template(name='classroom_edit_income')
    .ui.large.header 
        i.chevron.up.icon
        |income
    .ui.stackable.grid
        .four.wide.column
            .ui.header presets
            each credit_types
                a.item.select_expense(class=expense_class) 
                    |#{title}
                    if is_automatic
                        i.lightning.yellow.icon
                    else 
                        i.hand.icon
            //- 
            //- +number_edit key='salary_amount' label='salary amount' icon='money' direct=true
            //- +boolean_edit key='salary_automatic' label='automatic'
            //- if salary_automatic
            //-     +boolean_edit key='salary_automatic_daily' label='daily'
            //-     +boolean_edit key='salary_automatic_weekly' label='weekly'
            //- .spacer
            //- +number_edit key='bonus_amount' label='bonus amount' icon='trust' direct=true
            //- .spacer
            //- +number_edit key='overtime_amount' label='overtime amount' icon='clock' direct=true
        .twelve.wide.column
            .ui.inline.header Custom
            .ui.button.add_credit_type
                i.plus.icon
                | credit type
            div
            with selected_income
                    +transaction
                        
template(name='classroom_edit_expenses')       
    .ui.large.header 
        i.chevron.up.icon
        |expenses
    .ui.stackable.grid
        .row
            .six.wide.column
                .ui.fluid.icon.button.add_debit_type
                    i.plus.icon
                .ui.fluid.huge.vertical.pointing.menu
                    each debit_types
                        a.item.select_expense(class=expense_class) 
                            |#{title}
                            if is_automatic
                                i.lightning.yellow.icon
                            else 
                                i.hand.icon
                //- .ui.header presets
                //- +number_edit key='desk_rental_amount' label='desk rental amount' icon='table' direct=true
                //- .spacer
                //- +number_edit key='fines_amount' label='fines amount' icon='foul' direct=true
                //- .spacer
                //- +number_edit key='janitor_base_amount' label='janitor base fee' icon='housekeeper-male' direct=true
                //- .spacer
                //- +number_edit key='janitor_extra_amount' label='janitor extra fee' icon='housekeeper-male' direct=true
                //- .spacer
                //- +number_edit key='lunch_base_amount' label='lunch cafeteria amount' icon='food' direct=true
                //- .spacer
                //- +number_edit key='lunch_extra_amount' label='lunch home amount' icon='food' direct=true
            .ten.wide.column
                with selected_expense
                    +transaction

template(name='transaction')
    .ui.segment
        .content
            //- +image_edit key='image_id' label='image' direct=true
            +text_edit key='title' direct=true
            +number_edit key='amount' direct=true
            div
            .ui.small.grey.inline.header dispersion type
            //- +boolean_edit key='automatic' direct=true
            +key_value_edit key='dispersion_type' value='automatic' label='automatic'
            +key_value_edit key='dispersion_type' value='manual' label='manual'
            div
            if is_automatic
                .ui.small.grey.inline.header automatic period
                +key_value_edit key='automatic_period' value='daily' label='daily'
                +key_value_edit key='automatic_period' value='weekly' label='weekly'
                div
            div
            if is_manual
                div
                .ui.small.grey.inline.header manual period
                +key_value_edit key='manual_period' value='daily' label='daily'
                +key_value_edit key='manual_period' value='weekly' label='weekly'
                if is_manual_daily
                    div
                    .ui.small.grey.inline.header manual limit type
                    +key_value_edit key='manual_limit_type' value='single' label='single'
                    +key_value_edit key='manual_limit_type' value='multi' label='multi'
                //- div
                //- if limit
                //-     +number_edit key='limit_amount' label='limit amount'
            div
            .ui.small.grey.inline.header scope
            +key_value_edit key='scope' value='student' label='student'
            +key_value_edit key='scope' value='class' label='class'
            div


template(name='class_stock_edit')
    .ui.header stock/ownership
    if public
        .ui.header public
        if shares 
            .ui.button 
        .ui.button.issue_stock_certificate 
            |issue stock certificate
        each stock_certificate
            .ui.header #{owner_username} %#{percent}
        .ui.header available shares
        each available_shares
            .ui.header ${price} for #{share_amount} shares 
                |#{percent_price} percent price
    else
        .ui.header private
        .ui.button.go_public go public


//- template(name='shop_edit_template')
//-     .ui.button.add_shop_item 
//-         i.plus.icon
//-         |add item
//-     each classroom_shop_items
//-         .ui.header #{title}
    
    
    
template(name='goals_edit_template')
    .ui.button.add_class_goal 
        i.plus.icon
        |add goal
    +textarea_edit key='goals_notes' label='goals notes' direct=true
    each class_goals
        .ui.header #{title}
    
    
