template(name='classroom_edit_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    //- .ui.header 
                    //-     small editing 
                    //-     div
                    //-     strong #{title}
                    //-     div
                    //-     small classroom
                    a.ui.icon.fluid.button(href="/classroom/#{_id}" title='save')
                        i.checkmark.green.large.icon
                        |Save
                    //- if is_admin
                    .ui.vertical.fluid.pointing.large.menu
                        a.item(href="/classroom/#{_id}/edit/info" class="{{isActiveRoute regex='classroom_edit_info'}}") 
                            |Classroom Info
                            i.info.blue.icon
                        if is_admin
                            a.item(href="/classroom/#{_id}/edit/settings" class="{{isActiveRoute regex='classroom_edit_settings'}}") 
                                |Settings
                                i.cog.icon
                        a.item(href="/classroom/#{current_doc._id}/edit/finance" class="{{isActiveRoute regex='classroom_edit_finance'}}")
                            |Finance
                            i.money.green.icon
                            
                    .ui.vertical.fluid.big.menu
                        a.item(href="/classroom/#{currentUser._id}/edit/teacher" class="{{isActiveRoute regex='classroom_edit_teacher'}}") 
                            | Teacher Info
                            i.info.icon
                .twelve.wide.column
                    +yield

template(name='classroom_edit_settings')
    .ui.header 
        i.cog.icon
        |Settings
    .ui.one.column.grid
        //- if is_admin 
        .column
            +boolean_edit key='classroom' label='classroom' icon='classroom' direct=true
            +boolean_edit key='allow_sponsorship' label='allow sponsorships' direct=true
            +boolean_edit key='published' label='published' icon='eye' direct=true
            +boolean_edit key='private' label='private' icon='invisible' direct=true
            if private
                +multi_user_edit key='visible_user_ids' label='visible to users' icon='users' direct=true
            .ui.orange.button.remove_classroom
                i.remove.icon
                |Remove Classroom


template(name='classroom_edit_info')
    .ui.center.aligned.header 
        i.info.blue.icon
        |Classroom Info
    .ui.two.column.grid
        .row
            .column
                +text_edit key='title' label='Classroom Title' direct=true
                //- +image_edit key='image_id' label='Image' direct=true
            .column
                //- +textarea_edit key='description' label='description' direct=true
                //- +array_edit key='tags' label='tags' icon='tags' direct=true
                div
                if is_dev
                    +text_edit key='slug' label='slug' direct=true
                    +boolean_edit key='template' label='template' direct=true
                    +teacher_selector
                    +school_selector
        .row
            +student_selector


template(name='classroom_edit_finance')
    .ui.two.column.grid
        .row
            .column
                +classroom_edit_credits
            .column
                +classroom_edit_debits




template(name='classroom_edit_students')                 
    +student_selector



template(name='classroom_edit_shop')       
    .ui.large.header 
        i.cart.icon
        | Shop Edit
        
        
        
        










//- template(name='classroom_edit_templates')       
//-     .ui.large.header 
//-         i.clone.icon
//-         |templates
//-     .ui.stackable.grid
//-         .row
//-             .eight.wide.column
//-                 .ui.header my templates
//-                 .ui.button.generate_from_current generate template from current structure
//-                 .ui.fluid.vertical.pointing.menu
//-                     each my_transaction_templates
//-                         a.item.select_template(class=template_class) 
//-                             |#{title}
//-                 .ui.header template marketplace
//-                 .ui.fluid.vertical.pointing.menu
//-                     each transaction_templates
//-                         a.item.select_template(class=template_class) 
//-                             |#{title}
//-             .eight.wide.column
//-                 with selected_template
//-                     +template
//- 
//- 
//- template(name='template')
//-     .ui.segment
//-         if editing_template
//-             .ui.header editing template
//-             //- +image_edit key='image_id' label='image' direct=true
//-             +text_edit key='title' direct=true
//-             div
//-             +remove_button
//-             .ui.divider
//-             .ui.fluid.button.save_template
//-                 i.green.checkmark.icon
//-                 |save
//-         else 
//-             .ui.header viewing template
//-             .ui.header 
//-                 small title
//-                 | #{title}
//-             .ui.header 
//-                 small author
//-                 | #{_author_username}
//-             div
//-             .ui.small.grey.inline.header credits
//-             .ui.bulleted.list
//-                 each classroom_credits 
//-                     .item #{title} +#{amount}
//-             .ui.small.grey.inline.header debits
//-             .ui.bulleted.list
//-                 each classroom_debits 
//-                     .item #{title} -#{amount}
//-             div
//-             .ui.divider
//-             if is_author
//-                 .ui.fluid.button.edit_template
//-                     i.pencil.icon
//-                     |edit
//-             .ui.fluid.button.clone_template
//-                 i.clone.icon
//-                 |clone
//- 
//- 
//- 
//- 
//- 
//- template(name='classroom_edit_features')       
//-     .ui.large.inline.header 
//-         i.th.icon
//-         |features
//-     if is_dev
//-         .ui.icon.button.add_feature
//-             i.plus.icon
//-     .ui.stackable.grid
//-         .row
//-             .eight.wide.column
//-                 .ui.header
//-                     small current monthly bill 
//-                     |$#{classroom_monthly_bill}/month
//-         .row
//-             .seven.wide.column
//-                 .ui.small.header enabled
//-                 .ui.fluid.vertical.pointing.menu
//-                     each enabled_features
//-                         +feature_menu_item
//-                 div
//-                 .ui.small.inline.header available
//-                 .ui.fluid.vertical.pointing.menu
//-                     each disabled_features
//-                         +feature_menu_item
//-             .nine.wide.column
//-                 with selected_feature
//-                     +feature
//- 
//- 
//- 
//- template(name='feature_menu_item')
//-     a.item.select_feature(class=feature_class) 
//-         if icon
//-             i.icon(class=icon)
//-         |#{title}
//-         if dependencies.length
//-             i.fork.icon(title="dependencies: #{dependencies}")
//-         if monthly_price
//-             small $#{monthly_price}/month
//- 
//- 
//- 
//- 
//- template(name='feature')
//-     .ui.segment(class=feature_class)
//-         if editing_feature
//-             .ui.header editing feature
//-             +text_edit key='title' direct=true
//-             +slug_edit key='slug' direct=true
//-             +image_edit key='image_id' label='image' direct=true
//-             +text_edit key='icon' direct=true
//-             +textarea_edit key='description' direct=true
//-             +array_edit key='tags' label='tags' direct=true
//-             +array_edit key='dependencies' label='dependencies' direct=true
//-             div
//-             +number_edit key='monthly_price' label='monthly price' direct=true
//-             div
//-             +remove_button
//-             .ui.divider
//-             .ui.fluid.button.save_feature
//-                 i.green.checkmark.icon
//-                 |save
//-         else 
//-             .ui.header 
//-                 if icon
//-                     i.icon(class=icon)
//-                 | #{title}
//-             div
//-             .ui.small.header $#{monthly_price}/month
//-             |#{description}
//-             +array_view key='tags' label='tags' icon='tags' direct=true
//-             +array_view key='dependencies' label='dependencies' icon='fork' direct=true
//-             div
//-             .ui.divider
//-             if is_dev
//-                 .ui.fluid.small.button.edit_feature
//-                     i.pencil.icon
//-                     |edit
//-             unless enabled
//-                 .ui.fluid.large.button.enable_feature
//-                     i.toggle.off.icon
//-                     |enable
//-             else 
//-                 .ui.fluid.large.button.disable_feature
//-                     i.toggle.on.icon
//-                     |disable
//- 
//- 
//- 
//- 
//- 
//- 
//- template(name='classroom_edit_feature')
//-     with current_feature
//-         .ui.header  
//-             if icon 
//-                 i.icon(class=icon)
//-             |#{title}
//-         +Template.dynamic template=feature_edit_template
//- 


template(name='classroom_edit_files')
    .ui.header file editing
    //- each file_links
    //- each mmm_files
    //-     .ui.button.toggle
    +link_edit key='link1' label='link 1' direct=true     
    +link_edit key='link2' label='link 2' direct=true     
    +link_edit key='link3' label='link 3' direct=true     
    +link_edit key='link4' label='link 4' direct=true     
    +link_edit key='link5' label='link 5' direct=true     
    +link_edit key='link6' label='link 6' direct=true     
