template(name='classroom_edit_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        small editing 
                        div
                        strong #{title}
                        div
                        small classroom
                    a.ui.icon.fluid.button(href="/classroom/#{_id}" title='save')
                        i.checkmark.green.large.icon
                        //- |Save
                    //- if is_admin
                    .ui.vertical.fluid.pointing.large.menu
                        a.item(href="/classroom/#{_id}/edit/info" class="{{isActiveRoute regex='classroom_edit_info'}}") 
                            |info
                            i.info.icon
                        a.item(href="/classroom/#{_id}/edit/settings" class="{{isActiveRoute regex='classroom_edit_settings'}}") 
                            |settings
                            i.cog.icon
                        //- a.item(href="/classroom/#{_id}/edit/features" class="{{isActiveRoute regex='classroom_edit_features'}}")
                        //-     |features
                        //-     i.th.icon                    
                    .ui.vertical.large.fluid.pointing.large.menu
                        a.item(href="/classroom/#{current_doc._id}/edit/files" class="{{isActiveRoute regex='classroom_edit_files'}}")
                            |files
                            i.file.icon
                        a.item(href="/classroom/#{current_doc._id}/edit/debits" class="{{isActiveRoute regex='classroom_edit_debits'}}")
                            |debits
                            i.minus.icon
                        a.item(href="/classroom/#{current_doc._id}/edit/credits" class="{{isActiveRoute regex='classroom_edit_credits'}}")
                            |credits
                            i.plus.icon
                        a.item(href="/classroom/#{current_doc._id}/edit/shop" class="{{isActiveRoute regex='classroom_edit_shop'}}")
                            |shop
                            i.shop.icon
                        a.item(href="/classroom/#{current_doc._id}/edit/students" class="{{isActiveRoute regex='classroom_edit_students'}}")
                            |students
                            i.users.icon
                    //- .ui.vertical.large.fluid.pointing.menu
                    //-     each enabled_features
                    //-         a.item(href="/classroom/#{current_doc._id}/edit/f/#{slug}")
                    //-             |#{title}
                    //-             i.icon(class=icon)
                .twelve.wide.column
                    +yield

template(name='classroom_edit_settings')
    .ui.header 
        i.cog.icon
        |settings
    .ui.two.column.grid
        //- if is_admin 
        .column
            +boolean_edit key='classroom' label='classroom' icon='classroom' direct=true
            if classroom 
                .ui.header need to set school, have school overview, be able to see and compare amongst classrooms
                .ui.header need to allow sponsorships, make it clear that using this platform is a fundraising tool
                .ui.header classes want to show progress to earn sponsorships
            +boolean_edit key='allow_sponsorship' label='allow sponsorships' direct=true

        .column
            +boolean_edit key='published' label='published' icon='eye' direct=true
            +boolean_edit key='private' label='private' icon='invisible' direct=true
            if private
                +multi_user_edit key='visible_user_ids' label='visible to users' icon='users' direct=true
            .ui.orange.button.remove_classroom
                i.remove.icon
                |remove classroom


template(name='classroom_edit_info')
    .ui.header 
        i.info.icon
        |info
    .ui.two.column.grid
        .column
            +text_edit key='title' label='classroom title' direct=true
            +text_edit key='teacher_name' label='teacher name' placeholder='enter your name' tooltip='examples: john smith' direct=true
            +text_edit key='school_name' label='school name' direct=true
            +image_edit key='image_id' label='image' direct=true
        .column
            +textarea_edit key='description' label='description' direct=true
            +array_edit key='tags' label='tags' icon='tags' direct=true
            div
            //- +boolean_edit key='phone_exists' label='phone' icon='phone' direct=true
            //- if phone_exists 
            //-     +phone_edit key='phone_number' label='phone number' direct=true
            //- div
            //- +boolean_edit key='address_exists' label='address' icon='address' direct=true
            //- if address_exists 
            //-     +text_edit key='address' label='address' direct=true
            //-     +array_edit key='location_tags' label='location tags' direct=true
            //- div
            //- +boolean_edit key='hours_exist' label='hours' icon='clock' direct=true
            //- if hours_exist 
            //-     +text_edit key='hours' label='hours' direct=true
            //-     +array_edit key='availability_tags' label='availability tags' direct=true
            if is_admin
                +teacher_selector

template(name='classroom_edit_students')                 
    +student_selector

template(name='classroom_edit_credits')
    //- .ui.large.header 
    //-     i.plus.icon
    //-     |credits
    a.ui.button(href="/classroom/#{_id}/edit/templates" class="{{isActiveRoute regex='classroom_edit_templates'}}")
        i.download.icon
        |templates
    .ui.stackable.grid
        .eight.wide.column
            .ui.small.header from template
            .ui.fluid.vertical.pointing.menu
                each template_credit_types
                    +credit_menu_item
            div
            .ui.small.inline.header custom
            .ui.icon.button.add_credit_type
                i.plus.icon
            .ui.fluid.vertical.pointing.menu
                each custom_credit_types
                    +credit_menu_item
        .eight.wide.column
            div
            with selected_credit
                +transaction


template(name='credit_menu_item')                        
    a.item.select_credit(class=credit_class) 
        |#{title}
        small +$#{amount}
        if is_automatic
            i.lightning.yellow.icon
        if is_individual
            i.user.outline.icon(title='student scope')
        if is_classroom 
            i.users.icon(title='classroom scope')
        if is_admin
            i.circular.remove.icon.remove_credit


template(name='classroom_edit_debits')       
    //- .ui.large.header 
    //-     i.chevron.up.icon
    //-     |debits
    a.ui.button(href="/classroom/#{current_doc._id}/edit/templates" class="{{isActiveRoute regex='classroom_edit_templates'}}")
        i.download.icon
        |templates

    .ui.stackable.grid
        .row
            .eight.wide.column
                .ui.small.header from template
                .ui.fluid.vertical.pointing.menu
                    each template_debit_types
                        +debit_menu_item
                div
                .ui.small.inline.header custom
                .ui.icon.button.add_debit_type
                    i.plus.icon
                .ui.fluid.vertical.pointing.menu
                    each custom_debit_types
                        +debit_menu_item
            .eight.wide.column
                with selected_debit
                    +transaction





template(name='debit_menu_item')
    a.item.select_debit(class=debit_class) 
        |#{title}
        small $#{amount}
        if is_automatic
            i.lightning.yellow.icon
        else 
            i.hand.icon
        if is_individual
            i.user.outline.icon(title='student scope')
        if is_classroom 
            i.users.icon(title='classroom scope')



template(name='transaction')
    .ui.segment
        if editing_transaction
            //- +image_edit key='image_id' label='image' direct=true
            +text_edit key='title' direct=true
            +number_edit key='amount' direct=true
            div
            .ui.small.grey.inline.header dispersion type
            //- +boolean_edit key='automatic' direct=true
            +key_value_edit key='dispersion_type' value='automatic' label='automatic'
            +key_value_edit key='dispersion_type' value='manual' label='manual'
            div
            if is_automatic
                .ui.small.grey.inline.header automatic period
                +key_value_edit key='automatic_period' value='daily' label='daily'
                +key_value_edit key='automatic_period' value='weekly' label='weekly'
                div
            div
            if is_manual
                div
                .ui.small.grey.inline.header manual period
                +key_value_edit key='manual_period' value='daily' label='daily'
                +key_value_edit key='manual_period' value='weekly' label='weekly'
                if is_manual_daily
                    div
                    .ui.small.grey.inline.header manual limit type
                    +key_value_edit key='manual_limit_type' value='single' label='single'
                    +key_value_edit key='manual_limit_type' value='multi' label='multi'
                //- div
                //- if limit
                //-     +number_edit key='limit_amount' label='limit amount'
            div
            .ui.small.grey.inline.header scope
            +key_value_edit key='scope' value='individual' label='student'
            +key_value_edit key='scope' value='classroom' label='classroom'
            div
            .ui.button.remove_transaction 
                i.remove.icon
                |remove
            .ui.divider

            .ui.fluid.button.save_transaction
                i.green.checkmark.icon
                |save
        else 
            .ui.header 
                small title
                | #{title}
            .ui.header 
                small amount
                | $#{amount}
            div
            .ui.small.grey.inline.header dispersion type
            .ui.inline.header #{dispersion_type}
            div
            if is_automatic
                .ui.small.grey.inline.header automatic period
                .ui.inline.header #{automatic_period}
                div
            if is_manual
                div
                .ui.small.grey.inline.header manual period
                .ui.inline.header #{manual_period}
                if is_manual_daily
                    div
                    .ui.small.grey.inline.header manual limit type
                    .ui.inline.header #{manual_limit_type}
            div
            .ui.small.grey.inline.header scope
            .ui.inline.header #{scope}
            .ui.divider
            .ui.fluid.button.edit_transaction
                i.pencil.icon
                |edit




template(name='classroom_edit_templates')       
    .ui.large.header 
        i.clone.icon
        |templates
    .ui.stackable.grid
        .row
            .eight.wide.column
                .ui.header my templates
                .ui.button.generate_from_current generate template from current structure
                .ui.fluid.vertical.pointing.menu
                    each my_transaction_templates
                        a.item.select_template(class=template_class) 
                            |#{title}
                .ui.header template marketplace
                .ui.fluid.vertical.pointing.menu
                    each transaction_templates
                        a.item.select_template(class=template_class) 
                            |#{title}
            .eight.wide.column
                with selected_template
                    +template


template(name='template')
    .ui.segment
        if editing_template
            .ui.header editing template
            //- +image_edit key='image_id' label='image' direct=true
            +text_edit key='title' direct=true
            div
            +remove_button
            .ui.divider
            .ui.fluid.button.save_template
                i.green.checkmark.icon
                |save
        else 
            .ui.header viewing template
            .ui.header 
                small title
                | #{title}
            .ui.header 
                small author
                | #{_author_username}
            div
            .ui.small.grey.inline.header credits
            .ui.bulleted.list
                each classroom_credits 
                    .item #{title} +#{amount}
            .ui.small.grey.inline.header debits
            .ui.bulleted.list
                each classroom_debits 
                    .item #{title} -#{amount}
            div
            .ui.divider
            if is_author
                .ui.fluid.button.edit_template
                    i.pencil.icon
                    |edit
            .ui.fluid.button.clone_template
                i.clone.icon
                |clone





template(name='classroom_edit_features')       
    .ui.large.inline.header 
        i.th.icon
        |features
    if is_dev
        .ui.icon.button.add_feature
            i.plus.icon
    .ui.stackable.grid
        .row
            .eight.wide.column
                .ui.header
                    small current monthly bill 
                    |$#{classroom_monthly_bill}/month
        .row
            .seven.wide.column
                .ui.small.header enabled
                .ui.fluid.vertical.pointing.menu
                    each enabled_features
                        +feature_menu_item
                div
                .ui.small.inline.header available
                .ui.fluid.vertical.pointing.menu
                    each disabled_features
                        +feature_menu_item
            .nine.wide.column
                with selected_feature
                    +feature



template(name='feature_menu_item')
    a.item.select_feature(class=feature_class) 
        if icon
            i.icon(class=icon)
        |#{title}
        if dependencies.length
            i.fork.icon(title="dependencies: #{dependencies}")
        if monthly_price
            small $#{monthly_price}/month




template(name='feature')
    .ui.segment(class=feature_class)
        if editing_feature
            .ui.header editing feature
            +text_edit key='title' direct=true
            +slug_edit key='slug' direct=true
            +image_edit key='image_id' label='image' direct=true
            +text_edit key='icon' direct=true
            +textarea_edit key='description' direct=true
            +array_edit key='tags' label='tags' direct=true
            +array_edit key='dependencies' label='dependencies' direct=true
            div
            +number_edit key='monthly_price' label='monthly price' direct=true
            div
            +remove_button
            .ui.divider
            .ui.fluid.button.save_feature
                i.green.checkmark.icon
                |save
        else 
            .ui.header 
                if icon
                    i.icon(class=icon)
                | #{title}
            div
            .ui.small.header $#{monthly_price}/month
            |#{description}
            +array_view key='tags' label='tags' icon='tags' direct=true
            +array_view key='dependencies' label='dependencies' icon='fork' direct=true
            div
            .ui.divider
            if is_dev
                .ui.fluid.small.button.edit_feature
                    i.pencil.icon
                    |edit
            unless enabled
                .ui.fluid.large.button.enable_feature
                    i.toggle.off.icon
                    |enable
            else 
                .ui.fluid.large.button.disable_feature
                    i.toggle.on.icon
                    |disable






template(name='classroom_edit_feature')
    with current_feature
        .ui.header  
            if icon 
                i.icon(class=icon)
            |#{title}
        +Template.dynamic template=feature_edit_template



template(name='classroom_edit_files')
    .ui.header file editing
    //- each file_links
    //- each mmm_files
    //-     .ui.button.toggle
    +link_edit key='link1' label='link 1' direct=true     
    +link_edit key='link2' label='link 2' direct=true     
    +link_edit key='link3' label='link 3' direct=true     
    +link_edit key='link4' label='link 4' direct=true     
    +link_edit key='link5' label='link 5' direct=true     
    +link_edit key='link6' label='link 6' direct=true     
