template(name='schools')
    .ui.stackable.padded.grid
        .row
            .twelve.wide.column
                .ui.inline.header 
                    +i name='school'
                    |schools
                if currentUser
                    .ui.icon.button.add_school(title='add school')
                        //- +i name='plus' classes='ui mini inline image'
                        i.green.large.plus.icon
                        //- |add school
        .row
            .sixteen.wide.column
                .ui.stackable.five.cards
                    each schools
                        +school_card

template(name='school_card')
    .ui.card
        a(href="/school/#{_id}")
            img.ui.image(src="{{c.url image width=200 height=200 crop='lpad'}}")
            //- img.ui.fluid.image(src="{{c.url school_image_id crop='lpad'}}")
        .content
            a.ui.header(href="/school/#{_id}" title='balance') #{title}
            .ui.green.inline.header $#{gsd.school_balance}
            .ui.green.inline.small.header(title='income') ($#{gsd.total_credit_amount}
            .ui.red.inline.small.header(title='expenses') / -$#{gsd.total_debit_amount})
        a.ui.fluid.tertiary.button(href="/school/#{_id}")
            |view details
            i.right.chevron.icon
                    
template(name='school_view_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid
            .row
                .three.wide.column
                    a.ui.fluid.small.button(href="/schools")
                        i.chevron.left.icon
                        +i name='school' classes='ui inline mini image'
                        |schools
                    +image_view key='image' label='image' direct=true
                    div
                    .ui.inline.center.aligned.header
                        | #{title}
                    //- .ui.header
                    //-     small principal
                    //-     | #{principal_name}
                    div
                    .ui.big.fluid.vertical.menu
                        a.item(href="/school/#{current_doc._id}/students" class="{{isActiveRoute regex='school_students'}}")
                            i.icon
                                +ismall name='students'
                            |students
                        a.item(href="/school/#{current_doc._id}/teachers" class="{{isActiveRoute regex='school_teachers'}}")
                            i.icon
                                +ismall name='teacher'
                            |teachers
                        a.item(href="/school/#{current_doc._id}/teachers" class="{{isActiveRoute regex='school_teachers'}}")
                            i.icon
                                +ismall name='classroom'
                            |classroom
                .thirteen.wide.column
                    +yield
    +footer

template(name='school_jobs')        
    +jobs

template(name='school_loans')
    +loans

template(name='school_shop')        
    +shop

template(name='school_grades')        
    .ui.header grades



template(name='school_credits')
    +loans

template(name='school_debits')        
    +shop



    

template(name='school_dashboard')
    with current_doc
        .ui.stackable.padded.grid
            .four.column.row
                .column
                    +school_feed
                .column
                    +school_stats
                .column
                    +school_teachers
                .column
                    +school_students
            .three.colum.row
                .column
                    +school_classrooms
                    
                    
                    
                    
template(name='school_classrooms')
    .ui.header classrooms        
                    
                    
                    
                    
                    
template(name='school_info')
    with current_doc
        +html key='description' direct=true
        +html key='principals_message' direct=true
        +array_view key='tags' direct=true
        +array_view key='location_tags' direct=true
        
            
template(name='school_teachers')
    each school_teachers
        .ui.header #{first_name} #{last_name}


template(name='school_students')
    .ui.header 
        |school students
    .ui.list
        each school_students
            a.title(href="/user/#{username}")
                img.ui.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                .ui.inline.small.header
                    |#{first_name} #{last_name} 
                    .ui.small.inline.header #{credit}c
                                        
template(name='school_reports')
    with current_doc
        .ui.stackable.padded.grid
            .row
                //- .four.wide.column
                //-     a.ui.big.button(href="/school/#{_id}/view" title='save')
                //-         i.chevron.left.icon
                //-         |school
                //- .twelve.wide.column
                .ui.large.header 
                    +i name='invoice' classes='ui inline mini image'
                    |student reports
                table.ui.celled.table
                    thead
                        tr
                            th student
                            th week 1
                            th week 2
                            th week 3
                            th week 4
                            th credit
                    tbody
                        each school_students
                            tr
                                td 
                                    a(href="/user/#{username}") 
                                        img.ui.rounded.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                                        |#{username}
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td.credit_view
                                    .ui.header.credit_view 
                                        .ui.large.header.credit_view $#{credit}




template(name='school_feed')
    .ui.header 
        i.feed.icon
        |school feed
    .ui.feed.mediumscroll
        each school_events
            .event 
                .label
                    img.ui.avatar.image(src="{{c.url target_user.profile_image_id height=100 gravity='face' crop='fill'}}")
                    if is_credit
                        +i name='deposit' classes='ui inline mini image'
                    if is_debit
                        +i name='withdrawal' classes='ui inline mini image'
                    else if icon
                        +i name=icon
                .content
                    .summary
                        a.user(href="/user/#{target_user.username}")
                            |#{target_user.name}
                        |#{text}
                        .date #{when}
                    .meta
                        +voting_small
                        //- a.like
                        //-     i.like.icon 
                        //-     |4 likes
                        a.remove
                            i.undo.icon
                        //- if is_dev
                        //-     +remove_button



template(name='school_stats')
    .ui.header.refresh_school_stats
        +i name='line-chart'
        |school stats
        div
        .ui.green.inline.small.header $#{gsd.school_balance}
        | balance
        div
        .ui.green.inline.small.header $#{gsd.total_credit_amount}
        | income
        div
        .ui.red.inline.small.header -$#{gsd.total_debit_amount}
        | expenses
    .ui.list
        .item #{views} views
        .item #{gsd.student_count} students
        .item #{gsd.credit_count} total credits
        .item #{gsd.debit_count} total debits
        .item $#{gsd.average_credit_per_student} credit/student
        .item $#{gsd.average_debit_per_student} debit/student
        
    +html_raw_view key='google_map' direct=true
