template(name='student_selector')
    .ui.two.column.stackable.grid
        .column
            .ui.small.header 
                i.user.plus.grey.icon
                |create new student
            .ui.fluid.input 
                input#first_name(type='text' placeholder='first name')
            .ui.fluid.input 
                input#last_name(type='text' placeholder='last name')
        .column
            .ui.small.header 
                i.search.grey.icon
                |lookup existing student
            .ui.large.fluid.input
                input#student_input(type='text' placeholder="lookup existing student..")
            each selections
                a.ui.basic.label(href="/student/#{username}")
                    |#{first_name} #{last_name} @#{username}
            if student_results
                .ui.small.header search results
                .ui.middle.aligned.selection.animated.large.list
                    each student_results
                        .select_student.item
                            .item
                                img.ui.avatar.image(src="{{c.url profile_image_id width=100 height=100 gravity='face' crop='fill'}}")
                                strong #{first_name} #{last_name}
                                small @#{username}
            +clear_value                
    .ui.big.list
        each current_doc.student_ids
            +student_item
            
template(name='student_item')            
    .item
        with student
            img.ui.avatar.image(src="{{c.url profile_image_id width=100 height=100 gravity='face' crop='fill'}}")
            .content
                .header #{first_name} #{last_name}
                |$#{credit}
                //- |@#{username} $#{credit}
                i.grey.link.remove.icon.remove_student
