template(name='teachers')
    .ui.stackable.padded.grid
        .ui.header 
            +i name='teacher'
            |teachers
        each teachers
            .four.wide.column
                a(href="/teacher/#{slug}")
                    .ui.card.home_segment
                        img.ui.fluid.image(src="{{c.url image width=400 height=200 crop='fill'}}")
                        .content
                            .ui.large.header #{teacher_code}
                                each teacher_numbers
                                    .ui.basic.label #{this}
                            .ui.grey.small.header #{teacher_street}
                
                
                
template(name='teacher_view')
    .ui.padded.stackable.grid
        .row
            .sixteen.wide.column
                a.ui.big.button(href="/teachers")
                    i.chevron.left.icon
                    +i name='teacher' classes='ui inline mini image'
                    |teachers
                if is_dev
                    .ui.icon.input
                        i.home.icon
                        //- +ismall name='home' classes='ui inline mini image'
                        input.classroom_number(type='number' placeholder='classroom number')
                    .ui.icon.input
                        i.teacher.icon
                        //- +ismall name='teacher' classes='ui inline mini image'
                        input.teacher_number(type='number' placeholder='classroom teacher number')
                    .ui.icon.input
                        i.header.icon
                        //- +ismall name='teacher' classes='ui inline mini image'
                        input.teacher_label(type='text' placeholder='classroom teacher label')
                .ui.large.inline.header 
                    small teacher
                    strong #{teacher.teacher_code}
                each teacher.teacher_numbers
                    .ui.basic.large.label #{this}
        .row
            .ui.sixteen.wide.column
                .ui.three.cards
                    each classrooms
                        +classroom_card

    
//- template(name='teacher_edit')
//-     with current_doc
//-         .ui.stackable.padded.grid
//-             .row
//-                 .six.wide.column 
//-                     .ui.header 
//-                         i.pencil.icon
//-                         | edit '#{title}' teacher
//-                     a.ui.big.fluid.button(href="/teacher/#{_id}/view" title='save')
//-                         i.checkmark.large.green.icon
//-                         |save
//-                     +remove_button
//-                     +image_edit key='teacher_image_id' icon='image' label='image' direct=true
//-                     +array_edit key='tags' label='tags' icon='tags' direct=true
//-                 .ten.wide.column 
//-                     +text_edit key='title' direct=true
//-                     +number_edit key='price' icon='money' direct=true
//-                     +textarea_edit key='description' label='description' icon='content' direct=true
                


template(name='teacher_selector')
    div
    .ui.inline.header 
        |teacher selector
    if current_doc.teacher_id
        .clear_teacher.ui.icon.button(title='remove teacher')
            i.remove.icon
    unless current_doc.teacher_id
        .ui.input
            input#teacher_lookup(type='text' placeholder='lookup teacher..')
            each selections
                .ui.basic.label
                    |#{first_name} #{last_name}
        if teacher_results
            .ui.attached.smoothed.segment
                .ui.middle.aligned.selection.animated.list
                    each teacher_results
                        .select_teacher.item
                            h4.ui.header
                                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{first_name} #{last_name} 
                                small #{username}
    if current_doc.teacher_id
        +teacher_card teacher_id
        //- |#{this}
        //- .item
        //-     .right.floated.content
        //-         i.pull_teacher.remove.link.icon
        //-     .image
        //-         img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        //-     .content
        //-         h4.ui.header
        //-             |#{first_name} #{last_name}
        //-             @#{teachername}




template(name='teacher_card')            
    with teacher
        .ui.segment
            img.ui.avatar.image(src="{{c.url profile_image_id width=100 height=100 gravity='face' crop='fill'}}")
            .ui.inline.header #{first_name} #{last_name}
                small #{username}
                //- |$#{credit}
                //- |@#{username} $#{credit}
                //- i.grey.link.remove.icon.remove_teacher
