template(name='classrooms')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header 
                    +i name='classroom'
                    |classrooms
                .ui.button.add_classroom
                    +i name='plus' classes='ui mini inline image'
                    |add classroom
            .twelve.wide.column
                .ui.stackable.cards
                    each classrooms
                        +classroom_card

template(name='classroom_card')
    .ui.card
        a(href="/classroom/#{_id}/view")
            img.ui.fluid.image(src="{{c.url classroom_image_id crop='lpad'}}")
            //- img.ui.fluid.image(src="{{c.url classroom_image_id crop='lpad'}}")
        .content
            a.ui.header(href="/classroom/#{_id}/view") #{title}
            .ui.small.header net income #{net_income}
            a.ui.fluid.button(href="/classroom/#{_id}/view")
                |view 
                i.right.arrow.icon

                    
template(name='classroom_view_layout')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.small.button(href="/classrooms")
                        i.chevron.left.icon
                        +i name='classroom' classes='ui inline mini image'
                        |classrooms
                    .ui.vertical.fluid.large.pointing.menu
                        a.item(href="/classroom/#{_id}/dashboard" class="{{isActiveRoute regex='classroom_dashboard'}}")
                            i.icon
                                +ismall name='home'
                            |dashboard
                        a.item(href="/classroom/#{_id}/reports" class="{{isActiveRoute regex='classroom_reports'}}")
                            i.icon
                                +ismall name='invoice'
                            | reports
                        a.item(href="/classroom/#{_id}/students" class="{{isActiveRoute regex='classroom_students'}}")
                            i.icon
                                +ismall name='students'
                            | students
                        a.item(href="/classroom/#{_id}/feed" class="{{isActiveRoute regex='classroom_feed'}}")
                            i.icon
                                +ismall name='rss'
                            | feed
                        a.item(href="/classroom/#{_id}/stats" class="{{isActiveRoute regex='classroom_stats'}}")
                            i.icon
                                +ismall name='chart'
                            | stats
                        a.item(href="/classroom/#{_id}/grades" class="{{isActiveRoute regex='classroom_grades'}}")
                            |grades
                            i.icon
                                +ismall name='leaderboard'
                        a.item(href="/classroom/#{_id}/jobs" class="{{isActiveRoute regex='classroom_jobs'}}")
                            |jobs
                            i.icon
                                +ismall name='business'
                        a.item(href="/classroom/#{_id}/shop" class="{{isActiveRoute regex='classroom_shop'}}")
                            i.icon
                                +ismall name='shop'
                            |shop
                        a.item(href="/classroom/#{_id}/services" class="{{isActiveRoute regex='classroom_services'}}")
                            i.icon
                                +ismall name='service'
                            |services
                        a.item(href="/classroom/#{_id}/stock" class="{{isActiveRoute regex='classroom_stock'}}")
                            i.icon
                                +ismall name='stock'
                            |stock
                        a.item(href="/classroom/#{_id}/loans" class="{{isActiveRoute regex='classroom_loans'}}")
                            |loans
                            i.icon
                                +ismall name='debt'
                    +image_view key='classroom_image_id' label='image' direct=true
                    .ui.header
                        small teacher
                        | #{teacher_name}
                    .ui.header
                        small company
                        | #{company_name}
                    a.ui.fluid.button(href="/classroom/#{_id}/edit")
                        +i name='pencil' classes='ui inline mini image'
                        | edit
                .twelve.wide.column
                    +yield


template(name='class_stock')
    .ui.bottom.attached.active.tab.segment(data-tab='dashboard')
        .ui.two.column.stackable.grid
            .row
                .column
                    .ui.header total shares
                    .ui.header share price
                    .ui.header stock price
                    .ui.button buy stock
            .row
                .column
                    +class_feed
                .column
                    +class_stats

template(name='classroom_jobs')        
    +jobs

template(name='classroom_loans')
    +loans

template(name='classroom_shop')        
    +shop



    

template(name='classroom_dashboard')
    with current_doc
        .ui.stackable.padded.grid
            .row
                #date_calendar.ui.calendar
                    .ui.input.left.icon
                        i.calendar.icon
                        input.date_select(type='text' placeholder='date')
                .ui.button 
                    +i name='calendar' classes='ui mini inline image'
                    |disperse weekly salary
            .row
                .sixteen.wide.column
                    .ui.stackable.four.cards
                        each classroom_students
                            .ui.small.card
                                .image
                                    img.ui.tiny.image(src="{{c.url profile_image_id width=400 height=400 gravity='face' crop='fill'}}")
                                .content
                                    a.header(href="/user/#{username}")
                                        |#{first_name} #{last_name} 
                                    .ui.small.header #{credit}c
                                    each individual_credit_types
                                        +class_credit_button
                                    each classroom_debit_types
                                        +class_debit_button
                                        
                                        
template(name='class_credit_button')
    .ui.basic.button.credit_student 
        i.green.plus.icon
        |#{amount}
        |#{title}
    
template(name='class_debit_button')
    .ui.basic.button.debit_student #{title} -#{amount}


    
template(name='classroom_reports')
    with current_doc
        .ui.stackable.padded.grid
            .row
                //- .four.wide.column
                //-     a.ui.big.button(href="/classroom/#{_id}/view" title='save')
                //-         i.chevron.left.icon
                //-         |classroom
                //- .twelve.wide.column
                .ui.large.header 
                    +i name='invoice' classes='ui inline mini image'
                    |student reports
                table.ui.celled.table
                    thead
                        tr
                            th student
                            th week 1
                            th week 2
                            th week 3
                            th week 4
                            th credit
                    tbody
                        each classroom_students
                            tr
                                td 
                                    a(href="/user/#{username}") 
                                        img.ui.rounded.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                                        |#{username}
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td.credit_view
                                    .ui.header.credit_view 
                                        .ui.large.header.credit_view $#{credit}




template(name='classroom_feed')
    .ui.header 
        +i name='rss'
        |feed
    .ui.bulleted.list
        .item Johnny was approved for a $12 loan for the pizza party
        .item Suzy was bought quiet time with the good pillow for $2
        .item Tim earned $4 for taking out the trash
        each class_events
            .item 
                +i name=icon
                |#{text}
                .meta #{when}

template(name='classroom_stats')
    .ui.header 
        +i name='line-chart'
        |stats
        div
        .ui.green.inline.header $72
        | balance
        div
        .ui.green.inline.header $126 
        | income
        div
        .ui.red.inline.header -$50
        | expenses
    //- .ui.accordion
    //-     .title
    .ui.header.refresh_classroom_stats
        i.line.chart.icon
        |stats
    //- i.dropdown.icon
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_classroom_hours}hrs total
        .item #{average_classroom_cost}c / #{average_classroom_duration}hrs avg classroom
        //- .item classroom ranking # reservations
        //- .item classroom ranking $ earned
        //- .item # different renters
        //- .item avg daily earnings
        //- .item avg weekly earnings
        //- .item avg monthly earnings
        //- .item biggest renter
        //- .item predicted payback duration 
        
