

template(name='classroom_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        small editing 
                        strong '#{title}' 
                        small classroom
                    a.ui.big.fluid.button(href="/classroom/#{_id}" title='save')
                        i.checkmark.large.green.icon
                        |save
                    +remove_button
                    +text_edit key='title' direct=true
                    +text_edit key='company_name' label='company name' direct=true
                    +image_edit key='classroom_image_id' label='image' direct=true
                    +textarea_edit key='description' label='description' icon='content' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .twelve.wide.column
                    .ui.stackable.grid
                        .row
                            .sixteen.wide.column
                                .ui.top.attached.tabular.large.six.item.stackable.menu
                                    a.active.item(data-tab="students")     
                                        +ismall name='groups' 
                                        |&nbsp;
                                        |students
                                    a.item(data-tab="income")
                                        +ismall name='deposit' 
                                        |&nbsp;
                                        |income
                                    a.item(data-tab="expenses")
                                        +ismall name='initiate-money-transfer' 
                                        |&nbsp;
                                        |expenses
                                    a.item(data-tab="goals")
                                        +ismall name='goal' 
                                        |&nbsp;
                                        |goals
                                    a.item(data-tab="shop")
                                        +ismall name='shop' 
                                        |&nbsp;
                                        |shop
                                    a.item(data-tab="stock")
                                        +ismall name='line-chart' 
                                        |&nbsp;
                                        |stock
                                .ui.bottom.attached.active.tab.segment(data-tab='students')
                                    .ui.inline.header 
                                        +ismall name='students'
                                        |students
                                    if adding_student
                                        .ui.header adding student
                                        .ui.large.form
                                            .field
                                                input#first_name(type='text' placeholder='first name' autocomplete='off')
                                            .field
                                                input#last_name(type='text' placeholder='last name' autocomplete='off')
                                            //- .field
                                            //-     |Username
                                            //-     input#username(type='text')
                                        .ui.fluid.green.big.button.create_student
                                            |create student
                                    unless adding_student
                                        .ui.icon.button.set_adding_student(title='add student')
                                            i.plus.large.green.icon
                                        +multi_user_edit key='students' direct=true
                                .ui.bottom.attached.tab.segment(data-tab='income')
                                    .ui.two.column.grid
                                        .column
                                            .ui.segment
                                                +number_edit key='daily_salary_amount' label='daily salary' icon='receive-cash' direct=true
                                                +boolean_edit key='daily' label='daily' direct=true 
                                                +date_edit key='day_dispersion' label='date to release'
                                                +time_edit key='time_dispersion' label='time to release'
                                            +boolean_edit key='weekly' label='weekly' direct=true
                                            +number_edit key='bonus_amount' label='bonus amount' icon='gift' direct=true
                                            +number_edit key='overtime_amount' label='overtime amount' icon='property-time' direct=true
                                            +number_edit key='good_grades_amount' label='good grades amount' icon='student-male' direct=true
                                        .column
                                            div
                                            .ui.button.add_credit_type
                                                i.plus.icon
                                                |add credit type
                                            each credit_types
                                                .ui.segment
                                                    //- +image_edit key='image_id' label='image' direct=true
                                                    //- +icon_edit key='icon' direct=true
                                                    +text_edit key='title' direct=true
                                                    //- +textarea_edit key='description' direct=true
                                                    +number_edit key='amount' direct=true
                                                    //- +boolean_edit key='automatic' direct=true
                                                    //- if automatic
                                                    //-     +boolean_edit key='daily' label='daily' direct=true
                                                    //-     +boolean_edit key='weekly' label='weekly' direct=true
                                                    +remove_button
                                .ui.bottom.attached.tab.segment(data-tab='expenses')
                                    .ui.two.column.stackable.grid
                                        .column
                                            .ui.header presets
                                            .ui.segment
                                                +number_edit key='desk_rental_amount' label='desk rental amount' icon='table' direct=true
                                                +date_edit key='day_dispersion' label='date to release'
                                                +time_edit key='time_dispersion' label='time to release'

                                            +number_edit key='janitor_amount' label='janitor daily amount (release 8am everyday)' icon='housekeeper-male' direct=true
                                            +number_edit key='janitor_amount' label='janitor extra fee' icon='housekeeper-male' direct=true
                                            +number_edit key='lunch_amount' label='lunch amount' icon='food' direct=true
                                            +number_edit key='fines_amount' label='fines amount' direct=true
                                            //- +number_edit key='rent_supplies_amount' label='rent supplies amount' direct=true
                                        .column
                                            .ui.header customs
                                            .ui.button.add_debit_type
                                                i.plus.icon
                                                |add debit type
                                            each debit_types
                                                .ui.segment
                                                    //- +image_edit key='image_id' label='image' direct=true
                                                    +text_edit key='title' direct=true
                                                    +number_edit key='amount' direct=true
                                                    //- +boolean_edit key='automatic' direct=true
                                                    //- if automatic
                                                    //-     +boolean_edit key='daily' label='daily' direct=true
                                                    //-     +boolean_edit key='weekly' label='weekly' direct=true
                                                    +remove_button
                                .ui.bottom.attached.tab.segment(data-tab='goals')
                                    +goals_edit_template
                                .ui.bottom.attached.tab.segment(data-tab='shop')
                                    +shop
                                .ui.bottom.attached.tab.segment(data-tab='stock')
                                    +class_stock_edit


template(name='class_stock_edit')
    .ui.header stock/ownership
    if public
        .ui.header public
        if shares 
            .ui.button 
        .ui.button.issue_stock_certificate 
            |issue stock certificate
        each stock_certificate
            .ui.header #{owner_username} %#{percent}
        .ui.header available shares
        each available_shares
            .ui.header ${price} for #{share_amount} shares 
                |#{percent_price} percent price
    else
        .ui.header private
        .ui.button.go_public go public


template(name='shop_edit_template')
    .ui.button.add_shop_item 
        i.plus.icon
        |add item
    each classroom_shop_items
        .ui.header #{title}
    
    
template(name='penalties_edit_template')
    
    
template(name='goals_edit_template')
    .ui.button.add_class_goal 
        i.plus.icon
        |add goal
    +textarea_edit key='goals_notes' label='goals notes' direct=true
    each class_goals
        .ui.header #{title}
    
    
