template(name='classrooms')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.header 
                    +i name='classroom'
                    |classrooms
                .ui.button.add_classroom
                    |add classroom
                .ui.stackable.cards
                    each classrooms
                        +classroom_card

template(name='classroom_card')
    .ui.card
        a(href="/classroom/#{_id}/view")
            img.ui.fluid.image(src="{{c.url classroom_image_id width=400 height=200 crop='fill'}}")
        .content
            a.ui.header(href="/classroom/#{_id}/view") #{title}
            .ui.small.header net income #{net_income}

                    


template(name='classroom_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}' classroom
                    a.ui.big.fluid.button(href="/classroom/#{_id}/view" title='save')
                        i.checkmark.large.green.icon
                        |save
                    +remove_button
                    +text_edit key='title' direct=true
                    +text_edit key='company_name' label='company name' direct=true
                    +image_edit key='classroom_image_id' label='image' direct=true
                    +textarea_edit key='description' label='description' icon='content' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .twelve.wide.column
                    .ui.stackable.grid
                        .row
                            .sixteen.wide.column
                                each features
                                    .ui.button.toggle_feature 
                                        +i name=icon classes='ui inline mini image'
                                        |#{title}
                                
                        .three.column.row
                            each selected_features
                                .column
                                    .ui.header 
                                        +i name=icon
                                        |#{title}
                                    +Template.dynamic template=feature_edit_template
                            .column
                                .ui.header 
                                    +i name='invoice'
                                    |balance sheet
                            .column
                                .ui.header
                                    +i name='find-matching-job'
                                    |job board 
                            .column
                                .ui.header
                                    +i name='goal'
                                    |goals 
                            .column
                                .ui.header
                                    +i name='foul'
                                    |penalties 
                            .column
                                .ui.header 
                                    +i name='shop'
                                    |shop  
                                each shop_items
                                    .ui.header #{title}
                            .column
                                .ui.header 
                                    +i name='debt'
                                    |loans  
                            .column
                            .column
                                .ui.segment
                                    .ui.header 
                                        +i name='initiate-money-transfer'
                                        |expenses settings
                                    +number_edit key='desk_rental_amount' label='desk rental amount' direct=true
                                    +number_edit key='janitor_amount' label='janitor amount' direct=true
                                    +number_edit key='lunch_amount' label='lunch amount' direct=true
                                    +number_edit key='fines_amount' label='fines amount' direct=true
                                    +number_edit key='rent_supplies_amount' label='rent supplies amount' direct=true
                            .column
                                .ui.header 
                                    +i name='shop'
                                    |shop
                                .ui.button.add_shop_item 
                                    i.plus.icon
                                    |add item
                                each classroom_shop_items
                                    .ui.header #{title}
                            .column
                                .ui.header
                                    +i name='debt'
                                    |loans
                            .column
                                .ui.header 
                                    +i name='students'
                                    |students
                                a.ui.button(href='/add_student') 
                                    i.user.plus.icon
                                    |add student
                                +multi_user_edit key='students' direct=true
                

template(name='deposit_edit_template')
    .ui.segment
        .ui.header 
            +i name='deposit'
            |income settings
        +number_edit key='bonus_amount' label='bonus amount' direct=true
        +boolean_edit key='daily' label='daily' direct=true
        +boolean_edit key='weekly' label='weekly' direct=true
        +number_edit key='daily_salary_amount' label='daily salary amount' direct=true
        +number_edit key='overtime_amount' label='overtime amount' direct=true
        +number_edit key='good_grades_amount' label='good grades amount' direct=true



template(name='classroom_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.small.button(href="/classrooms")
                        i.chevron.left.icon
                        +i name='classroom' classes='ui inline mini image'
                        |classrooms
                    .ui.header classroom page
                    +image_view key='classroom_image_id' label='image' direct=true
                    .ui.header teacher name #{teacher_name}
                    .ui.header company name #{company_name}
                    a.ui.fluid.button(href="/classroom/#{_id}/edit")
                        i.pencil.icon
                        |edit
                .twelve.wide.column
                    .ui.stackable.grid
                        .three.column.row
                            .column
                                .ui.header 
                                    +i name='invoice'
                                    |balance sheet
                            .column
                                .ui.header
                                    +i name='find-matching-job'
                                    |job board 
                            .column
                                .ui.header
                                    +i name='goal'
                                    |goals 
                            .column
                                .ui.header
                                    +i name='foul'
                                    |penalties 
                            .column
                                .ui.header 
                                    +i name='shop'
                                    |shop  
                                each shop_items
                                    .ui.header #{title}
                            .column
                                .ui.header 
                                    +i name='debt'
                                    |loans  
                            .column
                                .ui.header 
                                    +i name='deposit'
                                    |income settings
                                +number_view key='bonus_amount' label='bonus amount' direct=true
                                +boolean_view key='daily' label='daily' direct=true
                                +boolean_view key='weekly' label='weekly' direct=true
                                +number_view key='daily_salary_amount' label='daily salary amount' direct=true
                                +number_view key='overtime_amount' label='overtime amount' direct=true
                                +number_view key='good_grades_amount' label='good grades amount' direct=true
                            .column
                                .ui.header 
                                    +i name='initiate-money-transfer'
                                    |expenses settings
                                +number_view key='desk_rental_amount' label='desk rental amount' direct=true
                                +number_view key='janitor_amount' label='janitor amount' direct=true
                                +number_view key='lunch_amount' label='lunch amount' direct=true
                                +number_view key='fines_amount' label='fines amount' direct=true
                                +number_view key='rent_supplies_amount' label='rent supplies amount' direct=true
                    
            .row
                .eight.wide.column
                    .ui.header 
                        +i name='students'
                        |students
                    +multi_user_view key='students' direct=true
                    .ui.numbered.list
                        each classroom_students
                            .item #{first_name} #{last_name}
                .eight.wide.column
                    .ui.header income
                    .ui.list
                        .item salary #{salary}
                        .item behavior #{behavior_total}
                        .item jobs #{jobs_total}
                        .item good grades #{jobs_total}
                    .ui.header expenses
                    .ui.list
                        .item Desk Rental $#{desk_rental_amount}
                        .item Janitor $#{janitor_amount}
                        .item Lunch $#{lunch_amount}
                        .item fines #{fines}
                        .item rent supplies #{rent_supplies}


template(name='classroom_stats')
    //- .ui.accordion
    //-     .title
    .ui.header.refresh_classroom_stats
        i.line.chart.icon
        |stats
    //- i.dropdown.icon
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_classroom_hours}hrs total
        .item #{average_classroom_cost}c / #{average_classroom_duration}hrs avg classroom
        //- .item classroom ranking # reservations
        //- .item classroom ranking $ earned
        //- .item # different renters
        //- .item avg daily earnings
        //- .item avg weekly earnings
        //- .item avg monthly earnings
        //- .item biggest renter
        //- .item predicted payback duration 
        
