template(name='classrooms')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.header 
                    +i name='classroom'
                    |classrooms
                .ui.button.add_classroom
                    |add classroom
                .ui.stackable.cards
                    each classrooms
                        +classroom_card

template(name='classroom_card')
    .ui.card
        a(href="/classroom/#{_id}/view")
            img.ui.fluid.image(src="{{c.url classroom_image_id width=400 height=200 crop='fill'}}")
        .content
            a.ui.header(href="/classroom/#{_id}/view") #{title}
            .ui.small.header net income #{net_income}

                    


template(name='classroom_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}' classroom
                    a.ui.big.fluid.button(href="/classroom/#{_id}/view" title='save')
                        i.checkmark.large.green.icon
                        |save
                    +remove_button
                    +text_edit key='title' direct=true
                    +text_edit key='company_name' label='company name' direct=true
                    +image_edit key='classroom_image_id' label='image' direct=true
                    +textarea_edit key='description' label='description' icon='content' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .twelve.wide.column
                    .ui.stackable.grid
                        .row
                            .sixteen.wide.column
                                //- each features
                                //-     .ui.compact.button.toggle_feature(class=toggle_feature_class)
                                //-         +i name=icon classes='ui inline mini image'
                                //-         |#{title}
                                .ui.four.item.menu
                                    .item
                                        +ismall name='groups' 
                                        |students
                                    .item
                                        +ismall name='money' 
                                        |income
                                    .item expenses
                                    .item jobs
                        .three.column.row
                            each selected_features
                                .column
                                    .ui.header 
                                        +i name=icon
                                        |#{title}
                                    +Template.dynamic template=feature_edit_template
                            .column
                                .ui.header 
                                    +i name='students'
                                    |students
                                a.ui.button(href='/add_student') 
                                    i.user.plus.icon
                                    |add student
                                +multi_user_edit key='students' direct=true
                

template(name='shop_edit_template')
    .ui.button.add_shop_item 
        i.plus.icon
        |add item
    each classroom_shop_items
        .ui.header #{title}
    
    
template(name='penalties_edit_template')
    .ui.button.add_class_penalty
        i.plus.icon
        |add penalty
    +textarea_edit key='penalty_notes' label='penalty_notes' direct=true
    each class_penalties
        .ui.header #{title}
    
    
template(name='goals_edit_template')
    .ui.button.add_class_goal 
        i.plus.icon
        |add goal
    +textarea_edit key='goals_notes' label='goals notes' direct=true
    each class_goals
        .ui.header #{title}
    
    
    
template(name='expense_edit_template')
    +number_edit key='desk_rental_amount' label='desk rental amount' direct=true
    +number_edit key='janitor_amount' label='janitor amount' direct=true
    +number_edit key='lunch_amount' label='lunch amount' direct=true
    +number_edit key='fines_amount' label='fines amount' direct=true
    +number_edit key='rent_supplies_amount' label='rent supplies amount' direct=true
    
    
    
    
template(name='deposit_edit_template')
    +number_edit key='bonus_amount' label='bonus amount' direct=true
    +boolean_edit key='daily' label='daily' direct=true
    +boolean_edit key='weekly' label='weekly' direct=true
    +number_edit key='daily_salary_amount' label='daily salary amount' direct=true
    +number_edit key='overtime_amount' label='overtime amount' direct=true
    +number_edit key='good_grades_amount' label='good grades amount' direct=true


template(name='classroom_dashboard')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.big.button(href="/classroom/#{_id}/view" title='save')
                        i.chevron.left.icon
                        |classroom
                .twelve.wide.column
                    .ui.large.header
                        +i name='dashboard' classes='ui inline mini image'
                        |classroom dashboard
                    #date_calendar.ui.calendar
                        .ui.input.left.icon
                            i.calendar.icon
                            input.date_select(type='text' placeholder='date')
            
            .row
                .sixteen.wide.column
                    table.ui.celled.table
                        thead
                            tr
                                th student
                                th salary
                                th bonus
                                th overtime
                                th good grades
                                th desk rental
                                th janitor
                                th lunch
                                th fines
                                th rent supplies
                                th credit
                        tbody
                            each classroom_students
                                tr
                                    td 
                                        a(href="/user/#{username}/view") #{username}
                                    td.positive $20
                                    td
                                        .ui.icon.button.add_credit
                                            i.green.plus.icon 
                                    td 
                                        .ui.icon.button.add_credit
                                            i.green.plus.icon 
                                    td
                                        .ui.icon.button.add_credit
                                            i.green.plus.icon 
                                    td.negative $10
                                    td.negative $10
                                    td
                                        .ui.icon.button.remove_credit
                                            i.red.minus.icon
                                    td
                                        .ui.icon.button.remove_credit
                                            i.red.minus.icon
                                    td.negative $10
                                    td.credit_view
                                        .ui.header.credit_view 
                                            span.credit_view #{credit}
                    //- .ui.celled.grid
                    //-     .row
                    //-         .two.wide.column
                    //-             .ui.header income
                    //-             .ui.list
                    //-                 .item salary
                    //-                 .item bonus
                    //-                 .item overtime
                    //-                 .item good grades
                    //-             .ui.header expenses
                    //-             .ui.list
                    //-                 .item desk rental
                    //-                 .item janitor
                    //-                 .item lunch
                    //-                 .item fines
                    //-                 .item rent supplies
                    //-         .ten.wide.column
                    //-             each classroom_students
                    //-                 .ui.small.header #{first_name} #{last_name}
                    //-                 .ui.button bonus
                    //-                 .ui.button fine
                    //-                 .ui.button overtime
                    //-                 div #{salary}
                    //-                 div #{bonus}
                    //-                 div #{overtime}
                    //-                 div #{good_grades}
                    //-                 .ui.divider
                    //-                 div #{desk_rental_amount}
                    //-                 div #{janitor_amount}
                    //-                 div #{lunch_amount}
                    //-                 div #{fines_amount}
                    //-                 div #{rent_supplies_amount}
                    //-                 .ui.divider
                    //-                 div #{net_income}
                    //-     .row
                    //-             .ui.header net income
                    

    
template(name='classroom_reports')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.big.button(href="/classroom/#{_id}/view" title='save')
                        i.chevron.left.icon
                        |classroom
                .twelve.wide.column
                    .ui.large.header 
                        +i name='invoice' classes='ui inline mini image'
                        |student reports


template(name='classroom_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.small.button(href="/classrooms")
                        i.chevron.left.icon
                        +i name='classroom' classes='ui inline mini image'
                        |classrooms
                    +image_view key='classroom_image_id' label='image' direct=true
                    .ui.header
                        small teacher:
                        | #{teacher_name}
                    .ui.header
                        small company:
                        | #{company_name}
                .twelve.wide.column
                    a.ui.massive.fluid.button(href="/classroom/#{_id}/edit")
                        +i name='classroom' classes='ui inline mini image'
                        |classroom edit
                    div
                    a.ui.massive.fluid.button(href="/classroom/#{_id}/dashboard")
                        +i name='dashboard' classes='ui inline mini image'
                        |dashboard
                    div
                    a.ui.massive.fluid.button(href="/classroom/#{_id}/reports")
                        +i name='invoice' classes='ui inline mini image'
                        |student reports
                    //- .ui.stackable.grid
                    //-     .three.column.row
                            //- .column 
                            //-     +class_feed
                            //- .column
                            //-     +class_stats
                            //- each selected_features
                            //-     .column
                            //-         .ui.header 
                            //-             +i name=icon
                            //-             |#{title}
                            //-         +Template.dynamic template=feature_view_template
            //- .row
            //-     .eight.wide.column
            //-         .ui.header 
            //-             +i name='students'
            //-             |students
            //-         each students
            //-             .ui.header #{this}
            //-         .ui.numbered.list
            //-             each classroom_students
            //-                 .item #{first_name} #{last_name}
            //-     .eight.wide.column
            //-         .ui.header income
            //-         .ui.list
            //-             .item salary #{salary}
            //-             .item behavior #{behavior_total}
            //-             .item jobs #{jobs_total}
            //-             .item good grades #{jobs_total}
            //-         .ui.header expenses
            //-         .ui.list
            //-             .item desk rental $#{desk_rental_amount}
            //-             .item janitor $#{janitor_amount}
            //-             .item lunch $#{lunch_amount}
            //-             .item fines #{fines}
            //-             .item rent supplies #{rent_supplies}


template(name='class_feed')
    .ui.header 
        +i name='rss'
        |feed
    each class_feed_items
        .ui.header #{title}

template(name='class_stats')
    .ui.header 
        +i name='line-chart'
        |stats
    .ui.large.list
        .item total balance
        .item total income
        .item total expenses
        
        













template(name='classroom_stats')
    //- .ui.accordion
    //-     .title
    .ui.header.refresh_classroom_stats
        i.line.chart.icon
        |stats
    //- i.dropdown.icon
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_classroom_hours}hrs total
        .item #{average_classroom_cost}c / #{average_classroom_duration}hrs avg classroom
        //- .item classroom ranking # reservations
        //- .item classroom ranking $ earned
        //- .item # different renters
        //- .item avg daily earnings
        //- .item avg weekly earnings
        //- .item avg monthly earnings
        //- .item biggest renter
        //- .item predicted payback duration 
        
