template(name='classrooms')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header 
                    +i name='classroom'
                    |classrooms
                .ui.button.add_classroom
                    +i name='plus' classes='ui mini inline image'
                    |add classroom
            .twelve.wide.column
                .ui.stackable.cards
                    each classrooms
                        +classroom_card

template(name='classroom_card')
    .ui.card
        a(href="/classroom/#{_id}")
            img.ui.fluid.image(src="{{c.url classroom_image_id crop='lpad'}}")
            //- img.ui.fluid.image(src="{{c.url classroom_image_id crop='lpad'}}")
        .content
            a.ui.header(href="/classroom/#{_id}" title='balance') #{title}
            .ui.green.inline.header $#{csd.classroom_balance}
            .ui.green.inline.small.header(title='income') ($#{csd.total_credit_amount}
            .ui.red.inline.small.header(title='expenses') / -$#{csd.total_debit_amount})

                    
template(name='classroom_view_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.small.button(href="/classrooms")
                        i.chevron.left.icon
                        +i name='classroom' classes='ui inline mini image'
                        |classrooms
                    +image_view key='classroom_image_id' label='image' direct=true
                    .ui.header
                        | #{title}
                    .ui.header
                        small teacher
                        | #{teacher_name}
                    a.ui.fluid.button(href="/classroom/#{_id}/edit")
                        +i name='pencil' classes='ui inline mini image'
                        | edit
                    .ui.segment
                        .ui.header weekly actions
                        .ui.button income
                        .ui.button desk rental
                
                .twelve.wide.column
                    a.ui.large.button(href="/classroom/#{_id}/dashboard" class="{{isActiveRoute regex='classroom_dashboard'}}")
                        +ismall name='home'
                        |feed
                    a.ui.large.button(href="/classroom/#{_id}/reports" class="{{isActiveRoute regex='classroom_reports'}}")
                        +ismall name='invoice'
                        | reports
                    a.ui.large.button(href="/classroom/#{_id}/students" class="{{isActiveRoute regex='classroom_students'}}")
                        +ismall name='students'
                        | dashboard
                    a.ui.large.button(href="/classroom/#{_id}/lunch" class="{{isActiveRoute regex='classroom_lunch'}}")
                        +ismall name='food'
                        | lunch
                    //- a.ui.button(href="/classroom/#{_id}/feed" class="{{isActiveRoute regex='classroom_feed'}}")
                    //-     +ismall name='rss'
                    //-     | feed
                    //- a.ui.button(href="/classroom/#{_id}/stats" class="{{isActiveRoute regex='classroom_stats'}}")
                    //-     +ismall name='line-chart'
                    //-     | stats
                    //- a.ui.button(href="/classroom/#{_id}/credits" class="{{isActiveRoute regex='classroom_credits'}}")
                    //-     +ismall name='chevron-up'
                    //-     | credits
                    //- a.ui.button(href="/classroom/#{_id}/debits" class="{{isActiveRoute regex='classroom_debits'}}")
                    //-     +ismall name='chevron-down'
                    //-     | debits
                    //- a.ui.button(href="/classroom/#{_id}/grades" class="{{isActiveRoute regex='classroom_grades'}}")
                    //-     +ismall name='leaderboard'
                    //-     |grades
                    //- a.ui.button(href="/classroom/#{_id}/jobs" class="{{isActiveRoute regex='classroom_jobs'}}")
                    //-     +ismall name='business'
                    //-     |jobs
                    //- a.ui.button(href="/classroom/#{_id}/shop" class="{{isActiveRoute regex='classroom_shop'}}")
                    //-     +ismall name='shop'
                    //-     |shop
                    //- a.ui.button(href="/classroom/#{_id}/services" class="{{isActiveRoute regex='classroom_services'}}")
                    //-     +ismall name='service'
                    //-     |services
                    //- a.ui.button(href="/classroom/#{_id}/stock" class="{{isActiveRoute regex='classroom_stock'}}")
                    //-     +ismall name='pie-chart'
                    //-     |stock
                    //- a.ui.button(href="/classroom/#{_id}/loans" class="{{isActiveRoute regex='classroom_loans'}}")
                    //-     +ismall name='debt'
                    //-     |loans
                    +yield


template(name='classroom_stock')
    .ui.two.column.stackable.grid
        .row
            .column
                .ui.header total shares
                .ui.header share price
                .ui.header stock price
                .ui.button buy stock

template(name='classroom_jobs')        
    +jobs

template(name='classroom_loans')
    +loans

template(name='classroom_shop')        
    +shop


template(name='classroom_lunch')        
    .ui.padded.stackable.grid
        .sixteen.wide.column
            .ui.center.aligned.large.header 
                +i name='food'
                |lunch!
            .ui.four.stackable.cards
                each classroom_students
                    unless lunch_chosen
                        .ui.card
                            img.ui.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                            .content
                                .ui.header #{name}
                                .ui.fluid.button.choose_home
                                    +i name='home' classes='ui inline mini image'
                                    |home (-3c)
                                .ui.fluid.button.choose_cafeteria
                                    +i name='food' classes='ui inline mini image'
                                    |cafeteria (-5)
                .ui.center.aligned.button.back_to_classroom
                    i.chevron.left.icon
                    |classroom





template(name='classroom_credits')
    +loans

template(name='classroom_debits')        
    +shop



    

template(name='classroom_dashboard')
    with current_doc
        .ui.stackable.padded.grid
            //- .row
            //-     .sixteen.wide.column
            //-         #date_calendar.ui.calendar
            //-             .ui.input.left.icon
            //-                 i.calendar.icon
            //-                 input.date_select(type='text' placeholder='date')
            //-         .ui.button 
            //-             +i name='calendar' classes='ui mini inline image'
            //-             |disperse weekly salary
            .row
                .eight.wide.column
                    +classroom_feed
                .eight.wide.column
                    +classroom_stats
                    
template(name='classroom_students')
    .ui.styled.accordion
        each classroom_students
            .title
                img.ui.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                .ui.inline.small.header
                    |#{first_name} #{last_name} 
                    .ui.small.inline.header #{credit}c
                i.green.plus.circle.large.icon.add_bonus
                i.red.minus.circle.large.icon.add_fine
            //- .ui.item
            //- .image
            .content
                a.ui.green.large.right.floated.button(href="/user/#{username}")
                    |view profile
                    i.right.chevron.icon
                .description
                    .ui.two.column.stackable.grid
                        .column
                            .ui.vertical.buttons
                                each individual_credit_types
                                    +class_credit_button
                        .column
                            .ui.vertical.buttons
                                each classroom_debit_types
                                    +class_debit_button
                //- .extra.content.smallscroll
                //-     .ui.list
                //-         each student_events
                //-             .item #{text} #{when}
                //-                 +remove_button
                                
            //- .ui.item
            //-     .image
            //-         img.ui.mini.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
            //-     .content
            //-         a.header(href="/user/#{username}")
            //-             |#{first_name} #{last_name} 
            //-         .ui.small.header #{credit}c
            //-         .description
            //-             each individual_credit_types
            //-                 +class_credit_button
            //-             each classroom_debit_types
            //-                 +class_debit_button
            //-     .extra.content.smallscroll
            //-         .ui.list
            //-             each student_events
            //-                 .item #{text} #{when}
            //-                     +remove_button
            //- 
                                        
template(name='class_credit_button')
    .ui.basic.button.credit_student 
        i.green.plus.icon
        |#{amount}
        |#{title}
    
template(name='class_debit_button')
    .ui.basic.button.debit_student 
        i.red.minus.icon
        |#{amount}
        |#{title}


    
template(name='classroom_reports')
    with current_doc
        .ui.stackable.padded.grid
            .row
                //- .four.wide.column
                //-     a.ui.big.button(href="/classroom/#{_id}/view" title='save')
                //-         i.chevron.left.icon
                //-         |classroom
                //- .twelve.wide.column
                .ui.large.header 
                    +i name='invoice' classes='ui inline mini image'
                    |student reports
                table.ui.celled.table
                    thead
                        tr
                            th student
                            th week 1
                            th week 2
                            th week 3
                            th week 4
                            th credit
                    tbody
                        each classroom_students
                            tr
                                td 
                                    a(href="/user/#{username}") 
                                        img.ui.rounded.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                                        |#{username}
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td.credit_view
                                    .ui.header.credit_view 
                                        .ui.large.header.credit_view $#{credit}




template(name='classroom_feed')
    .ui.header 
        +i name='rss'
        |feed
    .ui.feed.mediumscroll
        each classroom_events
            .event 
                .label
                    img.ui.avatar.image(src="{{c.url target_user.profile_image_id height=100 gravity='face' crop='fill'}}")
                    if is_credit
                        +i name='deposit' classes='ui inline mini image'
                    if is_debit
                        +i name='withdrawal' classes='ui inline mini image'
                    else if icon
                        +i name=icon
                .content
                    .summary
                        a.user(href="/user/#{target_user.username}")
                            |#{target_user.name}
                        |#{text}
                        .date #{when}
                    .meta
                        +voting_small
                        //- a.like
                        //-     i.like.icon 
                        //-     |4 likes
                        a.remove
                            i.undo.icon
                        //- if is_dev
                        //-     +remove_button



template(name='classroom_stats')
    .ui.header.refresh_classroom_stats
        +i name='line-chart'
        |stats
        div
        .ui.green.inline.header $#{csd.classroom_balance}
        | balance
        div
        .ui.green.inline.header $#{csd.total_credit_amount}
        | income
        div
        .ui.red.inline.header -$#{csd.total_debit_amount}
        | expenses
    .ui.big.list
        .item #{views} views
        .item #{csd.student_count} students
        .item #{csd.credit_count} total credits
        .item #{csd.debit_count} total debits
        .item $#{csd.average_credit_per_student} credit/student
        .item $#{csd.average_debit_per_student} debit/student
        
