template(name='classrooms')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header 
                    +i name='classroom'
                    |classrooms
                .ui.button.add_classroom
                    +i name='plus' classes='ui mini inline image'
                    |add classroom
            .twelve.wide.column
                .ui.stackable.cards
                    each classrooms
                        +classroom_card

template(name='classroom_card')
    .ui.card
        a(href="/classroom/#{_id}/view")
            img.ui.fluid.image(src="{{c.url classroom_image_id width=400 height=200 crop='fill'}}")
        .content
            a.ui.header(href="/classroom/#{_id}/view") #{title}
            .ui.small.header net income #{net_income}
            a.ui.fluid.button(href="/classroom/#{_id}/view")
                |view 
                i.right.arrow.icon

                    


template(name='classroom_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}' classroom
                    a.ui.big.fluid.button(href="/classroom/#{_id}/view" title='save')
                        i.checkmark.large.green.icon
                        |save
                    +remove_button
                    +text_edit key='title' direct=true
                    +text_edit key='company_name' label='company name' direct=true
                    +image_edit key='classroom_image_id' label='image' direct=true
                    +textarea_edit key='description' label='description' icon='content' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .twelve.wide.column
                    .ui.stackable.grid
                        .row
                            .sixteen.wide.column
                                .ui.top.attached.tabular.large.five.item.menu
                                    a.active.item(data-tab="students")     
                                        +i name='groups' 
                                        &nbsp;
                                        |students
                                    a.item(data-tab="income")
                                        +i name='deposit' 
                                        &nbsp;
                                        |income
                                    a.item(data-tab="expenses")
                                        +i name='initiate-money-transfer' 
                                        &nbsp;
                                        |expenses
                                    a.item(data-tab="goals")
                                        +i name='goal' 
                                        &nbsp;
                                        |goals
                                    a.item(data-tab="shop")
                                        +i name='shop' 
                                        &nbsp;
                                        |shop
                                .ui.bottom.attached.active.tab.segment(data-tab='students')
                                    .ui.header 
                                        +i name='students'
                                        |students
                                    if adding_student
                                        .ui.header adding student
                                        .ui.large.form
                                            .field
                                                input#first_name(type='text' placeholder='first name' autocomplete='off')
                                            .field
                                                input#last_name(type='text' placeholder='last name' autocomplete='off')
                                            //- .field
                                            //-     |Username
                                            //-     input#username(type='text')
                                        .ui.fluid.green.big.button.create_student
                                            |create student
                                    unless adding_student
                                        .ui.button.set_adding_student
                                            i.user.plus.icon
                                            |add student
                                        +multi_user_edit key='students' direct=true
                                .ui.bottom.attached.tab.segment(data-tab='income')
                                    +deposit_edit_template    
                                .ui.bottom.attached.tab.segment(data-tab='expenses')
                                    +expense_edit_template
                                    +penalties_edit_template
                                .ui.bottom.attached.tab.segment(data-tab='goals')
                                    +goals_edit_template
                                .ui.bottom.attached.tab.segment(data-tab='shop')
                                    +shop

template(name='shop_edit_template')
    .ui.button.add_shop_item 
        i.plus.icon
        |add item
    each classroom_shop_items
        .ui.header #{title}
    
    
template(name='penalties_edit_template')
    .ui.button.add_class_penalty
        i.plus.icon
        |add penalty
    +textarea_edit key='penalty_notes' label='penalty_notes' direct=true
    each class_penalties
        .ui.header #{title}
    
    
template(name='goals_edit_template')
    .ui.button.add_class_goal 
        i.plus.icon
        |add goal
    +textarea_edit key='goals_notes' label='goals notes' direct=true
    each class_goals
        .ui.header #{title}
    
    
    
template(name='expense_edit_template')
    +number_edit key='desk_rental_amount' label='desk rental amount' direct=true
    +number_edit key='janitor_amount' label='janitor amount' direct=true
    +number_edit key='lunch_amount' label='lunch amount' direct=true
    +number_edit key='fines_amount' label='fines amount' direct=true
    +number_edit key='rent_supplies_amount' label='rent supplies amount' direct=true
    
    
    
    
template(name='deposit_edit_template')
    +number_edit key='daily_salary_amount' label='daily salary amount' direct=true
    +boolean_edit key='daily' label='daily' direct=true
    +boolean_edit key='weekly' label='weekly' direct=true
    +number_edit key='bonus_amount' label='bonus amount' direct=true
    +number_edit key='overtime_amount' label='overtime amount' direct=true
    +number_edit key='good_grades_amount' label='good grades amount' direct=true


template(name='classroom_dashboard')
    with current_doc
        .ui.stackable.padded.grid
            .row
                //- .four.wide.column
                //-     a.ui.big.button(href="/classroom/#{_id}/view" title='save')
                //-         i.chevron.left.icon
                //-         |classroom
                //- .twelve.wide.column
                //- .ui.large.header
                //-     +i name='dashboard' classes='ui inline mini image'
                //-     |classroom dashboard
                #date_calendar.ui.calendar
                    .ui.input.left.icon
                        i.calendar.icon
                        input.date_select(type='text' placeholder='date')
            .row
                .sixteen.wide.column
                    .ui.stackable.cards
                        each classroom_students
                            .ui.small.horizontal.card
                                .image
                                    img.ui.tiny.image(src="{{c.url profile_image_id width=100 height=100 gravity='face' crop='fill'}}")
                                .content
                                    a.header(href="/user/#{username}")
                                        |#{first_name} #{last_name} 
                                    each classroom_credits
                                        +class_credit_button
                                    each classroom_debits
                                        +class_debit_button
                                        
                                        
template(name='class_credit_button')
    .ui.button #{label}
    
template(name='class_debit_button')
    .ui.button #{label}


    
template(name='classroom_reports')
    with current_doc
        .ui.stackable.padded.grid
            .row
                //- .four.wide.column
                //-     a.ui.big.button(href="/classroom/#{_id}/view" title='save')
                //-         i.chevron.left.icon
                //-         |classroom
                //- .twelve.wide.column
                .ui.large.header 
                    +i name='invoice' classes='ui inline mini image'
                    |student reports
                table.ui.celled.table
                    thead
                        tr
                            th student
                            th week 1
                            th week 2
                            th week 3
                            th week 4
                            th credit
                    tbody
                        each classroom_students
                            tr
                                td 
                                    a(href="/user/#{username}") 
                                        img.ui.rounded.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                                        |#{username}
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td.credit_view
                                    .ui.header.credit_view 
                                        .ui.large.header.credit_view $#{credit}


template(name='classroom_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.small.button(href="/classrooms")
                        i.chevron.left.icon
                        +i name='classroom' classes='ui inline mini image'
                        |classrooms
                    +image_view key='classroom_image_id' label='image' direct=true
                    .ui.header
                        small teacher:
                        | #{teacher_name}
                    .ui.header
                        small company:
                        | #{company_name}
                    a.ui.large.fluid.button(href="/classroom/#{_id}/edit")
                        +i name='pencil' classes='ui inline mini image'
                        |classroom edit
                .twelve.wide.column
                    .ui.top.attached.tabular.large.five.item.menu
                        a.active.item(data-tab="dashboard")     
                            +i name='dashboard' 
                            |&nbsp;
                            |dashboard
                        a.item(data-tab="reports")
                            +i name='invoice' 
                            |&nbsp;
                            |reports
                        a.item(data-tab="jobs")
                            +i name='business' 
                            |&nbsp;
                            |jobs
                        a.item(data-tab="loans")
                            +i name='debt' 
                            |&nbsp;
                            |loans
                        a.item(data-tab="shop")
                            +i name='shop' 
                            |&nbsp;
                            |shop
                    .ui.bottom.attached.active.tab.segment(data-tab='dashboard')
                        .ui.two.column.stackable.grid
                            .column
                                +class_feed
                            .column
                                +class_stats
                        +classroom_dashboard
                    .ui.bottom.attached.tab.segment(data-tab='reports')
                        +classroom_reports
                    .ui.bottom.attached.tab.segment(data-tab='jobs')
                        +jobs
                    .ui.bottom.attached.tab.segment(data-tab='loans')
                        +loans
                    .ui.bottom.attached.tab.segment(data-tab='shop')
                        +shop
                    //- div
                    //- a.ui.massive.fluid.button(href="/classroom/#{_id}/dashboard")
                    //-     +i name='dashboard' classes='ui inline mini image'
                    //-     |dashboard
                    //- div
                    //- a.ui.massive.fluid.button(href="/classroom/#{_id}/reports")
                    //-     +i name='invoice' classes='ui inline mini image'
                    //-     |student reports
                    //- .ui.stackable.grid
                    //-     .three.column.row
                            //- .column 
                            //-     +class_feed
                            //- .column
                            //-     +class_stats
                            //- each selected_features
                            //-     .column
                            //-         .ui.header 
                            //-             +i name=icon
                            //-             |#{title}
                            //-         +Template.dynamic template=feature_view_template
            //- .row
            //-     .eight.wide.column
            //-         .ui.header 
            //-             +i name='students'
            //-             |students
            //-         each students
            //-             .ui.header #{this}
            //-         .ui.numbered.list
            //-             each classroom_students
            //-                 .item #{first_name} #{last_name}
            //-     .eight.wide.column
            //-         .ui.header income
            //-         .ui.list
            //-             .item salary #{salary}
            //-             .item behavior #{behavior_total}
            //-             .item jobs #{jobs_total}
            //-             .item good grades #{jobs_total}
            //-         .ui.header expenses
            //-         .ui.list
            //-             .item desk rental $#{desk_rental_amount}
            //-             .item janitor $#{janitor_amount}
            //-             .item lunch $#{lunch_amount}
            //-             .item fines #{fines}
            //-             .item rent supplies #{rent_supplies}


template(name='class_feed')
    .ui.header 
        +i name='rss'
        |feed
    .ui.bulleted.list
        .item Johnny was approved for a $12 loan for the pizza party
        .item Suzy was bought quiet time with the good pillow for $2
        .item Tim earned $4 for taking out the trash
    each class_feed_items
        .ui.header #{title}

template(name='class_stats')
    .ui.header 
        +i name='line-chart'
        |stats
        div
        .ui.green.inline.header $72
        | balance
        div
        .ui.green.inline.header $126 
        | income
        div
        .ui.red.inline.header -$50
        | expenses
        
        













template(name='classroom_stats')
    //- .ui.accordion
    //-     .title
    .ui.header.refresh_classroom_stats
        i.line.chart.icon
        |stats
    //- i.dropdown.icon
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_classroom_hours}hrs total
        .item #{average_classroom_cost}c / #{average_classroom_duration}hrs avg classroom
        //- .item classroom ranking # reservations
        //- .item classroom ranking $ earned
        //- .item # different renters
        //- .item avg daily earnings
        //- .item avg weekly earnings
        //- .item avg monthly earnings
        //- .item biggest renter
        //- .item predicted payback duration 
        
