template(name='features')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.header 
                    +i name='find-matching-feature'
                    |features
                .ui.button.add_feature
                    +i name='plus' classes='ui inline mini image'
                    |add feature
                .ui.stackable.cards
                    each features
                        +feature_card

template(name='feature_card')
    //- .ui.card    
    a.ui.card(href="/feature/#{_id}/view")
        .content
            a.ui.header(href="/feature/#{_id}/view") #{title}
            +i name=icon     


template(name='feature_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}' feature
                    a.ui.big.fluid.button(href="/feature/#{_id}/view" title='save')
                        i.checkmark.large.green.icon
                        |save
                    +remove_button
                    +image_edit key='feature_image_id' icon='image' label='image' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .ten.wide.column 
                    +text_edit key='title' direct=true
                    +icon_edit key='icon' direct=true
                    +number_edit key='price' icon='money' direct=true
                    +textarea_edit key='description' label='description' icon='content' direct=true
                





template(name='feature_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .eight.wide.column
                    a.ui.button(href="/features")
                        i.chevron.left.icon
                        +i name='feature' classes='ui inline mini image'
                        |feature
                    .ui.header feature view 
                    +image_view key='feature_image_id' label='image' direct=true
                    a.ui.button(href="/feature/#{_id}/edit")
                        i.pencil.icon
                        |edit
                .eight.wide.column
                    .ui.header #{title}
                    +icon_view key='icon' direct=true
                    .ui.header 
                        +i name='feature'
                    +comments
                    


template(name='feature_stats')
    .ui.header.refresh_feature_stats
        i.line.chart.icon
        |stats
    //- i.dropdown.icon
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_feature_hours}hrs total
        .item #{average_feature_cost}c / #{average_feature_duration}hrs avg feature
        
        
        
template(name='ledger_view_template')
    .ui.header 
        +i name='invoice'
        |balance sheet

template(name='jobs_view_template')
    .ui.list
        each jobs
            .item
                | #{title} 
                .ui.small.compact.icon.button.take_job(title='title')
                    +ismall name='circled-up-right-2' classes='take_job'


template(name='goals_view_template')
        
        
        
template(name='penalties_view_template')
    each penalties
        .ui.header #{title}

        
                
                
template(name='loans_view_template')
    .ui.header 
        +i name='debt'
        |loans  
                
                
                
template(name='income_view_template')
    .ui.header 
        +i name='deposit'
        |income settings
    +number_view key='bonus_amount' label='bonus amount' direct=true
    +boolean_view key='daily' label='daily' direct=true
    +boolean_view key='weekly' label='weekly' direct=true
    +number_view key='daily_salary_amount' label='daily salary amount' direct=true
    +number_view key='overtime_amount' label='overtime amount' direct=true
    +number_view key='good_grades_amount' label='good grades amount' direct=true
    
    
template(name='expense_view_template')
    .ui.header 
        +i name='initiate-money-transfer'
        |expenses settings
    +number_view key='desk_rental_amount' label='desk rental amount' direct=true
    +number_view key='janitor_amount' label='janitor amount' direct=true
    +number_view key='lunch_amount' label='lunch amount' direct=true
    +number_view key='fines_amount' label='fines amount' direct=true
    +number_view key='rent_supplies_amount' label='rent supplies amount' direct=true
