template(name='media')
    +page slug='media'
    

template(name='page')
    .ui.padded.stackable.grid
        .centered.row
            .fourteen.wide.column
                with page_doc
                    if is_admin
                        a.ui.button(href="/m/page/#{_id}/edit")
                            i.shield.icon
                            |edit page
                    if show_title
                        .ui.center.aligned.header #{title}
                    +html_view key='content'
        unless page_doc
            if is_admin
                .ui.button.create_page
                    i.plus.icon
                    |create page


template(name='team')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'boulder_bg' width=1000 height=1000 crop='crop'}}")
    
    .ui.padded.stackable.grid
        .centered.row
            .fourteen.wide.column
                .ui.large.header our team
        .centered.row
            .ui.header founders
            each founders
                .six.wide.column
                    img.ui.centered.shadowed.circular.image(src="{{c.url image height=200 width=200 gravity='face' crop='fill'}}")
                    .ui.center.aligned.header #{first_name} #{last_name}
                    .ui.center.aligned.grey.header #{title}
                    p #{description}client
                    a(href=linkedin target='_window')
                        +i name='linkedin' 
        .centered.row
            .ui.header contributors
            each contributors
                .five.wide.column
                    img.ui.centered.shadowed.circular.image(src="{{c.url image height=200 width=200 gravity='face' crop='fill'}}")
                    .ui.header #{first_name} #{last_name}
                    .ui.center.aligned.grey.header #{title}
                    p #{description}client
                    a(href=linkedin target='_window')
                        +i name='linkedin' 

                
