template(name='profile_view')
    with user_from_username_param
        .ui.stackable.padded.grid.global_container
            .row
                //- img.ui.fluid.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .four.wide.column
                    img.ui.centered.circular.image(src="{{c.url user_from_username_param.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    .ui.center.aligned.basic.segment
                        a(href="/user/#{user.username}")
                            .ui.center.aligned.header
                                | #{user.first_name} #{user.last_name}
                            //- .ui.small.header @#{user.username}        
                    if is_current_user
                        a.ui.fluid.button.logout(href="#" title='logout')
                            i.sign.out.alternate.icon
                            //- +ismall name='exit' 
                            |log out
                        //- a.ui.large.button.logout_other_clients(href="#" title='logout other clients')
                        //-     //- i.globe.icon
                        //-     +ismall name='globe' 
                        //-     |log out other clients
                    //- .ui.vertical.fluid.large.pointing.menu
                    //-     a.item(href="/classroom/#{_id}/dashboard" class="{{isActiveRoute regex='classroom_dashboard'}}")
                    //-         i.icon
                    //-             +ismall name='home'
                    //-         |dashboard
                    //-     a.item(href="/classroom/#{_id}/reports" class="{{isActiveRoute regex='classroom_reports'}}")
                    //-         i.icon
                    //-             +ismall name='invoice'
                    //-         | reports
                    //-     a.item(href="/classroom/#{_id}/feed" class="{{isActiveRoute regex='classroom_feed'}}")
                    //-         i.icon
                    //-             +ismall name='rss'
                    //-         | feed
                    //-     a.item(href="/classroom/#{_id}/stats" class="{{isActiveRoute regex='classroom_stats'}}")
                    //-         i.icon
                    //-             +ismall name='chart'
                    //-         | stats
                    //-     a.item(href="/classroom/#{_id}/grades" class="{{isActiveRoute regex='classroom_grades'}}")
                    //-         |grades
                    //-         i.icon
                    //-             +ismall name='leaderboard'
                    //-     a.item(href="/classroom/#{_id}/jobs" class="{{isActiveRoute regex='classroom_jobs'}}")
                    //-         |jobs
                    //-         i.icon
                    //-             +ismall name='business'
                    //-     a.item(href="/classroom/#{_id}/shop" class="{{isActiveRoute regex='classroom_shop'}}")
                    //-         i.icon
                    //-             +ismall name='shop'
                    //-         |shop
                    //-     a.item(href="/classroom/#{_id}/services" class="{{isActiveRoute regex='classroom_services'}}")
                    //-         i.icon
                    //-             +ismall name='service'
                    //-         |services
                    //-     a.item(href="/classroom/#{_id}/stock" class="{{isActiveRoute regex='classroom_stock'}}")
                    //-         i.icon
                    //-             +ismall name='stock'
                    //-         |stock
                    //-     a.item(href="/classroom/#{_id}/loans" class="{{isActiveRoute regex='classroom_loans'}}")
                    //-         |loans
                    //-         i.icon
                    //-             +ismall name='debt'
                    a.ui.fluid.button.item(href="/user/#{user_from_username_param.username}/edit")
                        +ismall name='settings' classes='ui inline mini image'
                        |edit
                    if is_admin
                        .ui.basic.segment
                            .ui.header 
                                +i name='shield'
                                |roles
                            each roles
                                .ui.basic.label #{this}
                .twelve.wide.column
                    .ui.stackable.padded.grid
                        .row
                            .sixteen.wide.column
                                .ui.inline.header.recalc_student_stats
                                    +i name='dashboard'
                                    |#{user_from_username_param.first_name}'s dashboard
                                .ui.inline.grey.header current balance $#{user_from_username_param.credit}
                        .three.column.row
                            .column
                                .ui.segment
                                    .ui.small.header 
                                        +i name='money-bag'
                                        strong $#{ssd.total_credit_amount}
                                        small total weekly income
                                    .ui.small.header
                                        +i name='hashtag'
                                        strong #{ssd.credit_count}
                                        small credits
            
                            .column
                                .ui.segment
                                    .ui.small.header
                                        +i name='shopping-cart-loaded'
                                        strong $#{ssd.total_debit_amount}
                                        small total weekly expenses
                                    .ui.small.header
                                        +i name='hashtag'
                                        strong #{ssd.debit_count}
                                        small debits
        
                            .column
                                .ui.segment
                                    .ui.small.header
                                        +i name='economic-improvement'
                                        |growth from last week
                        .two.column.row
                            .column
                                .ui.segment
                                    .ui.header 
                                        +i name='deposit'
                                        |weekly paycheck (credits)
                                    //- .ui.bulleted.list
                                    //-     each user_credits
                                    //-         .item 
                                    //-             |#{amount}
                                    //-             if icon
                                    //-                 +i name=icon
                                    //-             strong #{text}
                                    //-             small #{when}
                                    .ui.feed.mediumscroll
                                        each user_credits
                                            .event 
                                                .label
                                                    if is_credit
                                                        +i name='deposit' classes='ui inline mini image'
                                                    if is_debit
                                                        +i name='withdrawal' classes='ui inline mini image'
                                                    else if icon
                                                        +i name=icon
                                                .content
                                                    .summary
                                                        a.user(href="/user/#{target_user.username}")
                                                            |#{target_user.name}
                                                        |#{text}
                                                        .date #{when}
                                                    .meta
                                                        +voting_small
                                                        //- a.like
                                                        //-     i.like.icon 
                                                        //-     |4 likes
                                                        a.remove
                                                            i.undo.icon
                                                        //- if is_dev
                                                        //-     +remove_button
            
                                                
                                                
                            .column
                                .ui.segment
                                    .ui.header 
                                        +i name='withdrawal'
                                        |weekly expenses (debits)
                                    .ui.feed.mediumscroll
                                        each user_debits
                                            .event 
                                                .label
                                                    if is_credit
                                                        +i name='deposit' classes='ui inline mini image'
                                                    if is_debit
                                                        +i name='withdrawal' classes='ui inline mini image'
                                                    else if icon
                                                        +i name=icon
                                                .content
                                                    .summary
                                                        a.user(href="/user/#{target_user.username}")
                                                            |#{target_user.name}
                                                        |#{text}
                                                        .date #{when}
                                                    .meta
                                                        +voting_small
                                                        //- a.like
                                                        //-     i.like.icon 
                                                        //-     |4 likes
                                                        a.remove
                                                            i.undo.icon
                                                        //- if is_dev
                                                        //-     +remove_button
                
                        //- +range_edit                
template(name='user_log')
    //- .ui.fluid.styled.accordion
    .ui.basic.segment
        .ui.inline.center.aligned.header 
            //- +i name='overview-pages-4'
            i.list.icon
            |log
        scroll
            .ui.list
                each user_log_events
                    .item
                        .content
                            .header #{body}
                            .description #{when}
