template(name='slides')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.header 
                    +i name='find-matching-slide'
                    |slides
                .ui.button.add_slide
                    +i name='plus' classes='ui inline mini image'
                    |add slide
                .ui.stackable.cards
                    each slides
                        +slide_card

template(name='slide_card')
    //- .ui.card    
    a.ui.card(href="/slide/#{_id}/view")
        .content
            a.ui.header(href="/slide/#{_id}/view") #{title}
            +i name=icon     


template(name='slide_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}' slide
                    a.ui.big.fluid.button(href="/slide/#{_id}/view" title='save')
                        i.checkmark.large.green.icon
                        |save
                    +remove_button
                    +image_edit key='background_image' icon='image' label='background image' direct=true
                    +image_edit key='foreground_image' icon='image' label='foreground image' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .ten.wide.column 
                    +text_edit key='title' direct=true
                    +text_edit key='background_text' direct=true
                    +text_edit key='subtitle' direct=true
                    +link_edit key='link' direct=true
                    +text_edit key='link_text' direct=true
                    +textarea_edit key='description' label='description' icon='content' direct=true
                





template(name='slide_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .eight.wide.column
                    a.ui.button(href="/slides")
                        i.chevron.left.icon
                        +i name='slide' classes='ui inline mini image'
                        |slide
                    .ui.header slide view 
                    +image_view key='slide_image_id' label='image' direct=true
                    a.ui.button(href="/slide/#{_id}/edit")
                        i.pencil.icon
                        |edit
                .eight.wide.column
                    .ui.header #{title}
                    +icon_view key='icon' direct=true
                    .ui.header 
                        +i name='slide'
                    +comments
