template(name='user_about')
    //- +text_view key='address' label='address' icon='marker' direct=true
    //- +phone_view key='phone' label='phone' icon='phone' direct=true
    +text_view key='tagline' label='tag line' icon='signature' direct=true
    +array_view key='tags' label='tags' icon='tags' direct=true
    +array_view key='location_tags' label='location tags' icon='location' direct=true
    +text_view key='spirit_animal' label='spirit animal' icon='year-of-monkey' direct=true
    +link_view key='link' label='link' icon='link' direct=true


template(name='user_workhistory')
    +i name='resume' classes='ui inline image'
    .ui.inline.header work history
    if is_current_user
        +pdf_edit key='resume' label='resume' direct=true
    else
        if resume
            +pdf_view key='resume' label='resume' direct=true
    

template(name='user_reports')
    +i name='resume' classes='ui inline image'
    .ui.inline.header work reports

template(name='user_jobs')
    +i name='business' classes='ui inline image'
    .ui.inline.header user jobs

template(name='user_shop')
    +i name='shop' classes='ui inline image'
    .ui.inline.header shop

template(name='user_loans')
    +i name='debt' classes='ui inline image'
    .ui.inline.header loans

template(name='user_comparison')
    +i name='exchange' classes='ui inline image'
    .ui.inline.header user comparison

template(name='user_stock')
    +i name='pie-chart' classes='ui inline image'
    .ui.inline.header stock

template(name='user_payment')
    +text_view key='payment_preferences' label='payment preferences' icon='online-payment-with-a-credit-card' direct=true
    +boolean_view key='accepts_venmo' label='accepts venmo' icon='online-payment-with-a-credit-card' direct=true
    +boolean_view key='accepts_cash' label='accepts cash' icon='cash' direct=true
    +boolean_view key='accepts_paypal' label='accepts paypal' icon='cash' direct=true
    +image_view key='venmo_qr' label='venmo qr code' direct=true

template(name='user_social')
    +user_people
    +user_wall
template(name='user_reservations')
    each reservations 
        +profile_reservation_item

template(name='profile_reservation_item')
    .ui.segment.grid
        .row
            .twelve.wide.column
                .ui.header #{rental.title}
        .row
            .four.wide.column
                with rental
                    +image_view key='image' direct=true classes='zoom ui mini image'
            .twelve.wide.column
                a.ui.header.inline.lowercase(href="/reservation/#{_id}/view")
                    small from 
                    |{{cal_time start_datetime}}
                a.ui.header.inline.lowercase(href="/reservation/#{_id}/view")
                    small to 
                    |{{cal_time end_datetime}}
                div
                .ui.grey.inline.header #{hour_duration} hrs
                .ui.grey.inline.header(title='credits')
                    i.coins.icon
                    | #{cost}
                .ui.small.header #{when} by #{_author_username}
                a.ui.large.fluid.button(href="/reservation/#{_id}/view")
                    |view
                    i.right.chevron.icon
                if is_admin
                    +remove_button



template(name='user_rentals')
    .ui.three.cards
        each rentals 
            +rental_card
        


template(name='user_people')
    .ui.stackable.grid
        .eight.wide.column
            +user_following
        .eight.wide.column
            +follow_user

                
template(name='user_requests')
    .ui.header requests

template(name='user_dashboard')
    .ui.header 
        +i name='dashboard'
        |dashboard
    .ui.header user posts
    .ui.header user activity
    .ui.header user karma
    .ui.header user services
    .ui.header user sales
    .ui.header user comments
    .ui.header user comments


template(name='user_votes')
    .ui.header 
        +i name='elections'
        |votes

template(name='user_tasks')
    .ui.header 
        +i name='task'
        |tasks

template(name='user_messages')
    .ui.inline.header 
        +i name='envelope'
        |user messages
    .active.content
        if currentUser
            .ui.fluid.icon.input
                i.plus.icon
                input#new_message(type='text' placeholder='new message')
        each user_messages
            .ui.secondary.segment
                .ui.small.header #{body}
                each tags
                    .ui.label #{this}
                div
                +notify_message
                +user_list_toggle key='read_by_ids' label='Mark Read' icon='eye'
                if can_edit
                    +remove_button
                div
                +author_info
                +creation_info
                //- +watson_view
        

template(name='notify_message')
    unless notified
        .ui.circular.basic.icon.button.notify(title="notify #{to_username}")
            i.rss.icon
                
template(name='user_bids')
    .ui.header bids
    each bids
        .ui.fluid.segment.grid
            .row
                .sixteen.wide.column
                    a.ui.inline.header(href="/rental/#{rental._id}/view") #{rental.title} 
                        |$#{bid_amount} for #{date} @ #{hour}
            .row
                .four.wide.column
                    with rental
                        a(href="/rental/#{_id}/view")
                            img.ui.centered.rounded.small.image(src="{{c.url image gravity='face' crop='fit'}}")
                .twelve.wide.column
                    a.ui.button(href="/rental/#{_id}/view")
                        |view
                        i.right.chevron.icon


template(name='user_transactions')
    .ui.segment
        .ui.header sent karma
        each sent_karma
            .ui.segment
                .ui.inline.header #{_author_username}
                |#{description}
                each tags
                    .ui.label #{this}
                .ui.inline.header #{karma_amount}
    +transactions




template(name='user_following')    
    .ui.basic.segment
        .ui.header 
            +i name='alarm'
            |following
        +user_array_list user=user_from_username_param array='following_ids'
          

template(name='follow_user')    
    .ui.basic.segment
        .ui.inline.header
            unless current_user
                a.toggle_follow_user(href='#' title='Follow User')
                    i.renew.icon
            else
                +i name='google-alerts'
            |followed by
        +user_array_list user=user_from_username_param array='followed_by_ids'
                

template(name='user_wall')
    .ui.inline.center.aligned.header 
        +i name='my-topic'
        |wall
    .active.content
        if currentUser
            .ui.fluid.icon.input
                i.plus.icon
                input.new_post(type='text' placeholder='add post...')
        .ui.comments
            each wall_posts
                .comment
                    //- .avatar
                    .active.content
                        a.author(href='#') #{author.first_name} #{author.last_name}
                        .metadata
                            span.date #{when}
                        .text.large120 #{body}
                        .actions
                            +voting_small
                            //- i.remove.link.icon.remove_comment(title='Vote Down')
                            //- i.thumbs.up.link.icon.vote_up_comment(title='Vote Up')
                            //- |#{points}
                            i.message.link.icon.mark_comment_read(title='mark read')        





template(name='user_gallery')
    .ui.header 
        +i name='gallery'
        |gallery
    .ui.header uploaded photos
    .ui.header photos tagged in

template(name='user_connections')
    .ui.large.header 
        +i name='handshake'
        |connections
    .ui.header 
        +i name='customer-insights-manager'
        |connected to
    each connected_to
        .ui.segment
            +small_horizontal_user_card username
            if is_current_user
                +user_connect_button
    .ui.header 
        +i name='customer-insights-manager'
        |connected by
    each connected_by
        .ui.segment
            +small_horizontal_user_card username
        
template(name='user_connect_button')
    .ui.compact.small.button.toggle_connection
        if connected
            +ismall name='share-2'
            .ui.inline.blue.small.header 
                |connected
        else
            +ismall name='share-2'
            .ui.inline.small.header
                |connect
            

        
template(name='user_contact')
    .ui.header 
        +i name='contact'
        |contact
    if current_user
        .ui.header whatever info you want people to contact you by
        +textarea_edit key='contact_info' direct=true
    else
        +textarea_view key='contact_info' direct=true

template(name='user_stats')
    .ui.header 
        +i name='line-chart'
        |stats
    with user_from_username_param
        .ui.header #{karma} karma
        .ui.header #{credits} credits
        


template(name='user_events')
    .ui.header 
        +i name='calendar'
        |calendar



template(name='user_feed')
    .ui.basic.segment
        .ui.inline.header 
            +i name='rss'
            |feed
        //- if current_user
        //-     .ui.fluid.input
        //-         input(type='text' placeholder='Share something...')
    +user_wall
                
    .ui.list
        each user_log_events
            .item
                .content
                    .header #{body}
                    .description #{when}
    
                
template(name='user_bookmarks')
    .ui.header 
        +i name='star'
        |bookmarks
    .ui.four.stackable.cards
        each bookmarks
            .card
                .content
                    a.header(href="/m/#{model}/#{_id}/view") #{title} [#{model}]
                    .description #{when}







template(name='user_notifications')
    .ui.header 
        +i name='appointment-reminders'
        |notifications




template(name='user_tags')
    .ui.header 
        +i name='tags'
        |tags
    //- each tags
    //-     .ui.large.basic.label 
    //-         if is_user
    //-             i.remove.link.icon.remove_tag
    //-         |#{this}
    if is_current_user
        +array_edit key='tags' label='self tags' direct=true
        //- .ui.fluid.input
        //-     input.tag_user(type='text' placeholder='tag yourself...')
    else
        +array_view key='tags' label='self tags' direct=true
        .ui.header 
            +i name='add-tag' classes='ui inline mini image'
            |tag #{user_from_username_param.name}
        unless my_tag_review
            .ui.large.button.new_tag_review
                |tag #{user_from_username_param.first_name}
    each user_tag_reviews
        .ui.secondary.segment
            if can_edit
                +array_edit key='tags' label='your tags' icon='tag-window'  direct=true
            else 
                +array_view key='tags' label='review tags' icon='price-tag' direct=true
            +author_info



template(name='user_finance')
    //- .ui.header 
    //-     +i name='money'
    //-     |finance
    //- .ui.statistic
    //-     .label #{user_from_username_param.name}'s credits
    //-     .value $#{user_from_username_param.credit}
    .ui.stackable.two.column.grid
        if is_current_user
            .column
                .ui.header 
                    +i name='initiate-money-transfer'
                    |withdraw
                |$42 minimum, takes one business day 
                .ui.action.fluid.input
                    input.withdrawal_amount(type='number' min='1' max=currentUser.credit placeholder='amount')
                    .ui.icon.button.initial_withdrawal 
                        i.right.chevron.icon
                .ui.small.header withdrawals
                .ui.bulleted.list
                    each withdrawals
                        .item
                            .ui.header #{when} for #{amount} credit
                            |status: #{status}
                            .ui.button.cancel_withdrawal
                                i.ban.icon
                                |cancel
            .column
                .ui.header 
                    +i name='initiate-money-transfer'
                    |deposits
                |deposits are given +5% credit after credit card processing fee
                .ui.action.fluid.input
                    input.deposit_amount(type='number' min='1' placeholder='deposit')
                    .ui.icon.button.add_credits   
                        i.right.chevron.icon
                        
                .ui.large.bulleted.list
                    each deposits
                        .item 
                            .content
                                .header 
                                    |$#{deposit_amount} + $#{bonus}
                                .description #{when} {{long_date _timestamp}}
                                if is_dev
                                    +remove_button
                
        .column
            .ui.header
                +i name='initiate-money-transfer'
                | purchases
            .smallscroll
                each purchased_reservations
                    .ui.header #{when}
        .column
            .ui.header 
                +i name='initiate-money-transfer'
                |earnings
            each owner_earnings
                .ui.header #{when}
        .column
            .ui.header 
                +i name='initiate-money-transfer'
                |payments sent
            .ui.button
                |request money
        .column
            .ui.header 
                +i name='request-money'
                |payments received
            .ui.button.send_money
                |send money
        .column
            each joint_transactions 
                .ui.header #{when}
