template(name='group_view_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    //- a.ui.fluid.button(href="/my_groups")
                    //-     i.chevron.left.grey.icon
                    //-     i.company.icon
                    //-     //- +i name='group' classes='ui inline mini image'
                    //-     |groups
                    .ui.center.aligned.huge.header
                        | #{title}
                    img.ui.centered.rounded.small.image(src="{{c.url group_image_id gravity='face' crop='fit'}}")
                    .ui.large.fluid.vertical.pointing.menu
                        a.item(href="/group/#{_id}/" class="{{isActiveRoute regex='group_members'}}")
                            i.dashboard.grey.icon
                            | dashboard
                        each enabled_features
                            a.item(href="/group/#{current_doc._id}/f/#{slug}")
                                |#{title}
                                i.grey.icon(class=icon)
                    .ui.header
                        small leader
                        | #{leader_name}
                    if can_edit
                        a.ui.fluid.large.button(href="/group/#{_id}/edit/info")
                            i.pencil.icon
                            | edit
                .twelve.wide.column
                    +yield
    +footer



template(name='group_dashboard')
    //- .ui.header
    //-     img.ui.rounded.small.image(src="{{c.url group_image_id gravity='face' crop='fit'}}")
    //-     |#{title}
    .ui.stackable.grid
        .row
            .eight.wide.column
                +group_info
                +group_members_small
                +group_votes
            .eight.wide.column
                +group_feed
    
    
template(name='group_members_small')   
    .ui.segment 
        .ui.grey.header
            i.users.icon
            | members
        .ui.large.list
            each group_members
                .item
                    img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    .content
                        .header 
                            |#{name}
    
template(name='group_votes')   
    .ui.segment 
        +voting_full
    
template(name='group_info')
    .ui.segment 
        .ui.small.header 
            i.info.icon
            |info
        if description
            p #{description}
        if leader_name
            .ui.small.inline.header #{leader_name}
        if company_name
            .ui.small.inline.header #{company_name}
        if tags.length
            each tags
                .ui.label #{this}
        .ui.list
            .item #{phone}    
            .item #{address}    
            .item #{link}    
            .item #{email}    
            .item #{contact}    
            .item
                each location_tags
                    |#{this}
            
template(name='group_loans')
    .ui.header 
        i.money.icon
        |group loans
    +loans



template(name='group_tasks')
    +group_delta model='task' feature=this


template(name='group_files')
    .ui.large.linked.list
        each classroom_files
            .item 
                a.ui.grey.header(href=link target='_window' title='click to download')
                    |#{title}
                //- a.ui.header(href=link target='_window') #{label}
                //- a.ui.small.header(href=link target='_window') #{link}

    //- +big_link_view key='link2' label='link2' direct=true
    //- +big_link_view key='link3' label='link3' direct=true
    //- +big_link_view key='link4' label='link4' direct=true
    //- +big_link_view key='link5' label='link5' direct=true
    //- +big_link_view key='link6' label='link6' direct=true
    //- +big_link_view key='link7' label='link7' direct=true


template(name='group_lunch')        
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                .ui.center.aligned.large.button.back_to_group
                    i.chevron.left.icon
                    |#{current_doc.title}
            .eight.wide.column
                .ui.center.aligned.large.header 
                    i.food.icon
                    |lunch
            .four.wide.column
            .ui.four.stackable.cards
                each group_members
                    unless lunch_chosen
                        .ui.card
                            img.ui.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                            .content
                                .ui.header #{name}
                                .ui.huge.labeled.icon.fluid.basic.button.choose_home
                                    i.home.icon
                                    |home 
                                    span.ui.red.text -3c
                                .spacer
                                .ui.huge.labeled.icon.fluid.basic.button.choose_cafeteria
                                    i.food.icon
                                    |cafeteria
                                    span.ui.red.text -5c





template(name='group_credits')
    .ui.header 
        i.money.icon
        |group loans
    +loans

    

template(name='group_members')
    //- .ui.header 
    //-     i.dashboard.grey.icon
    //-     |group dashboard
    with current_doc
        .ui.styled.fluid.accordion 
            .title 
                .ui.header
                    | group actions
                    i.dropdown.icon
            .content
                .ui.two.column.grid
                    .column
                        .ui.small.header 
                            i.calendar.grey.inline.icon
                            i.retweet.grey.inline.icon
                            |weekly automatic actions
                        each weekly_automatic_credits
                            .ui.disabled.button(class=bulk_action_class) #{title}
                                span.ui.green.text +#{amount}
                        each weekly_automatic_debits
                            .ui.disabled.button(class=bulk_action_class) #{title}
                                span.ui.green.text +#{amount}
                    .column
                        .ui.small.header 
                            i.clock.grey.inline.icon
                            i.retweet.grey.inline.icon
                            |daily automatic actions
                        each daily_automatic_credits
                            .ui.disabled.button.trigger(class=bulk_action_class) #{title}
                                span.ui.green.text +#{amount}
                        each daily_automatic_debits
                            .ui.disabled.button.trigger(class=bulk_action_class) #{title}
                                span.ui.green.text +#{amount}
                .ui.two.column.grid
                    .column
                        .ui.small.header 
                            i.calendar.grey.inline.icon
                            i.hand.point.up.outline.grey.inline.icon
                            |weekly manual group actions
                        //- .ui.button.pay_salary disperse weekly paycheck
                        //-     span.ui.green.text +#{salary_amount}
                        each weekly_manual_credits
                            .ui.button.trigger(class=bulk_action_class) #{title}
                                span.ui.green.text +#{amount}
                        each weekly_manual_debits
                            .ui.button.trigger(class=bulk_action_class) #{title}
                                span.ui.red.text -#{amount}
                    .column
                        .ui.small.header
                            i.clock.grey.inline.icon
                            i.hand.point.up.outline.grey.inline.icon
                            | daily manual group actions
                        each daily_manual_group_credits
                            .ui.button.credit_group(class=bulk_action_class) #{title}
                                span.ui.green.text +#{amount}
                        each daily_manual_group_debits
                            .ui.button.debit_group(class=bulk_action_class) #{title}
                                span.ui.red.text -#{amount}
    .ui.accordion
        each group_members
            .title
                img.ui.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                .ui.inline.header
                    i.dropdown.icon
                    |#{first_name} #{last_name} 
                .ui.small.inline.header #{credit}c
                i.green.plus.circle.big.link.icon.add_bonus
                i.red.minus.circle.big.link.icon.add_fine
                //- .ui.icon.circular.button.
            //- .ui.item
            //- .image
            .content
                a.ui.basic.green.large.right.floated.button(href="/user/#{username}")
                    |view profile
                    i.right.chevron.icon
                .description
                    .ui.two.column.stackable.grid
                        .column
                            each individual_credit_types
                                +individual_credit_button
                        .column
                            each individual_debit_types
                                +individual_debit_button
                
                                        
template(name='individual_credit_button')
    .ui.button.credit_member 
        |#{title}
        span.ui.green.text
            |+#{amount}
    
template(name='individual_debit_button')
    .ui.button.debit_member 
        |#{title}
        span.ui.red.text
            |-#{amount}


    
template(name='group_reports')
    with current_doc
        +group_stats
        .ui.stackable.padded.grid
            .row
                //- .four.wide.column
                //-     a.ui.big.button(href="/group/#{_id}/view" title='save')
                //-         i.chevron.left.icon
                //-         |group
                //- .twelve.wide.column
                //- .ui.large.header 
                //-     i.line.chart.icon
                //-     |member reports
                table.ui.celled.very.basic.table
                    thead
                        tr
                            th member
                            //- th week 1
                            //- th week 2
                            //- th week 3
                            //- th week 4
                            th credit
                    tbody
                        each group_members
                            tr
                                td 
                                    a.ui.header(href="/user/#{username}") 
                                        img.ui.rounded.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                                        |#{first_name} #{last_name}
                                //- td 
                                //-     .ui.green.header +1
                                //-     .ui.red.header -3
                                //- td 
                                //-     .ui.green.header +1
                                //-     .ui.red.header -3
                                //- td 
                                //-     .ui.green.header +1
                                //-     .ui.red.header -3
                                //- td 
                                //-     .ui.green.header +1
                                //-     .ui.red.header -3
                                td.credit_view
                                    .ui.header.credit_view 
                                        .ui.header.credit_view $#{credit}




template(name='group_feed')
    .ui.inline.header 
        +i name='rss'
        |feed
    if is_admin 
        .ui.button.remove_all_events
            i.shield.icon
            |remove all events
    div
    .ui.feed.scrolling
        each group_events
            .event 
                .label
                    img.ui.avatar.image(src="{{c.url target_user.profile_image_id height=100 gravity='face' crop='fill'}}")
                    if is_credit
                        i.green.plus.icon
                        //- +i name='deposit' classes='ui inline mini image'
                    if is_debit
                        i.red.minus.icon
                        //- +i name='withdrawal' classes='ui inline mini image'
                    else if icon
                        +i name=icon
                .content
                    .summary
                        a.user(href="/user/#{target_user.username}")
                            |#{target_user.name}
                        |#{text}
                        .date #{when}
                    .meta
                        +voting_small
                        a.remove
                            i.undo.icon
                        //- if is_dev
                        //-     +remove_button



template(name='group_stats')
    .ui.two.column.grid
        .column
            .ui.header.refresh_group_stats
                //- +ismall name='line-chart'
                i.line.chart.icon
                |stats
            div
            .ui.green.inline.header $#{gsd.group_balance}
            | balance
            div
            .ui.green.inline.header $#{gsd.total_credit_amount}
            | income
            div
            .ui.red.inline.header -$#{gsd.total_debit_amount}
            | expenses
        .column
            .ui.big.list
                .item #{views} views
                .item #{gsd.member_count} members
                .item #{gsd.credit_count} total credits
                .item #{gsd.debit_count} total debits
                .item $#{gsd.average_credit_per_member} credit/member
                .item $#{gsd.average_debit_per_member} debit/member
        


template(name='group_view_feature')
    with current_feature
        .ui.header  
            if icon 
                i.icon(class=icon)
            |#{title}
        +Template.dynamic template=feature_view_template
