template(name='groups')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    i.users.icon
                    |groups
                if currentUser
                    .ui.icon.button.add_group(title='add group')
                        //- +i name='plus' classes='ui mini inline image'
                        i.green.large.plus.icon
                        //- |add group
                if currentUser
                    .ui.button mine
                    .ui.button all
                div
                +group_cloud
            .twelve.wide.column
                .filter_row.ui.basic.segment(class=loading_class)
                    .ui.inline.small.grey.header
                        |sort by
                    .ui.compact.small.menu
                        .ui.simple.dropdown.item
                            strong #{current_delta.sort_key}
                            i.dropdown.icon
                            .menu
                                each sortable_fields
                                    .item.set_sort_key 
                                        //- +ismall name=icon
                                        |#{title}
                    .ui.compact.icon.button.set_sort_direction
                        if sorting_up
                            //- +ismall name='generic-sorting-2'
                            i.sort.amount.down.icon
                        else
                            //- +ismall name='generic-sorting'
                            i.sort.amount.up.icon
                    //- .ui.compact.button.set_sort_direction
                    //-     |#{current_delta.sort_direction}
                    &nbsp;
                    &nbsp;
                    .ui.inline.small.grey.header
                        |limit
                    .ui.compact.small.menu
                        .ui.simple.dropdown.item
                            strong #{current_delta.limit}
                            i.dropdown.icon
                            .menu
                                +set_limit amount=1
                                +set_limit amount=5
                                +set_limit amount=10
                                +set_limit amount=20
                                +set_limit amount=50

                each groups
                    +group_card_template

template(name='group_cloud')
    .ui.inline.small.grey.header 
        i.tags.icon
        |tags    
    if selected_group_tags
        #clear_group_tags.ui.active.icon.circular.button
            i.remove.icon
        each selected_group_tags
            .unselect_group_tag.ui.active.circular.button
                strong #{this}
    each all_group_tags
        .ui.compact.circular.button.select_group_tag(class=cloud_tag_class) 
            strong #{this.name}
    .spacer
    .ui.inline.small.grey.header 
        i.marker.icon
        |location    
    if selected_group_location_tags
        #clear_group_location_tags.ui.active.icon.circular.button
            i.remove.icon
        each selected_group_location_tags
            .unselect_group_location_tag.ui.active.circular.button
                strong #{this}
    each all_group_location_tags
        .ui.compact.circular.button.select_group_location_tag(class=cloud_tag_class) 
            strong #{this.name}






template(name='group_card_template')
    .ui.segment.stackable.grid
        .four.wide.column
            a(href="/group/#{_id}")
                img.ui.tiny.image(src="{{c.url group_image_id crop='lpad'}}")
        .twelve.wide.column
            a.ui.header(href="/group/#{_id}" title='balance') #{title} #{company_name}
            .content
            each tags
                .ui.label #{this}
            .ui.green.inline.header $#{gsd.group_balance}
            .ui.green.inline.small.header(title='income') ($#{gsd.total_credit_amount}
            .ui.red.inline.small.header(title='expenses') / -$#{gsd.total_debit_amount})
            a.ui.header(href="/group/#{_id}")
                |view 
                i.right.chevron.icon
