template(name='leaders')
    .ui.stackable.padded.grid
        .ui.header 
            +i name='leader'
            |leaders
        each leaders
            .four.wide.column
                a(href="/leader/#{slug}")
                    .ui.card.home_segment
                        img.ui.fluid.image(src="{{c.url image width=400 height=200 crop='fill'}}")
                        .content
                            .ui.large.header #{leader_code}
                                each leader_numbers
                                    .ui.basic.label #{this}
                            .ui.grey.small.header #{leader_street}
                
                
                
template(name='leader_view')
    .ui.padded.stackable.grid
        .row
            .sixteen.wide.column
                a.ui.big.button(href="/leaders")
                    i.chevron.left.icon
                    +i name='leader' classes='ui inline mini image'
                    |leaders
                if is_dev
                    .ui.icon.input
                        i.home.icon
                        //- +ismall name='home' classes='ui inline mini image'
                        input.group_number(type='number' placeholder='group number')
                    .ui.icon.input
                        i.leader.icon
                        //- +ismall name='leader' classes='ui inline mini image'
                        input.leader_number(type='number' placeholder='group leader number')
                    .ui.icon.input
                        i.header.icon
                        //- +ismall name='leader' classes='ui inline mini image'
                        input.leader_label(type='text' placeholder='group leader label')
                .ui.large.inline.header 
                    small leader
                    strong #{leader.leader_code}
                each leader.leader_numbers
                    .ui.basic.large.label #{this}
        .row
            .ui.sixteen.wide.column
                .ui.three.cards
                    each groups
                        +group_card

    
//- template(name='leader_edit')
//-     with current_doc
//-         .ui.stackable.padded.grid
//-             .row
//-                 .six.wide.column 
//-                     .ui.header 
//-                         i.pencil.icon
//-                         | edit '#{title}' leader
//-                     a.ui.big.fluid.button(href="/leader/#{_id}/view" title='save')
//-                         i.checkmark.large.green.icon
//-                         |save
//-                     +remove_button
//-                     +image_edit key='leader_image_id' icon='image' label='image' direct=true
//-                     +array_edit key='tags' label='tags' icon='tags' direct=true
//-                 .ten.wide.column 
//-                     +text_edit key='title' direct=true
//-                     +number_edit key='price' icon='money' direct=true
//-                     +textarea_edit key='description' label='description' icon='content' direct=true
                


template(name='leader_selector')
    div
    .ui.inline.header 
        |leader selector
    if current_doc.leader_id
        .clear_leader.ui.icon.button(title='remove leader')
            i.remove.icon
    unless current_doc.leader_id
        .ui.input
            input#leader_lookup(type='text' placeholder='lookup leader..')
            each selections
                .ui.basic.label
                    |#{first_name} #{last_name}
        if leader_results
            .ui.attached.smoothed.segment
                .ui.middle.aligned.selection.animated.list
                    each leader_results
                        .select_leader.item
                            h4.ui.header
                                img.ui.avatar.image(src="{{c.url kiosk_photo width=100 height=100 gravity='face' crop='fill'}}")
                                |#{first_name} #{last_name} #{leadername}
    if current_doc.leader_id
        +leader_card leader_id
        //- |#{this}
        //- .item
        //-     .right.floated.content
        //-         i.pull_leader.remove.link.icon
        //-     .image
        //-         img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        //-     .content
        //-         h4.ui.header
        //-             |#{first_name} #{last_name}
        //-             @#{leadername}




template(name='leader_card')            
    .item
        with leader
            img.ui.avatar.image(src="{{c.url profile_image_id width=100 height=100 gravity='face' crop='fill'}}")
            .content
                .header #{first_name} #{last_name}
                |$#{credit}
                //- |@#{username} $#{credit}
                //- i.grey.link.remove.icon.remove_leader
