template(name='schools')
    .ui.stackable.padded.grid
        .row
            .twelve.wide.column
                .ui.inline.header 
                    +i name='school'
                    |schools
                if currentUser
                    .ui.icon.button.add_school(title='add school')
                        //- +i name='plus' classes='ui mini inline image'
                        i.green.large.plus.icon
                        //- |add school
        .row
            .sixteen.wide.column
                .ui.stackable.four.cards
                    each schools
                        +school_card

template(name='school_card')
    .ui.card
        a(href="/school/#{_id}")
            img.ui.fluid.image(src="{{c.url image height=300 crop='lpad'}}")
            //- img.ui.fluid.image(src="{{c.url school_image_id crop='lpad'}}")
        .content
            a.ui.header(href="/school/#{_id}" title='balance') #{title}
            .ui.green.inline.header $#{csd.school_balance}
            .ui.green.inline.small.header(title='income') ($#{csd.total_credit_amount}
            .ui.red.inline.small.header(title='expenses') / -$#{csd.total_debit_amount})
        a.ui.fluid.tertiary.button(href="/school/#{_id}")
            |view details
            i.right.chevron.icon
                    
template(name='school_view_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.small.button(href="/schools")
                        i.chevron.left.icon
                        +i name='school' classes='ui inline mini image'
                        |schools
                    +image key='image' label='image' direct=true
                    div
                    .ui.inline.header
                        | #{title}
                    //- .ui.header
                    //-     small principal
                    //-     | #{principal_name}
                    div
                    +school_section_cloud
                    .ui.big.fluid.vertical.menu
                        each school_sections
                            a.item(href="/school/#{current_doc._id}/#{slug}" class="{{isActiveRoute regex=route_slug}}")
                                i.icon
                                    +ismall name=icon
                                |#{title}
                .twelve.wide.column
                    +yield
    +footer

template(name='school_section_cloud')
    if selected_school_section_tags
        #clear_tags.ui.active.icon.circular.tiny.button
            i.remove.icon
        each selected_school_section_tags
            .unselect_school_section_tag.ui.active.circular.tiny.button
                strong #{this}
    each all_school_section_tags
        .ui.compact.circular.basic.tiny.button.select_school_section_tag(class=cloud_tag_class) 
            strong #{this.name}



template(name='school_jobs')        
    +jobs

template(name='school_loans')
    +loans

template(name='school_shop')        
    +shop

template(name='school_grades')        
    .ui.header grades



template(name='school_credits')
    +loans

template(name='school_debits')        
    +shop



    

template(name='school_dashboard')
    with current_doc
        .ui.stackable.padded.grid
            //- .row
            //-     .sixteen.wide.column
            //-         #date_calendar.ui.calendar
            //-             .ui.input.left.icon
            //-                 i.calendar.icon
            //-                 input.date_select(type='text' placeholder='date')
            //-         .ui.button 
            //-             +i name='calendar' classes='ui mini inline image'
            //-             |disperse weekly salary
            .row
                .eight.wide.column
                    +school_feed
                .eight.wide.column
                    +school_stats
                    
template(name='school_info')
    with current_doc
        +html key='description' direct=true
        +html key='principals_message' direct=true
        +array_view key='tags' direct=true
        +array_view key='location_tags' direct=true
        
            
template(name='school_teachers')
    each school_teachers
        .ui.header #{first_name} #{last_name}
template(name='school_students')
    .ui.styled.accordion
        each school_students
            .title
                img.ui.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                .ui.inline.small.header
                    |#{first_name} #{last_name} 
                    .ui.small.inline.header #{credit}c
                .ui.icon.button.add_bonus
                    i.green.plus.circle.large.icon
                .ui.icon.button.add_fine
                    i.red.minus.circle.large.icon
            //- .ui.item
            //- .image
            .content
                a.ui.green.large.right.floated.button(href="/user/#{username}")
                    |view profile
                    i.right.chevron.icon
                .description
                    .ui.two.column.stackable.grid
                        .column
                            .ui.vertical.buttons
                                each individual_credit_types
                                    +class_credit_button
                        .column
                            .ui.vertical.buttons
                                each school_debit_types
                                    +class_debit_button
                //- .extra.content.smallscroll
                //-     .ui.list
                //-         each student_events
                //-             .item #{text} #{when}
                //-                 +remove_button
                                
            //- .ui.item
            //-     .image
            //-         img.ui.mini.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
            //-     .content
            //-         a.header(href="/user/#{username}")
            //-             |#{first_name} #{last_name} 
            //-         .ui.small.header #{credit}c
            //-         .description
            //-             each individual_credit_types
            //-                 +class_credit_button
            //-             each school_debit_types
            //-                 +class_debit_button
            //-     .extra.content.smallscroll
            //-         .ui.list
            //-             each student_events
            //-                 .item #{text} #{when}
            //-                     +remove_button
            //- 
                                        
template(name='school_reports')
    with current_doc
        .ui.stackable.padded.grid
            .row
                //- .four.wide.column
                //-     a.ui.big.button(href="/school/#{_id}/view" title='save')
                //-         i.chevron.left.icon
                //-         |school
                //- .twelve.wide.column
                .ui.large.header 
                    +i name='invoice' classes='ui inline mini image'
                    |student reports
                table.ui.celled.table
                    thead
                        tr
                            th student
                            th week 1
                            th week 2
                            th week 3
                            th week 4
                            th credit
                    tbody
                        each school_students
                            tr
                                td 
                                    a(href="/user/#{username}") 
                                        img.ui.rounded.avatar.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
                                        |#{username}
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td 
                                    .ui.green.header +1
                                    .ui.red.header -3
                                td.credit_view
                                    .ui.header.credit_view 
                                        .ui.large.header.credit_view $#{credit}




template(name='school_feed')
    .ui.header 
        +i name='rss'
        |feed
    .ui.feed.mediumscroll
        each school_events
            .event 
                .label
                    img.ui.avatar.image(src="{{c.url target_user.profile_image_id height=100 gravity='face' crop='fill'}}")
                    if is_credit
                        +i name='deposit' classes='ui inline mini image'
                    if is_debit
                        +i name='withdrawal' classes='ui inline mini image'
                    else if icon
                        +i name=icon
                .content
                    .summary
                        a.user(href="/user/#{target_user.username}")
                            |#{target_user.name}
                        |#{text}
                        .date #{when}
                    .meta
                        +voting_small
                        //- a.like
                        //-     i.like.icon 
                        //-     |4 likes
                        a.remove
                            i.undo.icon
                        //- if is_dev
                        //-     +remove_button



template(name='school_stats')
    .ui.header.refresh_school_stats
        +i name='line-chart'
        |stats
        div
        .ui.green.inline.header $#{csd.school_balance}
        | balance
        div
        .ui.green.inline.header $#{csd.total_credit_amount}
        | income
        div
        .ui.red.inline.header -$#{csd.total_debit_amount}
        | expenses
    .ui.big.list
        .item #{views} views
        .item #{csd.student_count} students
        .item #{csd.credit_count} total credits
        .item #{csd.debit_count} total debits
        .item $#{csd.average_credit_per_student} credit/student
        .item $#{csd.average_debit_per_student} debit/student
        
    +html_raw_view key='google_map' direct=true
