template(name='shop')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    +i name='shop'
                    |shop
                .ui.icon.button.add_product(title='add product')
                    +i name='plus' classes='ui inline mini image'
                .ui.small.header 
                    i.filter.icon
                    |filter
                div
                .ui.small.inline currency
                .ui.button dollars
                .ui.button mmm credit
                .ui.button other
                div
                .ui.small.inline sale type
                .ui.button auction
                .ui.button for sale
                .ui.button for rent
                .ui.button service
                div
                +shop_cloud
            .twelve.wide.column
                .ui.stackable.four.cards
                    each products
                        +shop_card

template(name='shop_card')
    //- .ui.card    
    a.ui.card(href="/shop/#{_id}/view")
        img.ui.fluid.image(src="{{c.url shop_image_id width=400 height=200 crop='fill'}}")
        .content
            .ui.inline.header #{title}
            .ui.big.inline.header $#{price}
            div
            i.grey.tags.icon
            each tags 
                .ui.small.label #{this}
            //- i.dollar.icon
            //- a.ui.large.button(href="/shop/#{_id}")
            //-     i.yellow.right.chevron.icon
                    
template(name='shop_cloud')
    .ui.inline.small.grey.header 
        i.tags.icon
        |tags
    if selected_shop_tags
        #clear_shop_tags.ui.active.icon.circular.button
            i.remove.icon
        each selected_shop_tags
            .unselect_shop_tag.ui.active.circular.button
                strong #{this}
    each all_shop_tags
        .ui.compact.circular.button.select_shop_tag(class=cloud_tag_class)
            strong #{this.name}
    .spacer
    .ui.inline.small.grey.header 
        i.marker.icon
        |location    
    if selected_shop_location_tags
        #clear_shop_location_tags.ui.active.icon.circular.button
            i.remove.icon
        each selected_shop_location_tags
            .unselect_shop_location_tag.ui.active.circular.button
                strong #{this}
    each all_shop_location_tags
        .ui.compact.circular.button.select_shop_location_tag(class=cloud_tag_class) 
            strong #{this.name}






template(name='shop_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .six.wide.column 
                    .ui.header 
                        i.pencil.icon
                        | edit '#{title}' shop
                    a.ui.large.fluid.button(href="/shop/#{_id}/view" title='save')
                        i.checkmark.large.green.icon
                        |save
                    +remove_button
                    +image_edit key='shop_image_id' icon='image' label='image' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .ten.wide.column 
                    +text_edit key='title' direct=true
                    +number_edit key='price' icon='money' direct=true
                    +textarea_edit key='description' label='description' icon='content' direct=true


template(name='shop_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.button(href="/shop")
                        i.chevron.left.icon
                        +i name='shop' classes='ui inline mini image'
                        |shop
                    .ui.header shop view 
                    +image_view key='shop_image_id' label='image' direct=true
                    a.ui.fluid.button(href="/shop/#{_id}/checkout")
                        +i name='buy' classes='ui inline mini image'
                        |purchase
                    +voting_full
                    if can_edit
                        a.ui.fluid.button(href="/shop/#{_id}/edit")
                            i.pencil.icon
                            |edit
                .eight.wide.column
                    .ui.header #{title}
                    .ui.header $#{price}
                    .ui.header 
                        +i name='invoice' classes='ui inline mini image'
                        |purchases
                    each purchases
                        .ui.header #{title}
                    +comments
                .four.wide.column
                    .ui.header 
                        i.line.chart.icon
                        |stats
                    .ui.large.list
                        .item #{views} views
                    

template(name='shop_checkout')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.fluid.button(href="/shop")
                        i.chevron.left.icon
                        +i name='shop' classes='ui inline mini image'
                        |shop
                    .ui.header shop checkout view 
                    +image_view key='shop_image_id' label='image' direct=true
                    a.ui.button(href="/shop/#{_id}/edit")
                        i.pencil.icon
                        |edit
                .twelve.wide.column
                    .ui.header #{title}
                    .ui.header $#{price}
                    .ui.header your credit $#{currentUser.credit}
                    if can_buy
                        .ui.big.green.fluid.button
                            +i name='checkout' classes='ui inline mini image'
                            |buy
                    else if need_credit
                        .ui.big.disabled.fluid.button
                            +i name='cancel' classes='ui inline mini image'
                            |need #{credit_needed} credit
                        
                        


template(name='shop_stats')
    //- .ui.accordion
    //-     .title
    .ui.header.refresh_shop_stats
        i.line.chart.icon
        |stats
    //- i.dropdown.icon
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_shop_hours}hrs total
        .item #{average_shop_cost}c / #{average_shop_duration}hrs avg shop





template(name='shop_view_template')
    .ui.large.list
        each products
            .item 
                |#{title} #{price}
                .ui.small.compact.icon.button.buy_product
                    +ismall name='buy'
                    |#{buy}
        
        
