template(name='minutes')
    .ui.stackable.padded.grid
        .row
            .six.wide.column
                .ui.inline.header 
                    +i name='checklist' classes='ui avatar image'
                    |minutes
                .ui.big.icon.button.add_minute(title='add minute')
                    i.plus.icon
                +cloud filter='minute'
            .ten.wide.column.scrolling
                each minutes
                    +minute_card
                    
                    
template(name='minute_card')
    .ui.fluid.segment
        .ui.header {{medium_date meeting_date}}
        |#{views} views,
        |#{comment_count} comments
        
        each tags
            .ui.basic.label #{this}
        a.ui.large.button.log_view(href="/minute/#{_id}/view")
            |view
            i.right.chevron.icon




template(name='minute_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        |edit minute
                    a.ui.big.icon.fluid.button(href="/minute/#{_id}/view" title='save')
                        i.green.checkmark.icon
                    +remove_button
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .twelve.wide.column 
                    +date_edit key='meeting_date' label='meeting date' icon='calendar' direct=true
                    .ui.small.header 
                        +i name='meeting-room'
                        |board members present
                    .ui.link.list
                        each board_members
                            //- a.item(href="/user/#{username}" target='_window') #{title} - #{first_name} #{last_name} 
                            a.ui.small.header.item(href="/m/board_member/#{_id}/edit" target='_window') #{title} - #{first_name} #{last_name} 
                                .ui.small.compact.button mark present
                                .ui.small.compact.button mark absent
                    .ui.header call to order
                    if called_to_order
                        .ui.header called to order at {{long_date called_to_order_timestamp}}
                    else
                        .ui.button.call_to_order
                            i.bell.icon
                            | call to order
                    //- .ui.header owner/guest
                    +textarea_edit key='owner_guest_notes' label='owner/guest' icon='user-male' direct=true
                    //- .ui.header
                    //-     +i name='approval'
                    //-     |approval of minutes
                    +textarea_edit key='approval_of_minutes_notes' label='approval of minutes' icon='approval' direct=true
                    //- .ui.header
                    //-     +i name='approval'
                    //-     |ratification/ email approvals
                    +textarea_edit key='ratification_email_approvals' label='ratification/ email approval' icon='approval' direct=true
                    //- .ui.header 
                    //-     +i name='invoice'
                    //-     |financial review
                    +textarea_edit key='financial_review_notes' label='financial review' icon='invoice' direct=true
                    //- .ui.header 
                    //-     +i name='sorting-arrows-horizontal'
                    //-     |need for direction
                    .ui.inline.header 
                        +i name='clock'
                        |need for direction business
                    each need_for_direction_updates
                        div
                        +ismall name=project.icon
                        .ui.small.inline.header 
                            |#{project.title}
                        +project_lookup key='project_id' label='project' ref_model='project' direct=true
                        div
                        +textarea_edit key='text' direct=true
                        +remove_button
                        .ui.divider
                    .ui.icon.button.add_need_for_direction_update
                        i.plus.icon
                
                    +textarea_edit key='need_for_direction_notes' label='need for direction' icon='sorting-arrows-horizontal' direct=true
                    div
                    .ui.inline.header 
                        +i name='clock'
                        |old business
                    each old_business_updates
                        div
                        +ismall name=project.icon
                        .ui.small.inline.header 
                            |#{project.title}
                        +project_lookup key='project_id' label='project' ref_model='project' direct=true
                        div
                        +textarea_edit key='text' direct=true
                        +remove_button
                        .ui.divider
                    .ui.icon.button.add_old_business_update
                        i.plus.icon
                    //- +textarea_edit key='old_business_notes' label='new business notes' direct=true
                    div
                    .ui.inline.header 
                        +i name='business'
                        |new business
                    each new_business_updates
                        div
                        +ismall name=project.icon
                        .ui.small.inline.header 
                            |#{project.title}
                        +project_lookup key='project_id' label='project' ref_model='project' direct=true
                        div
                        +textarea_edit key='text' direct=true
                        +remove_button
                        .ui.divider
                    .ui.icon.button.add_new_business_update
                        i.plus.icon
                    //- +textarea_edit key='new_business_notes' label='new business notes' direct=true
                    .ui.header adjournment
                    +textarea_edit key='adjournment_notes' label='adjournment notes' direct=true
                     
                     
template(name='minute_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.fluid.button(href="/minutes")
                        i.left.chevron.icon
                        +i name='list' classes='ui avatar image'
                        |minutes
                    .ui.header view minute
                    a.ui.big.fluid.button(href="/minute/#{_id}/edit")
                        i.pencil.icon
                        |edit minutes
                    +array_view key='tags' label='tags' icon='tags'
                    +voting
                    +comments
                    //- +viewing
                .twelve.wide.column 
                    .ui.center.aligned.header 
                        small minutes of the board of director’s meeting 
                        strong {{short_date meeting_date}}
                    .ui.header
                        +i name='meeting-room'
                        |board members present
                    .ui.header 
                        +i name='service-bell'
                        |call to order
                    .ui.small.header called to order at {{long_date called_to_order_timestamp}}
                    //- .ui.header 
                    //-     +i name='rent'
                    //-     |owner/guest
                    +textarea_view key='owner_guest_notes' label='owner/guest' icon='rent' direct=true
                    //- .ui.header 
                    //-     +i name='approval'
                    //-     |approval of minutes
                    +textarea_view key='approval_of_minutes_notes' icon='approval' label='approval of minutes' direct=true
                    //- .ui.header 
                    //-     +i name='approval'
                    //-     |ratification/ email approvals
                    +textarea_view key='ratification_email_approvals' icon='approval' label='ratification/ email approval' direct=true
                    //- .ui.header 
                    //-     +i name='invoice'
                    //-     |financial review
                    +textarea_view key='financial_review_notes' label='financial review' icon='invoice' direct=true
                    .ui.header
                        +i name='sorting-arrows-horizontal'
                        |need for direction
                    each need_for_direction_updates
                        +ismall name=project.icon
                        .ui.small.inline.header 
                            |#{project.title}
                        | #{text}
                        +voting
                        div
                    +textarea_view key='need_for_direction_notes' icon='sorting-arrows-horizontal' label='need for direction' direct=true
                    .ui.header 
                        +i name='clock'
                        |old business
                    each old_business_updates
                        +ismall name=project.icon
                        .ui.small.inline.header 
                            |#{project.title}
                        | #{text}
                        +voting
                        div
                    |{{nl2br old_business_notes}}
                    //- +textarea_view key='old_business_notes' label='old business' icon='signature' direct=true
                    .ui.header 
                        i.briefcase.icon
                        |new business
                    each old_business_updates
                        +ismall name=project.icon
                        .ui.small.inline.header 
                            |#{project.title}
                        | #{text}
                        +voting
                        div
                
                    |{{nl2br new_business_notes}}
                    //- +textarea_view key='new_business_notes' label='new business' icon='signature' direct=true
                    .ui.header adjournment
                    +textarea_view key='adjournment_notes' label='adjournment' icon='list' direct=true
                +array_view key='tags' label='tags' icon='tags' direct=true
