template(name='tasks')
    .ui.stackable.grid
        .four.wide.column
            .ui.inline.header 
                i.tasks.icon
                |tasks
            .ui.icon.button.add_task 
                i.plus.icon
            div
            +task_cloud
        .twelve.wide.column
            each tasks
                .ui.segment
                    unless is_editing
                        .ui.small.header #{title}
                        each tags
                            .ui.small.basic.label #{this}
                        .ui.icon.circular.button.edit
                            i.pencil.icon
                        +author_info
                        +voting
                    else 
                        +text_edit key='title' direct=true
                        +array_edit key='tags' direct=true
                        .ui.icon.circular.green.button.save
                            i.checkmark.icon



template(name='task_cloud')
    .ui.hidden.divider
    .ui.grey.small.header 
        |targets    
    if selected_target_id
        with selected_target
            .unselect_target.ui.active.circular.button
                strong #{title}
    else 
        each targets
            .ui.compact.circular.button.select_target 
                strong #{title}
    .spacer
    .ui.grey.small.inline.header 
        i.tags.icon
        |tags    
    if selected_task_tags
        #clear_task_tags.ui.active.icon.circular.button
            i.remove.icon
        each selected_task_tags
            .unselect_task_tag.ui.active.circular.button
                strong #{this}
    each all_task_tags
        .ui.compact.circular.button.select_task_tag(class=cloud_tag_class) 
            strong #{this.name}






//- template(name='tasks')
//-     .ui.stackable.padded.grid
//-         .row
//-             .six.wide.column
//-                 +i name='tasks' classes='ui avatar image'
//-                 .ui.inline.header tasks
//-                 .ui.icon.big.button.add_task
//-                     i.plus.green.icon
//-                 div
//-                 +cloud filter='task'
//-                 div
//-                 .ui.large.icon.button.calculate_task_stats(title='calculate task stats')
//-                     i.refresh.icon
//-                 .ui.header 
//-                     +i name='line chart' classes='ui avatar image'
//-                     |task stats
//-                 with task_stats_doc
//-                     .ui.small.header work done
//-                     .ui.small.header total #{total_count}
//-                     .ui.small.header complete tasks #{complete_count}
//-                     .ui.small.header incomplete tasks #{incomplete_count}
//-                     .ui.small.header tasks completed time
//-                     .ui.small.header task estimated time
//-                     .ui.small.header task monthly completion rate
//-             .ten.wide.column.scrolling
//-                 each my_tasks
//-                     +task_card_template


template(name='task_card_template')
    .ui.segment                    
        .ui.inline.header #{title}
            if complete
                i.large.green.checkmark.icon
        .ui.basic.segment
            +html_view key='description' label='description' direct=true
        each tags
            .ui.basic.large.label #{this}
        if is_admin
            +boolean_edit key='complete' label='complete' direct=true
        +boolean_view key='complete' label='complete' direct=true
        div
        +number_view key='estimated_minutes' label='estimated minutes' direct=true
        if due_date
            +date_view key='due_date' label='due date' direct=true
        if due_time
            +time_view key='due_time' label='due time' direct=true
        div
        +multi_user_view key='assigned_to_multiple' label='assigned to' direct=true
        +multi_user_view key='related_people' label='related people' direct=true
        div
        a.ui.button(href="/task/#{_id}/view")
            |view
            i.chevron.right.icon
        if can_edit
            a.ui.button(href="/task/#{_id}/edit")
                i.pencil.icon
                |edit
            +remove_button


template(name='task_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        |edit task
                    a.ui.big.icon.fluid.button(href="/task/#{_id}/view" title='save')
                        i.green.checkmark.icon
                    +remove_button
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .twelve.wide.column 
                    +text_edit key='title' label='title' icon='title' direct=true
                    +html_edit key='description' label='description' icon='content' direct=true
                    div
                    +boolean_edit key='complete' label='complete' icon='checkmark' direct=true
                    div
                    +number_edit key='estimated_minutes' label='estimated minutes' icon='clock' direct=true
                    //- +single_user_edit key='assigned_to' role_filter='user' label='assigned to' icon='user-male' direct=true
                    +multi_user_edit key='assigned_to_multiple' role_filter='user' label='assigned to' direct=true
                    +multi_user_edit key='related_people' label='related people' direct=true

template(name='task_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.fluid.button(href="/tasks")
                        +i name='task' classes='ui avatar image'
                        |tasks
                    .ui.header view task
                    a.ui.big.icon.button(href="/task/#{_id}/edit")
                        i.pencil.icon
                    +voting_full
                    +viewing
                .twelve.wide.column 
                    +text_view key='title' label='title' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +html_view key='description' icon='content' label='description' direct=true
                    +boolean_view key='complete' label='complete' direct=true
                    +number_view key='estimated_minutes' label='estimated minutes' direct=true
                    +multi_user_view key='assigned_to_multiple' label='assigned to' direct=true
                    +multi_user_view key='related_people' label='related people' direct=true
                    +comments




template(name='user_tasks')
    .ui.inline.header 
        +i name='tasks'
        |tasks
    +goto_model slug='task'
    .ui.icon.input
        i.plus.icon
        input.assign_task(type='text' placeholder='assign task...')
    //- .ui.circular.button.view_complete(class=view_complete_class)
    //-     |view completed
    //- .ui.circular.button.view_incomplete(class=view_complete_class)
    //-     |view incomplete
    .ui.header assigned tasks
    each assigned_tasks
        +user_task_segment
    .ui.header tasks referenced in
    each referenced_in_tasks
        +user_task_segment

template(name='user_task_segment')
    .ui.segment
        a.ui.header(href="/task/#{_id}/view") #{body}
        +boolean_edit key='complete' label='complete' direct=true true_icon='checkmark' false_icon='remove'
        +voting
        +author_info
        +creation_info
        if is_author
            +remove_button
    a.ui.icon.button(href="/task/#{_id}/view")
        i.right.chevron.icon
    a.ui.icon.button(href="/task/#{_id}/edit")
        i.pencil.icon
