template(name='gallery')
    .ui.stackable.padded.grid
        .row
            .six.wide.column
                .ui.inline.header 
                    +i name='gallery' classes='ui avatar image'
                    |gallery
                .ui.big.icon.button.add_picture(title='add picture')
                    i.plus.icon
                +cloud filter='picture'
            .ten.wide.column.scrolling
                each pictures
                    +picture
                    
                    
template(name='picture')
    .ui.fluid.segment
        .ui.header #{title}
        +image_view key='image' direct=true
        |!{description}
        each tags
            .ui.basic.label #{this}
        +edit_button
        +view_button






template(name='picture_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        |edit picture
                    a.ui.big.icon.fluid.button(href="/picture/#{_id}/view" title='save')
                        i.green.checkmark.icon
                    +remove_button
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .twelve.wide.column 
                    +text_edit key='title' label='title' icon='title' direct=true
                    +image_edit key='image' label='image' icon='image' direct=true
                    +html_edit key='description' label='description' icon='content' direct=true
                    +boolean_edit key='published' label='published' icon='checkmark' direct=true
                     
                     
template(name='picture_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.fluid.button(href="/gallery")
                        +i name='gallery' classes='ui avatar image'
                        |pictures
                    .ui.header view picture
                    a.ui.big.icon.button(href="/picture/#{_id}/edit")
                        i.pencil.icon
                    +voting_full
                    +viewing
                .twelve.wide.column 
                    +text_view key='title' label='title' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +html_view key='description' icon='content' label='description' direct=true
                    +image_view key='image' icon='image' label='image' direct=true
                    +boolean_view key='published' label='published' direct=true
                    +comments
