template(name='posts')
    .ui.stackable.padded.grid
        .ui.fluid.accordion
            .title
                .ui.inline.header 
                    //- +i name='line chart' classes='ui avatar image'
                    |stats
                    .ui.basic.large.label #{post_stats_doc.total_count} total
                    .ui.basic.large.label #{post_stats_doc.complete_count} complete 
                    .ui.basic.large.label #{post_stats_doc.incomplete_count} incomplete 
                    .ui.basic.large.label #{post_stats_doc.total_updates_count} total updates 
                    i.dropdown.icon
            .content
                .ui.grid
                    .three.column.row
                        .column
                            .ui.icon.button.recalc_posts(title='recalculate')
                                i.refresh.icon
                            with post_stats_doc
                                .ui.mini.header posts completed time
                                .ui.mini.header post estimated time
                                .ui.mini.header post monthly completion rate
                        .column
                            +latest_post_updates
                        .column
                            .ui.header 
                                +i name='comments'
                                |latest comments
                            .ui.large.link.bulleted.list
                                each latest_comments
                                    a.active.item(href="/post/#{parent_id}/view") 
                                        strong #{body}
                                    |#{when}
        .row
            .six.wide.column
                .ui.inline.header 
                    +i name='elections' classes='ui avatar image'
                    |posts
                .ui.big.icon.button.add_post(title='add post')
                    i.plus.icon
                +cloud filter='post'
            .ten.wide.column.scrolling
                each posts
                    +post_card_template
                    
                    
                    
                    
template(name='post_card_template')
    .ui.fluid.segment
        a.ui.inline.header(href="/post/#{_id}/view")
            //- if icon
            //-     +i name=icon
            |#{title}
        |!{content}
        each ten_tags
            .ui.basic.label
        +ismall name='tags' classes='ui inline image'
        each tags
            .ui.basic.label #{this}
        div
        +voting_full
        a.ui.button(href="/post/#{_id}/view")
            |view
            i.right.chevron.icon


template(name='post_update_small')
    .ui.small.header #{text}


template(name='posts_small')
    a.ui.header(href="/m/post")
        +i name='posts'
        |posts 
    .ui.large.link.list.smallcolumn
        each posts 
            .item
                a(href="/m/post/#{_id}/view")
                    if image
                        img.ui.mini.inline.image(src="{{c.url image width=300 height=300 gravity='face' crop='fill'}}")
                    if picture
                        img.ui.mini.inline.image(src="{{c.url picture width=300 height=300 gravity='face' crop='fill'}}")
                    |#{title}
        


//- template(name='posts_small')
//-     a.ui.header(href="/m/post")
//-         +i name='blog'
//-         |posts
//-     .ui.animated.large.list
//-         each posts
//-             a.item(href="/m/#{model}/#{_id}/view")
//-                 .ui.small.header #{title}
//-                 //- span(title='views and points')
//-                 //-     |#{views}
//-                 //-     i.eye.grey.icon
//-                 //-     |#{points}
//-                 //-     i.thumbs.up.outline.grey.icon


template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header 
                        i.pencil.icon
                        |edit post
                    a.ui.big.icon.fluid.button(href="/post/#{_id}/view" title='save')
                        i.green.checkmark.icon
                    +remove_button
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                .twelve.wide.column 
                    +text_edit key='title' label='title' icon='title' direct=true
                    +html_edit key='content' label='content' icon='content' direct=true
                    +boolean_edit key='published' label='published' icon='checkmark' direct=true
                    +multi_user_edit key='associated_members'

template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    a.ui.fluid.button(href="/m/post")
                        +i name='blog' classes='ui avatar image'
                        |posts
                    .ui.header view post
                    a.ui.big.icon.button(href="/post/#{_id}/edit")
                        i.pencil.icon
                    +voting_full
                    +viewing
                .twelve.wide.column 
                    +text_view key='title' label='title' direct=true
                    .ui.segment
                        +html_view key='content' icon='content' label='content' direct=true
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    +boolean_view key='published' label='published' direct=true
                    +comments
