template(name='admin_layout')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'frontrange' width=1000 height=1000 crop='crop'}}")    
    +nav
    .ui.stackable.padded.grid
        .row
            .three.wide.column
                .ui.header 
                    i.shield.icon
                    |admin
                .ui.small.header for mmm project managment
                .ui.vertical.fluid.large.menu
                    a.item(href="/tasks")
                        i.tasks.icon
                        | tasks
                    a.item(href="/users")
                        i.users.icon
                        | users
                    //- a.item(href="/dev_blog")
                    //-     i.blog.icon
                    //-     | dev blog
                    a.item(href="/feed")
                        i.rss.icon
                        | feed
                    a.item(href="/bugs")
                        i.bug.icon
                        | bugs
                .ui.header admins
                .ui.list
                    each admins 
                        .item #{name}
        
            .thirteen.wide.column
                +yield
    +footer
            
            
template(name='admin')
    .ui.header admin            
                
                                
template(name='dev_blog')
    .eight.wide.column
        .ui.button.add_post
            i.plus.icon
            |post
        .ui.header
            i.blog.icon
            |admin blog
        each admin_posts
            .ui.header #{content}



template(name='latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |all activity
    .ui.list
        each latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body} 
                .ui.basic.label #{log_type}
                small #{when}
